{% extends "slideshow/slideshow-index-single-column.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	



	<!-- Page Styles -->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}
	</style>

<!-- Standard pan and zom -->	
<!--<style>

svg {
  background: transparent;
}

.sphere {
  fill: transparent;
}

.land {
  /*fill: #000;*/
  stroke-width: 1px;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.boundary {
  fill: none;
  stroke-width: 1px;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.overlay {
  fill: none;
  pointer-events: all;
}

</style>-->

<!--  /*Click Zoom to Bounding Box*/  -->
<style type="text/css">

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  /*fill: #ccc;*/
  stroke-width: 1px;
  stroke: #fff;
  cursor: pointer;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

.feature.active {
	stroke-width: 1px;
  	fill: orange;
}

.mesh {
  fill: none;
  stroke-width: 1px;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
}

</style>

	<!-- RENDERING MAP -->
	<!--<style>

path {
  fill: none;
  stroke: #fff;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

</style>-->
{% endblock %}


{% block content %}

<div id="map-canvas" class="flex-item">
</div>


{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/js/d3.min.js"></script>
	<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
	<!-- <script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script> -->

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script src="//d3js.org/topojson.v1.min.js"></script>

<!-- Standard map pan and zoom -->
<!--<script>

var width = $("#contentArea").width(),
    height = $("#contentArea").height();

var projection = d3.geo.mercator()
    .translate([width / 2, height / 2])
    .scale((width - 1) / 2 / Math.PI);

var zoom = d3.behavior.zoom()
    .scaleExtent([1, 8])
    .on("zoom", zoomed);

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("#map-canvas").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g");

var g = svg.append("g");

svg.append("rect")
    .attr("class", "overlay")
    .attr("width", width)
    .attr("height", height);

svg
    .call(zoom)
    .call(zoom.event);

// points
var aa = [-122.490402, 37.786453];
var bb = [-122.389809, 37.72728];

d3.json("/static/data/world-50m.json", function(error, world) {
  if (error) throw error;

  g.append("path")
      .datum({type: "Sphere"})
      .attr("class", "sphere")
      .attr("d", path);

  g.append("path")
      .datum(topojson.merge(world, world.objects.countries.geometries))
      .attr("class", "land")
      .attr("d", path);

  g.append("path")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "boundary")
      .attr("d", path);

  // add circle points - - -
  // add circles to svg
    /*svg.selectAll("circle")
		.data([aa,bb]).enter()
		.append("circle")
		.attr("cx", function (d) { console.log(projection(d)); return projection(d)[0]; })
		.attr("cy", function (d) { return projection(d)[1]; })
		.attr("r", "8px")
		.attr("fill", "red")*/

});

function zoomed() {
  g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

d3.select(self.frameElement).style("height", height + "px");

</script>-->

	
	<!-- Zoom to Bounding Box -->
<!--<script type="text/javascript">
		var topojson = {
		  version: "0.0.1",
		  mesh: function(topology) {
		    var kx = topology.transform.scale[0],
		        ky = topology.transform.scale[1],
		        dx = topology.transform.translate[0],
		        dy = topology.transform.translate[1];
		    return {
		      type: "MultiLineString",
		      coordinates: topology.arcs.map(function(arc) {
		        var y0 = 0,
		            x0 = 0;
		        return arc.map(function(point) {
		          var x1 = x0 + point[0],
		              y1 = y0 + point[1];
		          x0 = x1;
		          y0 = y1;
		          return [x1 * kx + dx, y1 * ky + dy];
		        });
		      })
		    };
		  }
		};
	</script>-->
<script>

		/*var width = 960,
		    height = 500,
		    active = d3.select(null);*/
	    var width = $("#contentArea").width(),
		    height = $("#contentArea").height(),
		    active = d3.select(null);

		var projection = d3.geo.mercator()//d3.geo.albersUsa()
		    .scale(240)
		    .translate([width / 2, height / 1.2]);

		var path = d3.geo.path()
		    .projection(projection);

		var svg = d3.select("#map-canvas").append("svg")
		    .attr("width", width)
		    .attr("height", height);

		svg.append("rect")
		    .attr("class", "background")
		    .attr("width", width)
		    .attr("height", height)
		    .on("click", reset);

		var g = svg.append("g")
		    .style("stroke-width", "1.5px");

		d3.json("/static/data/world-50m.json", function(error, world) {
		  if (error) throw error;
		  console.log("world", world);
		  g.selectAll("path")
		      .data(topojson.feature(world, world.objects.countries).features)
		    .enter().append("path")
		      .attr("d", path)
		      .attr("class", "feature")
		      .on("click", clicked);

		  g.append("path")
		      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
		      .attr("class", "mesh")
		      .attr("d", path);

	      var points = [
	      	[-122.490402, 37.786453],
			/*[-122.389809, 37.72728],
			[36.789987, 18.90887653],
			[0.001, 0.000012],
			[-33.929046, 18.449198],*/
			[51.508476, -0.134564]
	      ]

	      	// points
			var aa = [-122.490402, 37.786453];
			var bb = [-122.389809, 37.72728];

	      	// add circle points - - -
  			// add circles to svg
		    svg.selectAll("circle")
				.data(points).enter()
				.append("circle")
				.attr("cx", function (d) { return projection(d)[0]; })
				.attr("cy", function (d) { return projection(d)[1]; })
				.attr("r", "8px")
				.attr("fill", "red")
				.translate([width / 2, height / 1.2]);

		});

		function clicked(d) {
		  if (active.node() === this) return reset();
		  active.classed("active", false);
		  active = d3.select(this).classed("active", true);

		  var bounds = path.bounds(d),
		      dx = bounds[1][0] - bounds[0][0],
		      dy = bounds[1][1] - bounds[0][1],
		      x = (bounds[0][0] + bounds[1][0]) / 2,
		      y = (bounds[0][1] + bounds[1][1]) / 2,
		      scale = .9 / Math.max(dx / width, dy / height),
		      translate = [width / 2 - scale * x, height / 2 - scale * y];

		  g.transition()
		      .duration(750)
		      .style("stroke-width", 1.5 / scale + "px")
		      .attr("transform", "translate(" + translate + ")scale(" + scale + ")");

	      d3.selectAll("circle")
	      	.transition()
			.duration(750)
			.attr("transform", "translate(" + translate + ")scale(" + scale + ")");
		}

		function reset() {
		  active.classed("active", false);
		  active = d3.select(null);

		  g.transition()
		      .duration(750)
		      .style("stroke-width", "1.5px")
		      .attr("transform", "");

	      d3.selectAll("circle")
	      	.transition()
			.duration(750)
			.attr("transform", "");

		}

</script>



	<!-- RENDERING MAP -->

	<!--
	<script type="text/javascript">
		var topojson = {
		  version: "0.0.1",
		  mesh: function(topology) {
		    var kx = topology.transform.scale[0],
		        ky = topology.transform.scale[1],
		        dx = topology.transform.translate[0],
		        dy = topology.transform.translate[1];
		    return {
		      type: "MultiLineString",
		      coordinates: topology.arcs.map(function(arc) {
		        var y0 = 0,
		            x0 = 0;
		        return arc.map(function(point) {
		          var x1 = x0 + point[0],
		              y1 = y0 + point[1];
		          x0 = x1;
		          y0 = y1;
		          return [x1 * kx + dx, y1 * ky + dy];
		        });
		      })
		    };
		  }
		};
	</script>
	<script type="text/javascript">
		var width = $("#contentArea").width();
		var height = $("#contentArea").height();
		
		/*var canvas = d3.select("#map-canvas")
			.attr("width", width)
			.attr("height", height)
		
		d3.json("/static/data/world.geo.json", function(data){
			console.log(data);
			var group = canvas.selectAll("g")
				.data(data.features)
				.enter()// returns an array of elements that are in datat but not in DOM
				.append("g")

			var projection = d3.geo.mercator().scale(7300).translate(0, 500);
			var path = d3.geo.path().projection( projection )

			var countries = group.append("path")
				.attr("d", path)
				.attr("class", "area")
				.attr("fill", "steelblue");

		});*/

		var projection = d3.geo.mercator()
    		.scale(250)
    		.clipAngle(90);

		var path = d3.geo.path()
		    .projection(projection);

		var graticule = d3.geo.graticule();

		var λ = d3.scale.linear()
		    .domain([0, width])
		    .range([-180, 180]);

		var φ = d3.scale.linear()
		    .domain([0, height])
		    .range([90, -90]);

		//var svg = d3.select("body").append("svg")
		var svg = d3.select("#map-canvas").append("svg")
		    .attr("width", width)
		    .attr("height", height);

		/*svg.on("mousemove", function() {
		  var p = d3.mouse(this);
		  projection.rotate([λ(p[0]), φ(p[1])]);
		  svg.selectAll("path:not(.foreground)").attr("d", path);
		});*/

		svg.append("path")
		    .attr("class", "graticule")
		    .datum(graticule)
		    .attr("d", path);

		svg.append("path")
		    .datum(graticule.outline)
		    .attr("class", "foreground")
		    .attr("d", path);

		//d3.json("/static/data/world.geo.json", function(error, topology) {
		d3.json("/static/data/world-110m.json", function(error, topology) {
		  svg.append("path")
		      .datum(topojson.mesh(topology))
		      .attr("d", path);
		});

	</script>-->

{% endblock %}

