@charset "UTF-8";

// ==================
// Note for flexbox
// ==================
//Read: http://css-tricks.com/old-flexbox-and-new-flexbox/
//Mixing both old- and new syntax http://css-tricks.com/using-flexbox/


// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

/* @font-face {
  font-family: 'isocpeur';
  src: url('isocpeur.ttf')  format('truetype')
} */

// variables
//$body-font-family: 'Dosis' !default;
//$header-font-family: 'Dosis' !default;

@font-face {
    font-family: isocpeur;
    /* src: url('Nitti_Light.ttf')             format('truetype'); */
    //src: url(isocpeur.woff2);
    src: url('isocpeur.woff2')           format('woff2'),
  	url('isocpeur.woff')            format('woff'),
  	url('isocpeur.ttf')             format('truetype');
}

@font-face {
    font-family: nitti;
    src: url('Nitti_Light.ttf')             format('truetype');
}

@font-face {
    font-family: isocpeur-header;
    //src: url(isocpeur.woff2);
    src: url('isocpeur.woff2')           format('woff2'),
  	url('isocpeur.woff')            format('woff'),
  	url('isocpeur.ttf')             format('truetype');
}

$body-font-family: 'isocpeur' !default;
$header-font-family: 'isocpeur' !default;

/*** Colors ***/
$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: #5c5d68 !default;//color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

$hamburger-color: #b7b7b7;

/*** Modals ***/
$modal-bg-color: #1e1e1e;//rgba(0,0,0,0.8);

/*** General Colors ***/
$bg-color: #000;//#000;232323
$font-color: #b7b7b7;//#f2f2f2;//#c4c4c6;//#ededed;//#fff;
$hover-font-color: lighten($bg-color, 25%);

/*** Font Size ***/
$font-size-sm: 14px;//16px;
$font-size-md: 14.5px;//16.5px;
$font-size-lg: 16px;//18px;

$font-hover-color: #fff;//6b6b6b


/*** Google Marker Colors ***/

$in-flight-color: #4c7df7;
$waiting-to-land-color: #ff7926;
$parked-color: #e0e0e0;
$taking-off-color: #67e54b;
$arriving-soon-color: #db4804;




$header-font-size: 2.5rem;
$subheader-font-size: 1.8rem;
$body-font-size: 1rem;
$minor-font-size: 1rem;
$body-letter-spacing: 0px;

$body-font-size-mobile: 1rem;
$header-font-size-mobile: 2rem;
$subheader-font-size-mobile: 1.5rem;

/*** Layout ***/

$sidebar-width: 20%;
$sidebar-height: 100%;
$sidebar-bg-color: #000;
$main-bg-color: #000;

$footernav-height: 2.5rem;
$footernav-menu-line-height: 1.3rem;


/* grid bars */
$grid-bar-width: 2rem;
$grid-bar-color: #595959;
$grid-bar-thickness: 1px;

/* slideshow-editing variables */

$preview-container-height: 10rem;
$preview-container-padding: 1rem;
$preview-slide-height: $preview-container-height - ( 2*$preview-container-padding );//8rem;


/* D3 colours */
$waiting-to-take-off-color: #ce2d2d;
$in-flight-color: #F1F100;

/* general styles */
$border-radius: 0.2rem;

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

// ============================================================================
// Cards
// ============================================================================
.card.white-border-card {
	background-color: transparent;
	border: 1px solid $font-color;
}

.card .btn-flat {
	padding-left: 0rem;
}



// ============================================================================
// Layout
// ============================================================================

#main {
	background-color: $bg-color;
	overflow: hidden;
	position:relative;
}

#SideBar {
	position: absolute;
    right: 0px;
    top: 0px;
	height: 100%;
	width: $sidebar-width;
	background-color: $bg-color;
	z-index: 1;
	font-size: 1rem;
	line-height: 1.1;
	text-transform: uppercase;
}
#SideBar.closed {
	left: 100%;
}

.footerNav {
	position: fixed;
	bottom: 0px;
	height: $footernav-height;
	line-height: $footernav-height;
	font-size: $minor-font-size;
	width: 100%;
	//padding-right: $sidebar-width;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start | flex-end | center | space-between | space-around; */
	justify-content: space-around;
	z-index: 1;
}
.footerNav.solid-bg {
	background-color: $bg-color;
}
.footerNav.footerNav-map {
	padding-right: 0px;
}

#contentArea {
	position: absolute;
    height: 100%;
    width: 100%;
    //padding-right: 20%;
    padding-bottom: 0;
    background-color: transparent;
    z-index: 0;
}
#contentArea.pos-relative {
	position: relative;
	height: auto;
}
#contentArea.padding-bot-5 {
	padding-bottom: 5rem;
}

.singleColumn #contentArea {
	position:relative;
 	min-height: 100%;
    width: 100%;
    padding-right: 0%;
    padding-bottom: $footernav-height;
    margin-bottom: 0.5rem;
    background-color: transparent;
    z-index: 0;
}

// add flexbox to entire contentArea for the single column layout
.singleColumn #contentArea {
	position:relative;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

.singleColumn .footerNav {
	position:fixed;
	width: 100%;
	padding-right: $sidebar-width;
	bottom: 0px;
}

.singleColumn.fullWidth .footerNav {
	padding-right: 0px;
}

.mapSingleColumn #contentArea{
	position:relative;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding-right: 0px;
}

#sidebar-content-map {
	position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10rem;
    font-size: $minor-font-size;
    text-transform: uppercase;
}


// ============================================================================
// Login / Register
// ============================================================================

#userType-message {
	margin-top: 3rem;
	min-height: 4rem;
}

.userType_w {
    display: inline-block;
    width: 48%;
}

// ============================================================================
// Search
// ============================================================================
.search_w {

    width: 100vw; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

// ============================================================================
// Content Area - UTC clock
// ============================================================================

#utc_clock {
	position: fixed;
	top: 1rem;
	right: 2rem;
	font-size: 0.8rem;
}
#activity_indicator {
	position: fixed;
	bottom: 3rem;
	left: 2rem;
	font-size: 0.8rem;
}

// ============================================================================
// General Mobile
// ============================================================================

nav .button-collapse {

    margin-top: 0.5rem;
	margin-left: 2rem;

}


// ============================================================================
// Content Area - index / map
// ============================================================================

#fp-map {
	height: 105%;
}

.vector-arrow {
	//vector-effect: non-scaling-stroke;
}

.cta {
	-webkit-animation: fadeIn 1s; /* Safari 4+ */
  	-moz-animation:    fadeIn 1s; /* Fx 5+ */
  	-o-animation:      fadeIn 1s; /* Opera 12+ */
  	animation:         fadeIn 1s;
/*   	-webkit-animation: fadeOut 4s;
  	-moz-animation:    fadeOut 4s;
  	-o-animation:      fadeOut 4s;
  	animation:         fadeOut 4s; */
}

.in-flight-color {
	color: $in-flight-color !important;
}
.in-flight-color .landing-label{
		display: none;
		float: right;
}
#in-flight {
	.item-flight-code {
		/* display: inline-block; */
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		max-width: 15rem;
	}
}
.item-landing-date {
	display: none;
	float: right;
	padding-left: 1rem;
}
.waiting-to-take-off-color {
	color: $waiting-to-take-off-color !important;
}

.countries {
  fill: #000;
  stroke: #7a7a7a;//#646464;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.airport {
  /*fill: #2f875c;*/
  stroke: #3e31c6;//#2f875c;
  stroke-width: 3px;
  /*stroke-linecap: round;
  stroke-linejoin: round;*/
  vector-effect: non-scaling-stroke;
}
.airport-color {
  stroke: #3e31c6;
}
.freeport {
  /*fill: #ad3a3a;*/
  stroke: #2f8925;//#ad3a3a;
  stroke-width: 3px;
  /*stroke-linecap: round;
  stroke-linejoin: round;*/
  vector-effect: non-scaling-stroke;
}
.freeport-color {
  stroke: #2f8925;
}
.freeport.sonic {
  /*fill: #ad3a3a;*/
  stroke: #ffa100;//#ad3a3a;
  stroke-width: 3px;
  /*stroke-linecap: round;
  stroke-linejoin: round;*/
  vector-effect: non-scaling-stroke;
}
.freeport-color.sonic {
  stroke: #ffa100;
}
.artist {
  /*fill: #ff7200;*/
  stroke: #ce2d2d;//#ff7200;
  stroke-width: 1px;
  /*stroke-linecap: round;
  stroke-linejoin: round;*/
  vector-effect: non-scaling-stroke;
}
.artist-color {
  stroke: #ce2d2d;
}
.route {
  fill: none;
  stroke-width: 0;
}

/*// foreignobject .label-text*/
.detail-container {
  min-width: 7rem;
  padding: 0.2rem;
  height: auto;
  color: #fff;
  //display: none;
  font-size: 0.6rem;
  border-radius: $border-radius;
  background-color: rgb(50,50,50);
  cursor: pointer;
}

#map {
	width: 100%;
	height: 100%;
}

/*@media(max-width: 768px) {
  #map {
    margin-top: -100px;
  }
}
@media(min-width: 768px) {
  #map {
    margin-top: -300px;
  }
}*/

#planeNote {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 100px;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.2rem;
}


.nonterritorial-sidenav {
	background-color: $bg-color;
	color: $font-color;
	border-right: 1px solid $font-color;
	padding-top: 1rem;
}
.nonterritorial-sidenav a {
	color: $font-color !important;
    height: 2rem;
    line-height: 2rem;
}
.nonterritorial-sidenav a.selected {
	color: #fff !important;
}
.nonterritorial-sidenav .divider {
	margin-top: 0rem;
}
.nonterritorial-sidenav li:hover, .side-nav li.active {
    background-color: $modal-bg-color;
}

@media #{$small-and-down} {
	.grid-bar-container {
		display: none !important;
	}
	#headerGrid {
		display: none !important;
	}
	.footerNav {
		display: none !important;
	}

	#contentArea {
		position:relative !important;
	}

	#sidebar-content-map {
	    width: 100%;
	    text-align: left;
	    position: relative;
	    top: auto;
	    transform: none;
	    right: auto;
	    font-size: 1.2rem;
	    text-transform: uppercase;
	    padding: 2rem;
	}
	#sidebar-content-map .sidebarMenu{
		padding: 0px;
	}

	.item {
		text-align:left;
	}

	.in-flight-color .landing-label{
		display: inline-block;
		float: right;
	}

	#in-flight {
		.item-flight-code {
			display: inline-block;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			max-width: 8rem;
		}
	}
	.item-landing-date {
		display: inline-block;
		float: right;
		padding-left: 1rem;
	}

}


// ============================================================================
// Content Area - list views
// ============================================================================

.right-align-medium {
	text-align: right;
}
@media #{$medium-and-down} {
	.right-align-medium {
		text-align: left;
	}
}

.filter-btn-container {
	margin-top: 3rem;
}

@media #{$small-and-down} {
	.filter-btn-container .btn-flat {
		display: none;
		padding-left: 0rem;
	}
    .mapSingleColumn #contentArea{

    	height: calc(100vh - 59px);

    }

}


.item-listing {
	margin-top: $grid-bar-width;;
	padding-top: $grid-bar-width;
	padding-bottom: $grid-bar-width;
	margin-bottom: $grid-bar-width;
}
.idea-listing-table {
	font-size: $minor-font-size;
}
.idea-listing-table td,th {
	padding-top: 0.5rem;
	padding-bottom: 0.2rem;
	//padding-left: 1rem;
	max-width: 15rem;
    text-overflow: ellipsis;
}
.idea-listing-table td {
	white-space: nowrap;
	overflow: hidden;
}

// ============================================================================
// Content Area - user details
// ============================================================================

.profile-dropzone {
	background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 12rem;
    height: 12rem;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
}

.profile-dropzone.dropzone .dz-message {
    text-align: center !important;
    margin: 1em 0 !important;
    font-size: 0.8rem !important;
    background-color: rgba(0,0,0,0.3) !important;
}

.canEdit {
	box-shadow: none;
	outline: none;
}

.gallery-option {
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

.gallery-subnavigation {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
.gallery-subnavigation a {
	border-bottom: 1px solid $font-color;
}

// ============================================================================
// Content Area - slideshow
// ============================================================================
.arrows {
	color: #fff;
	stroke: #fff;
}

.slideshow-arrow {

}
.slideshow-arrow i {
	font-size: 3rem;
	color: #fff;
}

.home-btn {
	font-size: 1.2rem;
	color: #fff;
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 999;
}
#exhibition_notice{
	font-size: 1rem;
	color: #fff;
	position: fixed;
	bottom: 4rem;
	left: 2rem;
	z-index: 3;
}

.sound-btn {
	position: fixed;
    bottom: 5rem;
    right: 3rem;
}

@media #{$medium-and-down}{

    .home-btn {
        display: none;
    }

}
@media #{$small-and-down} {
	.home-btn {
		top: 1rem;
    	left: 4.5rem;
        display: none;
	}
	.sound-btn {
	    bottom: 2rem;
	    right: 1rem;
	}
	#exhibition_notice{
		background-color: rgba(0,0,0,0.5);
		border-radius: 5px;
		padding: 1rem;
	}
}

#inquiryBtn {
	position: fixed;
	font-size: 1.2rem;
	bottom: 2rem;
	left: 2rem;
	z-index: 3;
}

#nextSlide {
	@include transition(opacity 0.3s linear 0.3s);
	position:fixed;
	right: 12px;
	top: 25%;
	height:50%;
	min-width:5rem;
	max-width: 25%;
	border-top-left-radius: 5em;
	border-bottom-left-radius: 5em;
	//width: 25%;
	background-color: transparent;
	z-index: 3;
	opacity: 0.5;
	cursor: pointer;
}
#nextSlide:hover {
	opacity: 1;
}
#nextSlide.slideshow-arrow i {
	font-size: 3rem;
	color: #fff;
	margin-right: 2rem;
	margin: auto;
}
@media #{$small-and-down} {
	#nextSlide{
		min-width:3rem;
		top: 0%;
		bottom: 0%;
		padding-left: 1rem;
	}
	#nextSlide.slideshow-arrow i {
		margin-right: 1rem;
		font-size: 2rem;
		color: #fff;
		margin: auto;
	}
}

#prevSlide {
	@include transition(opacity 0.3s linear 0.3s);
	position:fixed;
	left: 0px;
	top: 25%;
	height:50%;
	min-width:5rem;
	border-top-right-radius: 5em;
	border-bottom-right-radius: 5em;
	max-width: 25%;
	//width: 25%;
	//background-color: rgba(0,0,0,0.1);
	background-color: transparent;
	z-index: 3;
	opacity: 0.5;
	cursor: pointer;
}
#prevSlide:hover {
	opacity: 1;
}
#prevSlide.slideshow-arrow i {
	margin-left: 2rem;
	font-size: 3rem;
	color: #fff;
	margin: auto;
}
@media #{$small-and-down} {
	#prevSlide{
		min-width:3rem;
		top: 0%;
		bottom: 0%;
		padding-right: 1rem;
	}
	#prevSlide.slideshow-arrow i {
		margin-left: 1rem;
		font-size: 2rem;
		color: #fff;
		margin: auto;
	}
}

.edit-videoUrl {
	max-width: 35rem;
	max-height: 20rem;
	overflow: hidden;
}
video.bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
}
.bgVid-embed iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    /*z-index: -100;*/
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
}

@media #{$small-and-down} {
	.video-slide {
		min-height: 100vh !important;
		min-height: -webkit-calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
		min-height: -moz-calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
	    min-height: calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
	}
	.image-slide {
		min-height: 100vh !important;
		min-height: -webkit-calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
		min-height: -moz-calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
	    min-height: calc(100vh - $navbar-height-mobile) !important;//100vh - $navbar-height-mobile !important;
	}
}

#addSlide {
	position:absolute;
	top: 6rem;
	left: 2rem;
}

.content-save-btn {
	position: absolute;
	top: 2rem;
	left: 2rem;
}


.slide-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	width:100%;
	height:100%;
}

.slick-slide .flex-container-center {
	position: relative;
}
@media #{$small-and-down} {
	.slick-slide .flex-container-center {
		margin-top: -$navbar-height-mobile;
	}
}

.slick-slide:focus {
	outline: none;
}

.slide-dropzone {
	/* height: 80%;
    width: 80%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: none; */
    box-shadow: none;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.addSlideBtns {
	position: absolute;
	top: 3rem;
    right: 3rem;
	background-color: rgba(0,0,0,0.6);
}

#slideCount {
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 3;
}
@media #{$small-and-down} {
	#slideCount {
	    position: fixed;
	    top: 1rem;
	}
}

//==================================
// Editable slick slider
//==================================

#save_btn_container {
	position: fixed;
	right: 2rem;
	bottom: 5rem;
}

#edit_gallery_details_container {
	position: fixed;
	top: 2rem;
	left: 2rem;
	font-size: 1rem;
	z-index: 2;
}

#sortable-container {
	width: 100%;
	overflow-x: scroll;
    overflow-y: hidden;
	margin-bottom: 4rem;
	height: $preview-container-height + 4rem;// add the negative bottom position to hide scrollbar
    position: absolute;
    bottom: -4rem;
    left: 0px;
    z-index: 5;
    background-color: transparent;
}
#sortable {
	width: auto;
   	white-space:nowrap;
   	padding-right: $preview-container-height;
}

/* .slick-slider {
	min-width: 100%;
} */
.slick-slider {
	padding-bottom: $footernav-height;
}
.slick-slider.editable-slick-slider {
	padding-bottom: $preview-container-height;
}

.slide-reorder {
	/* height: 100%;
    width: 15rem; */
    /* width: auto;
    min-width: 100%; */
    //height: 15rem;
    //overflow-y: scroll;
    //overflow-y: hidden;
    //overflow-x: scroll;
    //background-color: #ddd;
    //position: absolute;
    /* top: 0px;
    right: 0px; */
    //bottom: 0rem;
    //left: 0px;
    //z-index: 5;
}

.slide-preview {
	text-align:center;
	height: $preview-slide-height;
	width: $preview-slide-height;
	margin: $preview-container-padding;
	border: 1px solid #000;
	box-sizing: border-box;
	font-size:0.6rem;
	overflow: hidden;
	background-color: $bg-color;
	color: $font-color;
	display: inline-block;
	white-space: initial;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
    border: 1px solid $font-color;
    border-radius: $border-radius;
	//float: left;
}
.slide-preview p {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 1rem;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// overwrite another style
.slide-preview p:first-child {
    margin: auto;
}

.slide-preview:last-child {
	margin-right: $preview-container-height + ( 2*$preview-container-padding );
}
.add-slide-buttons {
	text-align: center;
    height: auto;//$preview-container-height;
    width: auto;//$preview-container-height;
    margin: $preview-container-padding;
    //border: 1px solid #000;
    box-sizing: border-box;
    font-size: 0.6rem;
    overflow: hidden;
    color: #000;
    position: absolute;
    right: 0rem;
    left: 0rem;
    bottom: 13rem;
    z-index: 6;
    background-color: rgba(0,0,0,0.2);
    //background-color: #333;
}

.add-slide-buttons span {
	font-size: 1rem;
    color: $font-color;
    padding: 0.5rem;
    padding-left: 1rem;
    cursor: pointer;
}
.add-slide-buttons span i {
	font-size: 2rem;
}

.slide-thumb-btn {
	/* display: block;
	width: 100%;
	text-align:center;
	margin-top: 0.5rem;
	color: #fff;
	z-index: 1;
	background-color: rgba(0,0,0,0.6) */
	position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0px;
    padding: 0px;
    color: #fff;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.slide-thumb-btn.delete-slide {
	color: red;
	font-weight: bold;
	padding-left: 0.2rem;
	left: 0px;
}
.slide-thumb-btn.go-to-slide {
	font-weight: bold;
	padding-right: 0.2rem;
	right: 0px;
}




// ============================================================================
// Grid ( at least some of it, its integrated into the footerNav )
// ============================================================================


// ============================================================================
// Footer Nav
// ============================================================================

/*
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
align-items: center;
-webkit-align-items: center;
*/


#headerGrid {
	position: absolute;
	top: 0px;
	height: $footernav-height;
	line-height: $footernav-height;
	width: 100%;
	padding-right: $sidebar-width;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	flex-direction: row;
	/* justify-content: flex-start | flex-end | center | space-between | space-around; */
	justify-content: space-around;
	z-index: 1;
	margin-top: 0.5rem;
}
.headerGrid .headerGridItem {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width:16.666%;
	text-align:center;
	border-right: $grid-bar-thickness solid $grid-bar-color;
}
.headerGrid .headerGridItem.border-left {
	border-left: $grid-bar-thickness solid $grid-bar-color;
	margin-left: 0.5rem;
}

#headerGrid.headerGrid-map {
	padding-right: 0px;
}


.footerNav {
	padding-bottom: 0.5rem;
}
.footerNav .footerNavItem {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width:16.666%;
	text-align:center;
	border-right: $grid-bar-thickness solid $grid-bar-color;
}
.footerNav .footerNavItem.border-left {
	border-left: $grid-bar-thickness solid $grid-bar-color;
	margin-left: 0.5rem;
}
.footerNav .footerNavItem span {
	position: relative;
}

.footerNavItemMenu {
	text-align:left;
	@include transition(max-height 0.3s linear 0.3s);
	position: absolute;
	bottom: 100%;
	left: 0rem;
    //padding-bottom: 0rem;
	margin:auto;
	max-height: 0rem;
	overflow: hidden;
	//text-shadow: 0px 1px #9b9b9b;
	//padding-left: 0.5rem;
	//padding-right: 0.5rem;
	//background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 10%,rgba(0,0,0,0.1));
}

.footerNav.solid-bg .footerNavItem .footerNavItemMenu {
	//background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0.2));
}

.footerNavItemMenu {
	border-radius: 5px;
	background-color: rgb(30,30,30);
	margin-bottom: 0.5rem;
	margin-left: -1rem;
}
/* .footerNavItemMenu {
	@include transition(background-color 0.3s linear 0.3s);
}
.footerNavItemMenu:hover {
	background-color: rgba(80,80,80,0.7);
} */

.footerNavItemMenu li {
	@include transition(color 0.1s linear 0.1s);
	cursor: pointer;
	white-space: nowrap;
	line-height: $footernav-menu-line-height;
	/* padding-left: 1rem;
	padding-right: 1rem; */
}
.footerNavItemMenu li:first-child {
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	padding-top: 0.2rem;
}
.footerNavItemMenu li:last-child {
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.footerNavItemMenu li a {
	text-decoration:none;
	color: inherit;
	display: block;
	padding-left: 1rem;
	padding-right: 1rem;
}

.footerNavItemMenu li:not(.blank-divider):hover {
	color: $font-hover-color;
	background-color: rgb(50,50,50);
}
.footerNavItemMenu li.selected {
	color: $font-hover-color;
	background-color: rgb(50,50,50);
}

.footerNavItem.selected .footerNavItemMenu{
	max-height: 15rem;
	//padding-bottom: 1rem;
}
.footerNavItem:hover .footerNavItemMenu{
	max-height: 25rem;
	//padding-bottom: 1rem;
}

.blank-divider {
	height: 1rem;
}
.blank-divider.reduce-height {
	height: 0.2rem;
}


// ============================================================================
// SideBar
// ============================================================================
.grid-bar-container-right {
	left: -$grid-bar-width;
	margin-right: 0.5rem;
}
.mapSingleColumn .grid-bar-container-right {
	right: $grid-bar-width;
	left: auto;
	margin-right: 0.5rem;
}
.grid-bar-container-left {
	left: 0rem;
	margin-left: 0.5rem;
}
.grid-bar-container {
	position:absolute;
	top: 0px;
	//left: -$grid-bar-width;
	width: $grid-bar-width;
	height: 100%;
	background-color: transparent;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
}
.grid-bar-container .grid-bar {
	border-top: $grid-bar-thickness solid $grid-bar-color;
	//height:5rem;
	height: 25%;
}
/* moving grid bars to make the corners */
.grid-bar-container .grid-bar:last-child {
	margin-bottom: 0.5rem;
}
.grid-bar-container .grid-bar:first-child {
	margin-top: 0.5rem;
}

.grid-bar-container .grid-bar.border-bottom {
	border-top: $grid-bar-thickness solid $grid-bar-color;
	border-bottom: $grid-bar-thickness solid $grid-bar-color;
	//height:5rem;
}

.sideBarContent {
	width: 100%;
	height: 100%;
	padding-left: $grid-bar-width;
	position: absolute;
	top: 0px;
	left: 0px;
}

.sidebarMenu {
	margin-top:0px;
	margin-bottom:0px;
	padding-top: 2rem;
	padding-left: 1rem;
	//height: 33.333%;
}

.sidebarMenu.quarter {
	height: 25%;
}
.sidebarMenu.half {
	height: 50%;
}

.sidebarMenu.small {
	margin-top:0px;
	margin-bottom:0px;
	padding-top: 2rem;
	padding-left: 1rem;
	height: auto;
}
.sidebarMenu a {
	text-decoration: none;
	color: inherit;
}
.sidebarMenu a:visited {
	text-decoration: none;
	color: inherit;
}
.sidebarMenu a:active {
	text-decoration: none;
	color: inherit;
}
.sidebarMenu li {
	cursor: pointer;
}
.sidebarMenu li:hover {
	color: $font-hover-color;
}
.sidebarMenu li.header-item {
	text-transform: uppercase;
}

.sidebarMenu li.item {
	line-height: 1.1;
}

li.header-item {
	color: #fff;
	font-weight: bold;
}
li.list-link {
	color: $font-color;
	//text-decoration: underline;
	//color: #fff;
	//font-weight: bold;
	//padding-left: 1rem;
}

#statsContainer a {
	-moz-transition-property: none;
	-webkit-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
#statsContainer {
	@include transition(color 0.5s linear 0.5s);
}
#statsContainer.flash {
	color: #1C649F;
}

#ideaLink {
	text-decoration: underline;
}


// ============================================================================
// Static Pages
// ============================================================================

.static-text-container {
	padding-bottom: 5rem;
}

.terminology{
	@include transition(color 0.3s linear 0.3s);
}
.terminology:hover{
	color: #fff;
	font-weight: bold;
}
.terminology-word {
	text-align: left;
	margin-bottom: 1rem;
}
.terminology-description {
	text-align: left;
	margin-bottom: 1rem;
}

.static-page-text {
	white-space: pre-line;
	letter-spacing: 0px;
}


/* .terminology-word {
	display: block;
	margin-top: 2rem;
	font-weight: bold;
}
.terminology-ul li{
	@include transition(color 0.3s linear 0.3s);
}
.terminology-ul li:hover{
	color: #fff;
	font-weight: bold;
} */




// ============================================================================
// Buttons
// ============================================================================
.btn-flat:focus {
    color: #fff;
    //font-weight: bold !important;
    background-color: transparent !important;
}
.btn-flat:active {
    color: #fff;
    font-weight: bold !important;
    background-color: transparent !important;
}

.btn-flat.btn-outline {
	border: 1px solid $font-color;
}
.btn-flat.btn-outline:hover {
	background-color: #282828;
}


// ============================================================================
// Helpers
// ============================================================================

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.offscreen {
	-ms-transform: translateX(-200%) translateY(-200%);
    -moz-transform: translateX(-200%) translateY(-200%);
    -webkit-transform: translateX(-200%) translateY(-200%);
    transform: translateX(-200%) translateY(-200%);
}

.nitti {
	//font-family: nitti, isocpeur, sans-serif;
	letter-spacing: 0px;
	max-width:45rem !important;
}

.slide-content-container .nitti {
	padding-top:5rem;
	padding-bottom:5rem;
}

@media #{$small-and-down} {
	.slide-content-container .nitti {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top:2rem;
	}
	.slide-content-container .static-page-text.nitti {
		padding-left: 0rem;
		padding-right: 0rem;
		padding-top:1rem;
	}
}

.vh100 {
	height: 100vh;
}
.h100 {
	height: 100%;
}
.w100 {
	width: 100%;
}

.text-content {
	max-width:45rem;
	margin:auto;
}
.text-content.terminology-text {
	//max-width: 32rem;
	margin:auto;
}

.zero-pad-right {
	padding-right: 0px !important;
}
.zero-pad-left {
	padding-left: 0px !important;
}
.zero-pad-top {
	padding-top: 0px !important;
}
.zero-pad-bottom {
	padding-bottom: 0px !important;
}

.no-margin {
	margin: 0px;
}

.no-border-left {
	border-left: none !important;
}
.no-border-right {
	border-right: none !important;
}
.no-border-top {
	border-top: none !important;
}
.no-border-bottom {
	border-bottom: none !important;
}


.flex-container-center {
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	//flex-direction: column;
	/* justify-content: flex-start | flex-end | center | space-between | space-around; */
	/* hello */
	//justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
	overflow-y: auto;
}
.flex-container-top {
	position:relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	//flex-direction: column;
	/* justify-content: flex-start | flex-end | center | space-between | space-around; */
	/* hello */
	//justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
	height: auto;
}
.flex-column {
	flex-direction: column;
}
.flex-justify-center {
	justify-content: center;
}

@media #{$small-and-down} {
	.flex-container-center {
		min-height: 100vh;
	}
}


.flex-item {
	margin:auto;
	min-width: 50%;
}
.flex-item.flex-top {
	-webkit-align-self: flex-start;
	align-self: flex-start;
}

.slide-content-container.flex-item div {
	max-width:100%;
	margin:auto;
}

.slide-content-container form {
	padding-bottom: $preview-container-height;
}

.uppercase {
	text-transform: uppercase;
}

.transition {
	-o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


.glow, .glow:hover, .glow:focus
{
	text-decoration: none;
	color: $font-color;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
.glow:hover, .glow:focus
{
	color:$font-color;
	text-shadow: -1px 1px 5px rgba(255,255,255,0.5), 1px -1px 5px rgba(255,255,255,0.5);
}




// sliding border underline on hover
.sliding-u-l-r {
    display: inline-block;
}
.sliding-u-l-r:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background: transparent;
    -o-transition: width .5s ease, background-color .5s ease;
    -ms-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    margin-bottom: 0.2em;
}

.sliding-u-l-r:hover:after {
    width: 100%;
    background: $font-color;
}
.sliding-u-l-r.selected:after {
    width: 100%;
    background: $font-color;
    //margin-bottom: 0.2em;
}



// sliding vertical menu
.sliding-vertical-menu-trigger {
	cursor: pointer;

	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}
.sliding-vertical-menu {
	max-height: 0rem;
	cursor: pointer;
	overflow: hidden;
	padding-left: 1rem;
	//padding-top: 0.4rem;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;

  	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.sliding-vertical-menu.selected {
	max-height: 20rem;// guess some height that isn't too big to make the animation wrong but is big enough to allow all content to show
}

.sliding-menu-item:first-child {
	margin-top: 0.33rem;
}

.slide-vertical {
	max-height: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1rem;
	overflow: hidden;
}
.slide-vertical.open {
	max-height: 5rem;
}

a {
	@include transition(color 0.1s linear 0.1s);
	color: inherit;
	//text-decoration:underline;
	//border-bottom: 1px solid $font-color;
}
a:hover {
	color: $font-hover-color;
}
a.selected {
	color: $font-hover-color;
}

table a {
	@include transition(color 0.1s linear 0.1s);
	color: inherit;
	border-bottom: 1px solid $font-color;
}
table a:hover {
	color: $font-hover-color;
	border-color: $font-color;
}

a.no-style {
	text-decoration: none;
	color: inherit;
}
a.no-style:hover{
	text-decoration: none;
	color: inherit;
}
a.no-style:visited {
	text-decoration: none;
	color: inherit;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}



// feedback overlay, included in ajax.js
#feedback_overlay {
	position: fixed;
	width:100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.8);
}
#feedback_overlay_message {
	position: absolute;
	width:100%;
	text-align:center;
	height: 2rem;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	color: #fff;
}



// ============================================================================
// General
// ============================================================================

html {
	height: 100%;//was supposed to fix safari bugginess for vh
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	background-color: $bg-color;
	color: $font-color;
	font-size: $body-font-size;
	line-height:1.5;
}

h1 {
	font-size: $header-font-size;
	//font-family: "isocpeur-header" !important;
	margin-bottom: 0px;
}
h2, h3, h4, h5, h6 {
	font-size: $subheader-font-size;
	//font-family: "isocpeur-header" !important;
	margin-bottom: 0.3rem;
}

@media #{$small-and-down} {
	html, body {
		font-size: $body-font-size-mobile;
		line-height:1.2;
	}
	h1 {
		font-size: $header-font-size-mobile;
	}
	h2, h3, h4, h5, h6 {
		font-size: $subheader-font-size-mobile;
		margin-bottom: 0.3rem;
	}
}

/* materialize overrides */
input {
	margin-bottom: 0px !important;
}
.input-field input[type=search]:focus {
	background-color: transparent;
	color: inherit;
    border-bottom: 1px solid transparent;
}
.input-field input[type=search] {
	display: block;
    line-height: inherit;
    padding-left: 0rem;
    width: 100%;
}

.row {
	margin-bottom: 0px !important;
}

label.error {
	color: red !important;
}
div.error {
	color: red;
}

#dateModal {
	overflow-y: visible;
}
.modal.bottom-sheet {
    min-height: 65%;
    max-height: 85%;
}

p:first-child {
	margin-top: 0px;
}

.row.container-min {
	max-width: 100%;
	margin-left: 4rem;
	margin-top: 4rem;
}


// ============================================================================
// Prompts / Explainer
// ============================================================================

.modal.outlined-modal {
	border: none;//1px solid #fff;
	border-bottom: 0px;
}
.modal.outlined-modal .modal-footer {
	border-bottom: none;//1px solid #fff;
}

.explainer-artist-image {
	position:absolute;
	top: 0px;
	left: 0px;
	max-height: 50%;
	max-width: 50%;
}
.explainer-airport-image {
	position:absolute;
	bottom: 0px;
	right: 0px;
	max-height: 50%;
	max-width: 50%;
}

.explainer-text {
	text-align:center;
	position:absolute;
	top: 0rem;
	width:100%;
	padding-left: 4rem;
	padding-right: 4rem;
}

#explainer-next {
	position: absolute;
	bottom: 0.5rem;
	right: 2.5rem;
}

#explainer-text-container {
	position:absolute;
	height: 5.5rem;
	bottom: 0rem;
	left: 0rem;
	width: 100%;
}

#explore-button {
	position: absolute;
	display: inline-block;
	max-width: 15rem;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:auto;
	height: 5rem;
}


#explainer {
	width: auto;
	max-width:80%;
	height: auto;
	position:fixed;
	top: 50%;
	-moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 0px;
	right: 0px;
	margin: auto;
	background-color: rgba(0,0,0,0.8);//$bg-color;
	border: 1px solid $font-color;
	border-radius: $border-radius;
	padding: 2rem;
	line-height:2rem;
	text-align:center;
	opacity: 0;

	padding-bottom: 3rem;

	background-image: url(/static/img/explainer_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media #{$small-and-down} {
	#explainer {
		transform:initial;
		width: auto;
		max-width:100%;
		height: auto;
		position:absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		margin: auto;
		background-color: rgba(0,0,0,0.8);//$bg-color;
		border: 1px solid $font-color;
		border-radius: $border-radius;
		padding: 2rem;
		line-height:2rem;
		text-align:center;
		opacity: 0;
	}
}

#explainer .transparent {
	opacity: 0;
}

#explainer .close {
	font-size: 1rem;
	position:absolute;
	top: 0.5rem;
	right: 1rem;
	padding: 1rem;
	cursor: pointer;
}

#explainer p {
	line-height: 1.2rem;
	font-size: 1rem;
	position:relative;
}

#explainer p.line-1{
	text-transform: uppercase;
}
#explainer p.line-2{
	line-height: 1.8rem;
	font-size: 1rem;
}
#explainer p.line-3{
	text-transform: uppercase;
}


#explainer img.vector-img {
	vertical-align: top;
	height: 2.5rem;
	margin:0.5rem;
	cursor: pointer;
}
#explainer .explainer-vector-label {
	max-height: 0px;
	display: inline-block;
	font-size: 0.8rem;
	text-align:left;
	color: $font-color;
	line-height: 0.9rem;
	overflow: hidden;
}

#explainer p span.underline {
	border-bottom: 1px solid $font-color;
}

#explainer p.contains-vector-img{
	display: inline-block;
}
#explainer p.contains-vector-img img{
	position:absolute;
	height: 2.5rem;
	right: -3rem;
	top: 0px;
	bottom: 0px;
	margin:auto;
}

.dismiss-explainer {
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#unity_explainer {
	position: fixed;
	bottom: (2 * $footernav-height ) + 1rem;
	left: $footernav-height + 1rem;
	text-transform: uppercase;
	color: #F1F100;
}

#unity_explainer img {
	position:absolute;
	top: 0px;
	bottom: 0px;
	right: -3rem;;
	margin:auto;
	height: 2.5rem;
}

// ============================================================================
// Home Video
// ============================================================================
.intro_video_w {

    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 10;
    background-color: #000;
    transition: opacity .25s ease-out;

    .video_w{

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: none;

        .intro_video {

            position: relative;
            width: 100%; height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            video { width: 100% }

        }
        .close_video {

            width: 36px; height: 36px;
            position: absolute;
            top: 20px; right: 20px;
            z-index: 5;

            background: #000;

            i {

                display: inline-block;
                margin: 7px 0 0 11px;
                cursor: pointer;

            }

        }

    }

    .video_loader_w{

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }

    .video_loader {

        width: 160px;
        text-align: center;

        .vl_progress_bar {

            display: inline-block;
            width: 100%; height: 10px;
            position: relative;
            overflow: hidden;

            span {

                display: inline-block;
                position: absolute;
                width: 100%; height: 100%;
                top:0; left: -99%;
                background-color: #fff;
                transition: left .25s ease-out;

            }

        }
        .vl_progress_text { display: inline-block; }

    }

}

// ============================================================================
// Dropzone / File uploads
// ============================================================================


// ============================================================================
// Forms
// ============================================================================



// ============================================================================
// Idea Page & Videos
// ============================================================================




// ============================================================================
// Avionics & Layout
// ============================================================================

#crosshair-tl {
	width: 1.5rem;
	height: 1.5rem;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	position: absolute;
	top: 1rem;
	left: 1rem;
}
#crosshair-tr {
	width: 1.5rem;
	height: 1.5rem;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
#crosshair-bl {
	width: 1.5rem;
	height: 1.5rem;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}
#crosshair-br {
	width: 1.5rem;
	height: 1.5rem;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.fixed-logo {
	position: fixed;
	bottom: 1.2em;
	right: 1.2rem;
	color: #444444;
}


#main-content {
	/* margin: 0px;
	padding: 0px;
	width: 80%;
	height: 100vh;
	display: inline-block;
	float: left; */
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: inline;
}
#main-content-users {
	margin: 0px;
	padding: 0px;
	width: 80%;
	height: 100vh;
}
#side-menu {
	/* margin: 0px;
	padding: 0px;
	width: 20%;
	height: 100vh;
	display: inline-block;
	float: left; */
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	width: 20%;
	height: 100vh;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.3);
}

.menu-item.selected {
	border-bottom: 1px solid $font-color;
}

@media #{$small-and-down} {
    #main-content {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	display: inline-block;
	//float: left;
}
#side-menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	display: inline-block;
	//float: left;
	background-color: $bg-color;
}
}


#sideAvionics {
	padding: 2rem;
	height: 100%;
}



.menu-container {
	position: relative;
	padding: 1rem;
	height: 100vh;
}

.menu-container a {
	text-decoration: none;
	color: inherit;
}
.menu-container a:hover {
	color: $font-hover-color;
}
.menu-container a:visited {
	text-decoration: none;
	color: inherit;
}

.content-menu-header {
	//position: absolute;
	//top: 0px;
	//width: 100%;
	padding-bottom: 2rem;
}
.content-menu-body {

}

#avionics-container {

}

#menuContentBody {
	//animation-fill-mode: forwards;
}

.menu-item {
	cursor: pointer;
}

.content-menu-footer {
	//position: absolute;
	//bottom: 0px;
	//width: 100%;
	//padding-top: 2rem;
}

/* #statsContainer {
	position: absolute;
	width: 200%;
	//display: inline-block;
	left: -100%;
	-o-transition: left 1.2s;
	-ms-transition: left 1.2s;
	-moz-transition: left 1.2s;
	-webkit-transition: left 1.2s;
    transition: left 1.2s;
} */

.slide-out-right {
    left: 0% !important;
}



// ============================================================================
// Google Maps
// ============================================================================

.zoom-container {
	height: 6rem;
	position:absolute;
	top:0px;
	left:3rem;
	bottom:0px;
	margin:auto;
}
.zoom-btn {
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	font-size: 3rem;
	//padding: 0.5rem;
	cursor: pointer;
	display: block;
	height: 2rem;
}

// ============================================================================
// Map Marker Styles
// ============================================================================

.onMapMarkerDetailContainer {
	min-width: 15rem;
    font-family: isocpeur;
    font-size: 0.9rem;
}

// Google map marker svg animations
@-webkit-keyframes anim-pulse{
  0%   {
  	opacity: 0 ;
	-webkit-transform : scale(.5);
  	}
  10% {
  	opacity: 1 ;
  }

	90% {
  	opacity: 0 ;
  }

  100% {
  	-webkit-transform : scale(1.25)
  }
}


.core {
	fill:red;
}

.ring {
opacity: 0;
stroke: red;
 -webkit-transform-origin: center;
 -webkit-animation: anim-pulse 3s 2s infinite;
 }

// maps marker pulse using css3 animations

// thanks: http://jsfiddle.net/ryanoc/86Ejf/
// http://stackoverflow.com/questions/13797995/google-map-marker-pulse-animation

 /* your custom CSS \*/
	@-moz-keyframes pulsate {
		from {
			-moz-transform: scale(0.25);
			opacity: 1.0;
		}
		85% {
			-moz-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-moz-transform: scale(0.3);
			opacity: 0;
		}
	}
	@-webkit-keyframes pulsate {
		from {
			-webkit-transform: scale(0.25);
			opacity: 1.0;
		}
		85% {
			-webkit-transform: scale(1.3);
			opacity: 0;
		}
		to {
			-webkit-transform: scale(0.3);
			opacity: 0;
		}
	}

	/* get the container that's just outside the marker image,
		which just happens to have our Marker title in it */
	#fp-map div.gmnoprint[title="in flight"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $in-flight-color;
		/* make a circle */
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		/* multiply the shadows, inside and outside the circle */
		//-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		//-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		//box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
		/* set the ring's new dimension and re-center it */
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#fp-map div[style*="987654"][title] img {*/
	#fp-map div.gmnoprint[title="in flight"] img {
		display:none;
	}
	/* compensate for iPhone and Android devices with high DPI, add iPad media query */
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#fp-map div.gmnoprint[title="in flight"] {
			margin:-10px 0 0 -10px;
		}
	}

	// options: parked, waiting to land, in flight, taking off, arriving soon
	// arriving soon
	#fp-map div.gmnoprint[title="arriving soon"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $arriving-soon-color;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	#fp-map div.gmnoprint[title="arriving soon"] img {
		display:none;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#fp-map div.gmnoprint[title="arriving soon"] {
			margin:-10px 0 0 -10px;
		}
	}

// waiting to land
	#fp-map div.gmnoprint[title="waiting to land"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $waiting-to-land-color;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	#fp-map div.gmnoprint[title="waiting to land"] img {
		display:none;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#fp-map div.gmnoprint[title="waiting to land"] {
			margin:-10px 0 0 -10px;
		}
	}

// parked
	#fp-map div.gmnoprint[title="parked"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $parked-color;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	#fp-map div.gmnoprint[title="parked"] img {
		display:none;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#fp-map div.gmnoprint[title="parked"] {
			margin:-10px 0 0 -10px;
		}
	}

// taking off
	#fp-map div.gmnoprint[title="taking off"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $taking-off-color;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	#fp-map div.gmnoprint[title="taking off"] img {
		display:none;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#fp-map div.gmnoprint[title="taking off"] {
			margin:-10px 0 0 -10px;
		}
	}


// user page map marker = parked
#gmap div.gmnoprint[title="parked"] {
		-moz-animation: pulsate 2s ease-in-out infinite;
		-webkit-animation: pulsate 2s ease-in-out infinite;
		border:1px solid $parked-color;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		border-radius:50px;
		height:50px!important;
		margin:-18px 0 0 -18px;
		width:50px!important;
	}
	#gmap div.gmnoprint[title="parked"] img {
		display:none;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
		#gmap div.gmnoprint[title="parked"] {
			margin:-10px 0 0 -10px;
		}
	}





// ============================================================================
// RADAR Beam
// ============================================================================

@keyframes blip {
	from { opacity: 1; }
	70% { opacity: .4; }
	to { opacity: .2; }
}

#1 {
	left: 51%;
	top: 28%;
	animation-delay: 0s;
}
#2 {
	left: 55%;
	top: 50%;
	animation-delay: 0.5s;
}
#3 {
	left: 48%;
	top: 78%;
	animation-delay: 1s;
}

@keyframes clockwise {
  from { transform: rotate(-180deg); }
  to { transform: rotate(180deg); }
}

.beam {
  display: inline-block;
  width: 10%;
  min-height: 200%;
  animation: clockwise 2s linear infinite;
  transform-origin: 100% 100%;
  background: linear-gradient(70deg, transparent 30%, $font-color), transparent;
  position: absolute;
  top: -100%;
  left: 40%;
}

.screen {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}










/* horizontal gradient */

.horizontal-gradient {

	background: -moz-linear-gradient(left, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}






/*==================================*/
/* HTML5 Video controls */
/*==================================*/

.sidebar-right {
  z-index: 6;
}
.si-icons {
  z-index: 5 !important;
}

.video-loader-icon {
  font-size:4rem;
  color: #fff;
  position: absolute;
  /*bottom: 10px;*/
  bottom: 2rem;
  left: 20px;
  right: 0px;
  margin: auto;
}

.video-controls i {
  font-size:4rem;
  color: #fff;
}

.play-pause-btn-style {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.video-controls {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 6rem;
  /*background-color: rgba(0,0,0,0.2);*/
  background-color: transparent;
  opacity: 0.1;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.video-controls:hover {
  opacity: 1;
}
.video-controls.no-opacity {
  opacity: 1;
}

.video-controls .play-control {
  position: absolute;
  bottom: 10px;
  margin: auto;
}

.video-controls .mute-btn {
  position: absolute;
  bottom: 20px;
  left: 6.2rem;
  margin: auto;
  font-size: 3rem;
}

.video-controls .reset-btn {
  position: absolute;
  bottom: 18px;
  right: 4.5rem;
  margin: auto;
  font-size: 3rem;
}
