@keyframes plyr-progress {
  to {
    background-position: 40px 0;
  }
}
/* Credit: http://log.vieron.net/articles/sass-mixins-for-vendor-prefixed-transitions-including-properties/ */
/* usage: @include transition(transform 0.2s ease-in 0.2s, opacity 0.2s ease); */
/* line 135, ../sass/plyr.scss */
.plyr__controls {
  -webkit-transition: opacity 0.3s linear 0.3s;
  -moz-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  height: 6rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent);
  opacity: 0.8;
}

/* line 142, ../sass/plyr.scss */
.plyr__controls:hover {
  opacity: 1;
}

/* line 145, ../sass/plyr.scss */
.plyr__controls .thumb .value {
  display: none;
}

/* line 152, ../sass/plyr.scss */
.plyr__controls--right {
  left: 50% !important;
  transform: translateX(3rem) !important;
}

/* line 156, ../sass/plyr.scss */
button[data-plyr="mute"] {
  height: 3rem !important;
}

/* button[data-plyr="mute"] svg {
    height: 3rem !important;
} */
/* line 162, ../sass/plyr.scss */
button[data-plyr="play"] {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

/* line 167, ../sass/plyr.scss */
button[data-plyr="play"] svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

/* line 171, ../sass/plyr.scss */
button[data-plyr="pause"] {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

/* line 176, ../sass/plyr.scss */
button[data-plyr="pause"] svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

/* line 181, ../sass/plyr.scss */
.video-tag {
  opacity: 1;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

/* hiding the progress bar */
/* line 194, ../sass/plyr.scss */
.plyr__progress {
  display: none;
}

/* line 198, ../sass/plyr.scss */
.preloader-wrapper {
  position: absolute;
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  margin: auto;
}

/* line 212, ../sass/plyr.scss */
.plyr {
  position: absolute;
  bottom: 0px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  min-width: 290px;
  font-family: inherit, sans-serif;
  /* &__video-wrapper {
      position: relative;
  } */
  /* video,
  audio {
      width: 100%;
      height: auto;
      vertical-align: middle;
  } */
}
/* line 224, ../sass/plyr.scss */
.plyr,
.plyr *,
.plyr *::after,
.plyr *::before {
  box-sizing: border-box;
}
/* line 232, ../sass/plyr.scss */
.plyr a, .plyr button, .plyr input, .plyr label {
  touch-action: manipulation;
}
/* line 237, ../sass/plyr.scss */
.plyr__sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* line 259, ../sass/plyr.scss */
.plyr video::-webkit-media-text-track-container {
  display: none;
}
/* line 264, ../sass/plyr.scss */
.plyr__video-embed {
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  background: #000;
}
/* line 270, ../sass/plyr.scss */
.plyr__video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  user-select: none;
}
/* line 281, ../sass/plyr.scss */
.plyr__video-embed > div {
  position: relative;
  padding-bottom: 200%;
  transform: translateY(-35.95%);
}
/* line 288, ../sass/plyr.scss */
.plyr__video-embed.plyr iframe {
  pointer-events: none;
}
/* line 294, ../sass/plyr.scss */
.plyr__captions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/* line 306, ../sass/plyr.scss */
.plyr__captions span {
  border-radius: 2px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.9);
}
/* line 311, ../sass/plyr.scss */
.plyr__captions span:empty {
  display: none;
}
@media (min-width: 768px) {
  /* line 294, ../sass/plyr.scss */
  .plyr__captions {
    font-size: 24px;
  }
}
/* line 319, ../sass/plyr.scss */
.plyr--captions-active .plyr__captions {
  display: block;
}
/* line 322, ../sass/plyr.scss */
.plyr--fullscreen-active .plyr__captions {
  font-size: 32px;
}
/* line 327, ../sass/plyr.scss */
.plyr__controls {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background: transparent;
  line-height: 1;
  text-align: center;
  box-shadow: 0 1px 1px rgba(52, 63, 74, 0.2);
  /* &--right {
      display: block;
      margin: $plyr-control-spacing auto 0;
  }
  @media (min-width: $plyr-bp-control-split) {
      &--left {
          float: left;
      }
      &--right {
          float: right;
          margin-top: 0;
      }
  } */
}
/* line 339, ../sass/plyr.scss */
.plyr__controls::after {
  content: '';
  display: table;
  clear: both;
}
/* line 360, ../sass/plyr.scss */
.plyr__controls--left {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 6rem;
}
/* line 366, ../sass/plyr.scss */
.plyr__controls--right {
  position: absolute;
  left: 51%;
  transform: translateX(50%);
  bottom: 6rem;
}
/* line 374, ../sass/plyr.scss */
.plyr__controls button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 2px;
  padding: 5px 10px;
  overflow: hidden;
  border: 0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  transition: background .3s ease, color .3s ease, opacity .3s ease;
}
/* line 387, ../sass/plyr.scss */
.plyr__controls button svg {
  width: 18px;
  height: 18px;
  display: block;
  fill: #ddd;
  transition: fill .3s ease;
}
/* line 396, ../sass/plyr.scss */
.plyr__controls button.tab-focus:hover, .plyr__controls button:hover {
  background: transparent;
  color: #fff;
}
/* line 402, ../sass/plyr.scss */
.plyr__controls button:focus {
  outline: 0;
}
/* line 408, ../sass/plyr.scss */
.plyr__controls .icon--exit-fullscreen,
.plyr__controls .icon--muted,
.plyr__controls .icon--captions-on {
  display: none;
}
/* line 415, ../sass/plyr.scss */
.plyr__controls .plyr__time {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
/* line 425, ../sass/plyr.scss */
.plyr__controls .plyr__time + .plyr__time {
  display: none;
}
@media (min-width: 560px) {
  /* line 425, ../sass/plyr.scss */
  .plyr__controls .plyr__time + .plyr__time {
    display: inline-block;
  }
}
/* line 433, ../sass/plyr.scss */
.plyr__controls .plyr__time + .plyr__time::before {
  content: '\2044';
  margin-right: 10px;
}
/* line 441, ../sass/plyr.scss */
.plyr__tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  opacity: 0;
  background: transparent;
  box-shadow: 0 0 5px transparent, 0 0 0 1px transparent;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  transform: translate(-50%, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform .2s .1s ease, opacity .2s .1s ease, visibility .3s ease;
}
/* line 463, ../sass/plyr.scss */
.plyr__tooltip::after, .plyr__tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* line 474, ../sass/plyr.scss */
.plyr__tooltip::after {
  bottom: -8px;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  z-index: 1;
}
/* line 483, ../sass/plyr.scss */
.plyr__tooltip::before {
  bottom: -6px;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  z-index: 2;
}
/* line 491, ../sass/plyr.scss */
.plyr button:hover .plyr__tooltip,
.plyr button.tab-focus:focus .plyr__tooltip, .plyr__tooltip--visible {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}
/* line 498, ../sass/plyr.scss */
.plyr button:hover .plyr__tooltip {
  z-index: 3;
}
/* line 503, ../sass/plyr.scss */
.plyr input[type='range'].tab-focus:focus {
  outline: thin dotted rgba(52, 63, 74, 0.2);
  outline-offset: 3px;
}
/* line 510, ../sass/plyr.scss */
.plyr__progress {
  position: absolute;
  bottom: 3rem;
  left: 200px;
  right: 0;
  width: 70%;
  height: 2px;
  background: rgba(86, 93, 100, 0.2);
}
/* line 519, ../sass/plyr.scss */
.plyr__progress--buffer[value], .plyr__progress--played[value], .plyr__progress--seek[type='range'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
}
/* line 538, ../sass/plyr.scss */
.plyr__progress--buffer[value]::-webkit-progress-bar, .plyr__progress--played[value]::-webkit-progress-bar {
  background: transparent;
  transition: width .2s ease;
}
/* line 544, ../sass/plyr.scss */
.plyr__progress--buffer[value]::-webkit-progress-value, .plyr__progress--played[value]::-webkit-progress-value {
  background: currentColor;
  transition: width .2s ease;
}
/* line 548, ../sass/plyr.scss */
.plyr__progress--buffer[value]::-moz-progress-bar, .plyr__progress--played[value]::-moz-progress-bar {
  background: currentColor;
  transition: width .2s ease;
}
/* line 553, ../sass/plyr.scss */
.plyr__progress--played[value] {
  z-index: 2;
  color: #fff;
}
/* line 557, ../sass/plyr.scss */
.plyr__progress--buffer[value] {
  color: rgba(86, 93, 100, 0.25);
}
/* line 564, ../sass/plyr.scss */
.plyr__progress--seek[type='range'] {
  z-index: 4;
  cursor: pointer;
  outline: 0;
}
/* line 570, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-webkit-slider-runnable-track {
  background: none;
  border: 0;
}
/* line 573, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  width: 1px;
  height: 10px;
}
/* line 579, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-moz-range-track {
  background: none;
  border: 0;
}
/* line 582, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  background: transparent;
  border: 0;
  width: 1px;
  height: 10px;
}
/* line 588, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-ms-track {
  color: transparent;
  background: none;
  border: 0;
}
/* line 592, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-ms-fill-lower, .plyr__progress--seek[type='range']::-ms-fill-upper {
  background: none;
  border: 0;
}
/* line 596, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-ms-thumb {
  background: transparent;
  border: 0;
  width: 1px;
  height: 10px;
}
/* line 600, ../sass/plyr.scss */
.plyr__progress--seek[type='range']:focus {
  outline: 0;
}
/* line 603, ../sass/plyr.scss */
.plyr__progress--seek[type='range']::-moz-focus-outer {
  border: 0;
}
/* line 609, ../sass/plyr.scss */
.plyr__progress .plyr__tooltip {
  left: 0;
}
/* line 616, ../sass/plyr.scss */
.plyr--is-touch .plyr--seek[type='range']::-webkit-slider-thumb {
  width: 40px;
  transform: translateX(-50%);
}
/* line 620, ../sass/plyr.scss */
.plyr--is-touch .plyr--seek[type='range']::-moz-range-thumb {
  width: 40px;
  transform: translateX(-50%);
}
/* line 624, ../sass/plyr.scss */
.plyr--is-touch .plyr--seek[type='range']::-ms-thumb {
  width: 40px;
  transform: translateX(-50%);
}
/* line 630, ../sass/plyr.scss */
.plyr--loading .plyr__progress--buffer {
  animation: plyr-progress 1s linear infinite;
  background-size: 40px 40px;
  background-repeat: repeat-x;
  background-color: rgba(86, 93, 100, 0.25);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  color: transparent;
}
/* line 648, ../sass/plyr.scss */
.plyr__controls [data-plyr='pause'], .plyr--playing .plyr__controls [data-plyr='play'] {
  display: none;
}
/* line 652, ../sass/plyr.scss */
.plyr--playing .plyr__controls [data-plyr='pause'] {
  display: inline-block;
}
/* line 659, ../sass/plyr.scss */
.plyr__volume[type='range'] {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  margin: 0 10px 0 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}
/* line 672, ../sass/plyr.scss */
.plyr__volume[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
  border: 0;
  border-radius: 3px;
}
/* line 675, ../sass/plyr.scss */
.plyr__volume[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  height: 12px;
  width: 12px;
  background: #fff;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize;
}
/* line 682, ../sass/plyr.scss */
.plyr__volume[type='range']::-moz-range-track {
  height: 6px;
  background: transparent;
  border: 0;
  border-radius: 3px;
}
/* line 685, ../sass/plyr.scss */
.plyr__volume[type='range']::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: #fff;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize;
}
/* line 690, ../sass/plyr.scss */
.plyr__volume[type='range']::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  border-width: 3px 0;
  color: transparent;
}
/* line 697, ../sass/plyr.scss */
.plyr__volume[type='range']::-ms-fill-lower, .plyr__volume[type='range']::-ms-fill-upper {
  height: 6px;
  background: transparent;
  border: 0;
  border-radius: 3px;
}
/* line 701, ../sass/plyr.scss */
.plyr__volume[type='range']::-ms-thumb {
  height: 12px;
  width: 12px;
  background: #fff;
  border: 0;
  border-radius: 100%;
  transition: background .3s ease;
  cursor: ew-resize;
}
/* line 705, ../sass/plyr.scss */
.plyr__volume[type='range']:focus {
  outline: 0;
}
/* line 708, ../sass/plyr.scss */
.plyr__volume[type='range']:focus::-webkit-slider-thumb {
  background: #3498DB;
}
/* line 711, ../sass/plyr.scss */
.plyr__volume[type='range']:focus::-moz-range-thumb {
  background: #3498DB;
}
/* line 714, ../sass/plyr.scss */
.plyr__volume[type='range']:focus::-ms-thumb {
  background: #3498DB;
}
/* line 723, ../sass/plyr.scss */
.plyr--is-ios .plyr__volume, .plyr--is-ios [data-plyr='mute'], .plyr--is-ios.plyr--audio .plyr__controls--right {
  display: none;
}
/* line 729, ../sass/plyr.scss */
.plyr--is-ios.plyr--audio .plyr__controls--left {
  float: none;
}
/* line 735, ../sass/plyr.scss */
.plyr--audio .plyr__controls {
  padding-top: 20px;
}
/* line 738, ../sass/plyr.scss */
.plyr--audio .plyr__progress {
  bottom: auto;
  top: 0;
  background: #D6DADD;
}
/* line 745, ../sass/plyr.scss */
.plyr--fullscreen, .plyr--fullscreen-active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  background: #000;
}
/* line 757, ../sass/plyr.scss */
.plyr--fullscreen video, .plyr--fullscreen-active video {
  height: 100%;
}
/* line 760, ../sass/plyr.scss */
.plyr--fullscreen .plyr__video-wrapper, .plyr--fullscreen-active .plyr__video-wrapper {
  height: 100%;
  width: 100%;
}
/* line 764, ../sass/plyr.scss */
.plyr--fullscreen .plyr__controls, .plyr--fullscreen-active .plyr__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 775, ../sass/plyr.scss */
.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing .plyr__controls, .plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing .plyr__controls {
  transform: translateY(100%) translateY(5px);
  transition: transform .3s .2s ease;
}
/* line 779, ../sass/plyr.scss */
.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing .plyr__captions, .plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing .plyr__captions {
  bottom: 5px;
  transition: bottom .3s .2s ease;
}
/* line 783, ../sass/plyr.scss */
.plyr--fullscreen-active.plyr--fullscreen--hide-controls.plyr--playing.plyr--hover .plyr__controls, .plyr.plyr--fullscreen.plyr--fullscreen--hide-controls.plyr--playing.plyr--hover .plyr__controls {
  transform: translateY(0);
}
/* line 789, ../sass/plyr.scss */
.plyr.plyr--fullscreen .plyr__captions, .plyr--fullscreen-active .plyr__captions, .plyr--fullscreen--hide-controls.plyr--fullscreen-active.plyr--playing.plyr--hover .plyr__captions {
  top: auto;
  bottom: 90px;
}
@media (min-width: 560px) {
  /* line 789, ../sass/plyr.scss */
  .plyr.plyr--fullscreen .plyr__captions, .plyr--fullscreen-active .plyr__captions, .plyr--fullscreen--hide-controls.plyr--fullscreen-active.plyr--playing.plyr--hover .plyr__captions {
    bottom: 60px;
  }
}
/* line 801, ../sass/plyr.scss */
.plyr--fullscreen-active .icon--exit-fullscreen, .plyr--muted .plyr__controls .icon--muted, .plyr--captions-active .plyr__controls .icon--captions-on {
  display: block;
}
/* line 806, ../sass/plyr.scss */
.plyr--fullscreen-active .icon--exit-fullscreen + svg, .plyr--muted .plyr__controls .icon--muted + svg, .plyr--captions-active .plyr__controls .icon--captions-on + svg {
  display: none;
}
/* line 812, ../sass/plyr.scss */
.plyr [data-plyr='captions'],
.plyr [data-plyr='fullscreen'] {
  display: none;
}
/* line 816, ../sass/plyr.scss */
.plyr--captions-enabled [data-plyr='captions'], .plyr--fullscreen-enabled [data-plyr='fullscreen'] {
  display: inline-block;
}
