{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>User Ideas</h2>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<table class="striped">
		        <thead>
		          <tr>
		              <th data-field="idea">Name</th>
		              <th data-field="number">Number</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for idea in ideas %}
		          	<tr>
			            <td><a href="/idea/{{idea.slug}}" target="_blank">{{idea.name}}</a></td>
			            <td>{{idea.number}}</td>
		          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
	      			<a class="btn" href="admin/users?cursor={{next_curs}}">Next Page</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>

{% endblock %}

{% block modals %}

  	<!-- <div id="applicationHandled" class="modal">
	    <div class="modal-content">
	      <h4>Application Handled</h4>
	      <p>You can further modify applications in the <a href="/admin/users">User Management</a> section</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div> -->

{% endblock %}


{% block script %}

	<!--<script type="text/javascript">

		$("body").on("click", ".accept-button", function(){
			var $this = $(this);

			function successAccept(data){
				console.log("accepted");
				if ( data["message"] == "success" ){
					$("#accept-reject-"+$this.data("app-id")).text("Approved");
					$("#user-type-"+$this.data("app-id")).text(data["userType"]);
					$("#accept-"+$this.data("app-id")).addClass('disabled');
					$("#reject-"+$this.data("app-id")).addClass('disabled');
				};
			};

			if ( $this.hasClass("disabled") ){
				$('#applicationHandled').openModal();
			}else{
				$.ajax({
					url: "/admin/applications",
					type: "post",
					data: {"verdict": "accept", "applicationID": $this.data("app-id")},
					success: successAccept
				}).fail(function(){
					alert("something went wrong");
				});
			};
		});

		$("body").on("click", ".reject-button", function(){
			var $this = $(this);

			function successReject(data){
				console.log("rejected");
				if ( data["message"] == "success" ){
					$("#accept-reject-"+$this.data("app-id")).text("Rejected");
					$("#user-type-"+$this.data("app-id")).text(data["userType"]);
					$("#accept-"+$this.data("app-id")).addClass('disabled');
					$("#reject-"+$this.data("app-id")).addClass('disabled');
				};
			};

			if ( $this.hasClass("disabled") ){
				$('#applicationHandled').openModal();
			}else{
				$.ajax({
					url: "/admin/applications",
					type: "post",
					data: {"verdict": "reject", "applicationID": $this.data("app-id")},
					success: successReject
				}).fail(function(){
					alert("something went wrong");
				});
			};
			
		});

	</script>-->

{% endblock %}









