{% extends 'index-users.html' %}

{% block main %}

	<div class="row container-min">
		<div class="col s12">

			{% if idea.videos %}
				<div class="cover-video-container">
					{% for video in idea.videos %}
						<!--  width="640" height="264" -->
						<video class="idea-video video-js vjs-big-play-centered" controls preload="auto" poster="{{idea.cover_image}}" data-setup="{}">
						    <!-- <source src="MY_VIDEO.mp4" type='video/mp4'> -->
						    <!-- <source src="{{video}}" type='video/webm'> -->
						    <source src="{{video}}">
						    <p class="vjs-no-js">
						      To view this video please enable JavaScript, and consider upgrading to a web browser that
						      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
						    </p>
					  	</video>
					{% endfor %}
				</div>
			{% endif %}

			<div>
				{% if userObj and userObj.userType == 'curator' %}

		      		<ul class="collapsible" data-collapsible="accordion">
				    	<li>
					      <div class="collapsible-header">Setup Notes</div>
					      <div class="collapsible-body">

					      	<div class="row">
					      		<div class="col s12">
					      			{% if idea.notes %}
					      				{{idea.notes|safe}}
					      			{% else %}
					      				<p>No setup notes</p>
				      				{% endif %}
					      		</div>
					      	</div>

					      </div>
					    </li>
					    <li>
					      <div class="collapsible-header">Offer Landing Permission</div>
					      <div class="collapsible-body">

					      	<div class="row">
					      		<div class="col s12">
					      			<form id="landingPermissionform" action="/offerLandingPermission" method="post">
					      				<input type="date" id="landingDate" class="datepicker" name="landingDate" placeholder="Choose a date">
					      				<input type="hidden" name="ideaID" value="{{idea.key.id()}}">
					      				<div class="editable-label"> Please choose an exhibition date.</div>

					      				<div class="row" style="margin-top: 1.2rem;">
					            			<div id="gmap-container" class="col s12">
					            				<div id="gmap" class=""></div>
					            				<div class="loading-container hidden">
					            					<i class="fa fa-cog fa-spin"></i> Loading Map
					            				</div>
					            				<div class="editable-label">Choose a landing location ( your exhibition venue )</div>
					            			</div>
					            		</div>

					           			<input id="ideaLocation" name="location" type="hidden">

					      				<button class="btn"> Send </button>
					      			</form>
					      		</div>
					      	</div>

					      </div>
					    </li>
				  	</ul>

		      	{% endif %}
			</div>


			<div class="row">
				<div class="col s12">

					{% for image in idea.images %}
						<a href="#image-thumb-{{loop.index}}" class="square-thumb modal-trigger" style="background-image: url({{image}});">
						</a>
					{% endfor %}

				</div>
			</div>

			<h4>{{idea.name}}</h4>

			<div>
				{{idea.description|safe}}
			</div>

			<div class="row">
				<div class="col s12">

					<h4>Other Files</h4>
					{% if no_media_files %}
						<p>No files</p>
					{% else %}
						{% for file in files %}
							{% if file.fileType != "image" and file.fileType != "video" %}
								<a href="{{file.download_url}}">Download {{file.filename}}</a>
							{% endif %}
						{% endfor %}
					{% endif %}

				</div>
			</div>
			
		</div>
	</div>

{% endblock %}

{% block modals %}

	<div id="savedModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">Permission Sent</h4>
	      <p id="">You have given permission for '{{idea.name}}' to land, please wait for the artist to accept your permission.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>
  	<div id="errorModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">There was an error</h4>
	      <p id="errorMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

    {% for image in idea.images %}
    	<div id="image-thumb-{{loop.index}}" class="modal image-modal">
		    <div class="modal-content modal-image-content">
		      <img src="{{image}}">
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class=" modal-action modal-close btn-flat">Close</a>
		    </div>
	  	</div>
	{% endfor %}

{% endblock %}

{% block script %}

	<script type="text/javascript" src="/static/js/gmaps.js"></script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug&callback=initMap">
    </script>

	<script type="text/javascript">

		$("body").on("submit", "#landingPermissionform", function(e){

			e.preventDefault();

			var $form =  $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			var success = function(data){
				if ( data["message"] == "success" ){
					
					$("#savedModal").openModal();

				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};

			submit_form_ajax($form, method, action, success);

		});

	</script>

{% endblock %}


