{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "nonterritorial" %}
{% set active_page_m = "contact" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		
/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/

		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}

		#contentArea {
			position:relative !important;
		}

	</style>
{% endblock %}


{% block content %}

	<!-- <div class="slick-slider" data-slide-order="" data-slideshow-id="">
	  <div class="slide-title"> -->
	  	<!-- <div class="flex-item">
	  		<div class="text-content"> -->
	<div class="row container valign-wrapper static-text-container" style="min-height: 100vh;">
		<div class="col s12 m12 valign">

	  			<div class="row">
	  				<div class="col s12 center">
	  					<h2>Contact</h2>	
	  				</div>
	  			</div>

					<form id="inquiryForm" method="post" action="/contact">
							
						<div class="row">
					        <div class="input-field col s12 m6 offset-m3">
					          <input value="" id="name" name="name" type="text">
					          <label for="name">Name</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12 m6 offset-m3">
					          <input value="" id="email" name="email" type="text" required>
					          <label for="email">Email</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12 m6 offset-m3">
					          <textarea id="message" name="message" class="materialize-textarea" required></textarea>
					          <label for="message">Message</label>
					        </div>
				      	</div>
				      	<div id="feedback-container" class="row transition" style="max-height: 0rem;overflow:hidden;">
					        <div class="input-field col s12 m6 offset-m3">
					          <p id="feedback"></p>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12 m6 offset-m3">

					        {% if slideShow %}
					        	<input type="hidden" name="slideShowID" value="{{slideShow.key.id()}}"></input>
				        	{% endif %}

					         <button type="submit" class="btn-flat btn-outline">Send</button>
					        </div>
				      	</div>


					</form>


	  		</div>
	  	</div>

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>
	<script type="text/javascript">
		
		$("body").on("submit", "#inquiryForm", function(e){
			e.preventDefault();
			var success = function(){
				$("#feedback").text("Thank you for your message.");
				$("#feedback-container").css("max-height", "5rem");
				$("#inquiryForm")[0].reset();
			};

			if ( $("#email").val() && $("#message").val() ){
				submit_form_ajax($(this), false, false, success);
			}else{
				$("#feedback").text("Please include your email and a message.");
			};

		})

	</script>

{% endblock %}

