{% extends "slideshow/slideshow-index-single-column-full-width.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/

		.demo-iframe {
			width: 90%;
		    height: 90%;
		    border: 2px solid #fff;
		    position: absolute;
		    top: 5%;
		    left: 5%;
		}
		.demo-text {
			position:absolute;
			top:0%;
			left:5%;font-size: 1rem;
			text-transform: uppercase;
		}

	</style>
{% endblock %}


{% block content %}
	<!-- <div class="flex-container-center">
	  <div class="slide-title flex-item"> -->
<div class="" style="min-height: 100vh;">
	<!-- <div class="demo-text">THIS IS JUST A DEMONSTRATION</div> -->
	<iframe src="http://nonterritorial-dev.appspot.com?no_register=yes" class="demo-iframe"></iframe>
	  		
</div>

{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}

