<!--{% raw %}
{% extends "slideshow/slideshow-index.html" %}
{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% endraw %}-->

{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "new_idea" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

	</style>
{% endblock %}

{% block content %}

	<!-- template cards -->
	<div id="templates" class="hidden row">
		<!-- text card -->
		<div class="col s12 template text-template slide-preview-sortable slide-form-container">
			<div class="card white-border-card">
	            <div class="card-content white-text">
	              	<form class="row slide-form template-form" action="/me/save-slide" method="post">
		              	<div class="col s12 input-field">
		              		<!-- add textarea ID -->
		              		<textarea id="" name="slideDescription" type="text" class="materialize-textarea"></textarea>
		              		<!-- add for attr -->
		              		<label for="text-">Slide Text</label>
		              	</div>

		              	<!-- <div class="col s12 align-right">
		              		<input type="submit" value="Save" class="btn-flat"></input>
		              	</div> -->

		              	<div class="col s12">
		              		<button type="button" class="btn-flat remove-slide right">
		              			<i class="ion-trash-a"></i>
		              		</button>
		              	</div>

		              	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
		              	<!-- add slide ID -->
		  				<input type="hidden" name="slideID" class="slideID" value=""></input>
		  				<input type="hidden" name="slideType" value="text"></input>
		  				<!-- add slide order -->
		  				<input type="hidden" name="slideOrder" class="slideOrder" value=""></input>
	              	</form>

	            </div>
	      	</div>
      	</div>
      	<!-- image template -->
      	<div class="col s12 template image-template slide-preview-sortable slide-form-container">
      		<div class="card white-border-card">
	            <div class="card-content white-text">
					<form method="post" action="/me/save-slide" class="slide-dropzone slide-input-container">
		  				<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
		  				<input type="hidden" name="slideID" class="slideID" value=""></input>
		  				<input type="hidden" name="slideType" value="image"></input>
		  				<input type="hidden" name="slideOrder" class="slideOrder" value=""></input>
			  		</form>
			  		<div class="row">
			  			<div class="col s12">
		              		<button type="button" class="btn-flat remove-slide right">
		              			<i class="ion-trash-a"></i>
		              		</button>
		              	</div>
			  		</div>
		  		</div>
	  		</div>
      	</div>

      	<!-- video template -->
      	<div class="col s12 template video-template slide-preview-sortable slide-form-container">
	      	<div class="card white-border-card">
	            <div class="card-content white-text">
					{% if videos %}
		  				<form id="videoSlideForm" class="slide-form template-form" action="/me/save-slide" method="post">
					      	<div class="input-field col s12">
							    <select name="slideVideoUrl" class="video-select" data-id="">
							      	<option value="" disabled selected>Choose a video</option>
							      	{% for video in videos %}
						      			<option value="{{video.download_url}}" class="video-url-option">{{video.filename}}</option>
							      	{% endfor %}
							    </select>
							    <label>Videos</label>
						  	</div>
  			  			
					      	<div class="row">
						        <div class="input-field col s12">

						        <!-- <div class="col s12 align-right">
				              		<input type="submit" value="Save" class="btn-flat"></input>
				              	</div> -->

						        	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
					  				<input type="hidden" name="slideID" class="slideID" value=""></input>
					  				<input type="hidden" name="slideType" value="video"></input>
					  				<input type="hidden" name="slideOrder" class="slideOrder" value=""></input>
						        </div>
					      	</div>
					      	<div class="row">
				  				<div class="col s12">
			              			<button type="button" class="btn-flat remove-slide right">
			              				<i class="ion-trash-a"></i>
			              			</button>
			              		</div>
				  			</div>
		  				</form>
	  				{% else %}
	  					<a href="/me/my-videos">UPLOAD</a> a video.
	  				{% endif %}
		  		</div>
	  		</div>
  		</div>


	</div>

	<!-- Global Save button -->
	<div id="save_btn_container">
		<span id="global_save_btn" class="btn">Save</span>
		<div id="save_progress" class="progress hidden">
	      	<div class="indeterminate"></div>
	  	</div>
	</div>

	<!-- Heading -->

	<div class="row" style="padding-top:3rem;padding-bottom:3rem;">
		<div class="col s12 center">
			<h3>Create your Gallery</h3>

			<p>Drag to re-order</p>
			
			{% if userObj.userType == "gallery" and belongs_to_gallery %}
			   <a href="/me/exhibition/edit/{{slideShow.key.id()}}" class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click here to edit exhibition event details.">
			   	<i class="fa fa-pencil"></i>
			   </a>
  			{% endif %}
		</div>
	</div>


	{% if userObj.userType == "gallery" and belongs_to_gallery %}
	  <!-- <div id="edit_gallery_details_container">
	  	<ul>
	  		<li><a href="/me/exhibition/edit/{{slideShow.key.id()}}">Edit date, description, artist details</a></li>
	  	</ul>
	  </div> -->

	  <!--  <a href="/me/exhibition/edit/{{slideShow.key.id()}}" class="btn-floating btn-large waves-effect waves-light">
	   	<i class="fa fa-pencil"></i>
	   </a> -->

  	{% endif %}

  	<div id="slides" class="row container">
  		{% for slide in slides %}
  			<div class="col s12 slide-container slide-form-container {% if slide.slideType == 'text' and slide.title %}solid{% else %}slide-preview-sortable{% endif %}">
  				{% if slide.slideType == "text" %}
  					{% if slide.title %}
  						<div class="card white-border-card">
				            <div class="card-content white-text">
				              <form id="slideShowTitle" action="/me/save-slide" method="post" class="row slide-form">
				              	<div class="col s12 input-field">
				              		<input id="title" name="slideTitle" type="text" value="{{slide.title}}"></input>
				              		<label for="title">Title</label>
				              	</div>

				              	<!-- <div class="col s12 align-right">
				              		<input type="submit" value="Save" class="btn-flat"></input>
				              	</div> -->

				              	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
				  				<input type="hidden" name="slideID" class="slideID" value="{{slide.key.id()}}"></input>
				  				<input type="hidden" name="slideType" value="text"></input>
				  				<input type="hidden" name="slideOrder" class="slideOrder" value="{{slide.slideOrder}}"></input>
				              </form>
				            </div>
			          	</div>
  					{% else %}
  						<div class="card white-border-card">
				            <div class="card-content white-text">
				              <form class="row slide-form" action="/me/save-slide" method="post">
				              	<div id="text-{{loop.index}}" class="col s12 input-field">
				              		<textarea id="" name="slideDescription" type="text" class="materialize-textarea">{{slide.description}}</textarea>
				              		<label for="text-{{loop.index}}">Slide Text</label>
				              	</div>

				              	<!-- <div class="col s12 align-right">
				              		<input type="submit" value="Save" class="btn-flat"></input>
				              	</div> -->

				              	<div class="col s12">
				              		<button type="button" class="btn-flat delete-slide right" data-slide-id="{{slide.key.id()}}">
				              			<i class="ion-trash-a"></i>
				              		</button>
				              	</div>

				              	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
				  				<input type="hidden" name="slideID" class="slideID" value="{{slide.key.id()}}"></input>
				  				<input type="hidden" name="slideType" value="text"></input>
				  				<input type="hidden" name="slideOrder" class="slideOrder" value="{{slide.slideOrder}}"></input>
				              </form>
				            </div>
			          	</div>
  					{% endif %}
  				{% elif slide.slideType == "image" %}
  						<div class="card white-border-card">
				            <div class="card-content white-text">
	  							<form id="image-slide-{{slide.key.id()}}" method="post" action="/me/save-slide" class="dropzone slide-dropzone slide-input-container"
				  					style="background-image: url({{slide.image_url}})"
				  					>
					  				<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
					  				<input type="hidden" name="slideID" class="slideID" value="{{slide.key.id()}}"></input>
					  				<input type="hidden" name="slideType" value="image"></input>
					  				<input type="hidden" name="slideOrder" class="slideOrder" value="{{slide.slideOrder}}"></input>
						  		</form>

						  		<div class="row">
						  			<div class="col s12">
					              		<button type="button" class="btn-flat delete-slide right" data-slide-id="{{slide.key.id()}}">
					              			<i class="ion-trash-a"></i>
					              		</button>
					              	</div>
						  		</div>

					  		</div>
				  		</div>

  				{% elif slide.slideType == "video" %}
						<div class="card white-border-card">
				            <div class="card-content white-text">
	  							{% if videos %}
					  				<form id="slideShowTitle-{{slide.key.id()}}" class="slide-form" action="/me/save-slide" method="post">
								      	<div class="input-field col s12">
										    <select id="slideVideoUrlSelect-{{slide.key.id()}}" name="" class="video-select existing-select" data-id="{{slide.key.id()}}">
										      	<option value="" disabled selected>Choose a video</option>
										      	{% for video in videos %}
										      		{% if slide.video_url == video.download_url %}
										      			<option value="{{video.download_url}}" class="video-url-option" selected>{{video.filename}}</option>
										      		{% else %}
										      			<option value="{{video.download_url}}" class="video-url-option">{{video.filename}}</option>
										      		{% endif %}
										      	}
										      	{% endfor %}
										    </select>
										    <label for="slideVideoUrlSelect">Videos</label>
									  	</div>
								      	<div class="row">
									        <div class="input-field col s12">

									        <!-- <div class="col s12 align-right">
							              		<input type="submit" value="Save" class="btn-flat"></input>
							              	</div> -->

									        	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
								  				<input type="hidden" name="slideID" class="slideID" value="{{slide.key.id()}}"></input>
								  				<input type="hidden" name="slideType" value="video"></input>
								  				<input type="hidden" name="slideOrder" class="slideOrder" value="{{slide.slideOrder}}"></input>
								  				<input type="hidden" id="slideVideoUrl-{{slide.key.id()}}" class="slideVideoUrl" name="slideVideoUrl" value=""></input>
									        </div>
								      	</div>
								      	<div class="row">
								  			<div class="col s12">
							              		<button type="button" class="btn-flat delete-slide right" data-slide-id="{{slide.key.id()}}">
							              			<i class="ion-trash-a"></i>
							              		</button>
							              	</div>
								  		</div>
					  				</form>
				  				{% else %}
				  					<a href="/me/my-videos">UPLOAD</a> a video.
				  				{% endif %}
					  		</div>
				  		</div>
  				{% endif  %}
  			</div>
  		{% endfor %}

  	</div>

  	<div class="row container">
		<div class="col s4 center">
			<button id="add-text" class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="Add a text slide to your gallery presentation.">+ TEXT</button>
		</div>
		<div class="col s4 center">
			<button id="add-image" class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="Add an image slide to your gallery presentation.">+ IMAGE</button>
		</div>
		<div class="col s4 center">
			<button id="add-video" class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="Add a video slide to your gallery presentation, you may need to upload a video first.">+ VIDEO</button>
		</div>
  	</div>


{% endblock %}

{% block contentAreaClass %}
	zero-pad-right pos-relative padding-bot-5
{% endblock %}

{% block sideBarClass %}
	closed
{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}



{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>

	<!-- global save button -->
	<script type="text/javascript">
		var num_slides = undefined;
		var num_saves = 0;
		var CheckAllSaved = function(){
			
			console.log(num_saves +'  ... '+num_slides);

			if (num_saves >=num_slides){
				$("#save_progress").addClass("hidden");
				Materialize.toast('Saved', 4000);
				num_slides = undefined;
				num_saves = 0;
			};
		};
		$('body').on('click', '#global_save_btn', function(){
			$("#save_progress").removeClass("hidden");
			var $forms = $(".slide-form").not(".template-form");
			num_slides = $forms.length;
			$forms.each(function(index){
				console.log("$(this) ", $(this));
				var $form = $(this);
				//if( !$form.hasClass("template") ){
				$form.submit();
				//};
			});
		});
	</script>

	<!-- updated slideshow creator -->
	<script type="text/javascript">
		/*var reOrderSlides = function(){
			var index_list = [];
			$(".slide-container").not('.slide-container.template').each(function( index ) {
			  	//console.log( index + ": " + $( this ).find('.slideOrder').val() );
			  	var $slideOrder = $( this ).find('.slideOrder').val(index);
			  	console.log("should have set slide:", index);
		  	});
		};*/

		var setSlideOrder = function(){
			var index_list = [];
			var $slides = $(".slide-container");
			$slides.each(function( index ) {
			  	console.log( index + ": " + $( this ).find('.slideOrder').val() );
			  	var $slideOrder = $( this ).find('.slideOrder').val(index);
			  	var $slideID = $(this).find(".slideID");
			  	var slideID = null;
		  		if ( $slideID ){
		  			slideID = $slideID.val();
		  		};

			  	if ( slideID ){
				  	index_list.push({
	    				"id": slideID,
	    				"index": index
	    			});
			  	};
		  	});
			
			console.log("index_list: ", index_list);

			if ( index_list.length > 0 ){
				$.ajax({
					url: '/me/slide-order',
					type: 'post',
					data: { 'order': JSON.stringify(index_list) },
					success: function(){ 
						console.log("success, saved new slide orders...");
					}
				}).fail(function(){ console.log("AJAx failed, couldn't reorder") });
			};
		};


		$('body').on('click', '#add-text', function(){
			var template = $("#templates").children(".text-template").clone();
			template.removeClass("template");
			template.addClass("slide-container");
			template.find("form").removeClass("template-form");
			var slides = $(".slide-container");
			num_slides = slides.length;
			template.find('.slideOrder').val(num_slides);
			// template = template[0];
			$("#slides").append(template);
			console.log(num_slides);
		});

		var DZ_instances = {};// global variable
		$('body').on('click', '#add-image', function(){
			var template = $("#templates").children(".image-template").clone();
			template.removeClass("template");
			template.addClass("slide-container");

			var slides = $(".slide-container");
			num_slides = slides.length;
			template.find('.slideOrder').val(num_slides);
			var $dropzoneForm = template.find(".slide-dropzone");
			$dropzoneForm.attr("id", "dropzone-"+num_slides);
			$dropzoneForm.addClass("dropzone")

			// template = template[0];
			$("#slides").append(template);

			console.log("init dropzone - dropzone ID: #dropzone-"+num_slides);
			Dropzone.autoDiscover = false;
			DZ_instances["dropzone-"+num_slides] = $("#dropzone-"+num_slides).dropzone({ 
				url: "/me/save-slide",
				maxFiles: 1,
				init: function() {
			    	this.on("success", function(file, DZdata) {
				    	//console.log(DZdata);
				    	console.log("Added file.");
				    	this.removeFile(file);
				    	
				    	var $form = $("#"+this.element.id);

				    	//console.log("this.element.id", this.element.id);
				    	$form.css("background-image", "url(" + DZdata["image_url"] + ")");
				    	$form.css("background-image", "url(" + DZdata["image_url"] + ")");
				    	
				    	$form.find(".slideID").val(DZdata["slideID"]);

				    	var $remove_slide = $form.closest(".card").find(".remove-slide");
				    	//console.log($remove_slide);
						$remove_slide.addClass("delete-slide");
						$remove_slide.data("slide-id", DZdata["slideID"]);
						$remove_slide.removeClass("remove-slide");

						$(".remove-slide").addClass("delete-slide");

						Materialize.toast('Image Uploaded', 4000);

			    	});
			  	}
			});

			console.log("DZ_instances: ", DZ_instances);

		});

		// init select
		$('body').on('click', '#add-video', function(){
			var template = $("#templates").children(".video-template").clone();
			template.removeClass("template");
			template.addClass("slide-container");
			template.find("form").removeClass("template-form");
			var slides = $(".slide-container");
			num_slides = slides.length;
			template.find('.slideOrder').val(num_slides);
			var $select = template.find("select")
			$select.attr("id", "slideVideoUrlSelect-"+num_slides);
			$select.siblings('label').attr("for", "slideVideoUrlSelect-"+num_slides);
			// template = template[0];
			$("#slides").append(template);
			$('select').material_select();
			console.log(num_slides);
		});

	</script>

	<!-- old/slightly updates slideshow creator -->
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

		// disable dropzone autodiscover on this page...
		//Dropzone.autoDiscover = false;

		/*$("body").on("change", ".video-select", function(){
			var val = $(this).val();
			console.log("select value: ", val);
			var slide_id = $(this).data("id");
			$("#slideVideoUrl-"+slide_id).val(val);
		})*/

		$("body").on("submit", ".slide-form", function(e){
			e.preventDefault();
			
			var $form = $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");
			var error = false
			if ( $form.attr("id") == "slideShowTitle" && $("#title").val() <= 0 ){
				error = true;
			};

			//console.log("slideVideoUrl: ", $("#slideVideoUrl").val());

			var success = function(data){
				
				//console.log("success:", data);
				var $remove_slide = $form.find(".remove-slide");
				if ( $remove_slide ){
					$remove_slide.addClass("delete-slide");
					$remove_slide.data("slide-id", data["slideID"]);
					$remove_slide.removeClass("remove-slide");
				};
				num_saves += 1;
				CheckAllSaved();
				//Materialize.toast('Saved', 4000)
			};
			if ( !error ){
				submit_form_ajax($form, method, action, success);
			}else{
				$("#title").addClass("invalid");
			};
			//submit_form_ajax($form, method, action, success);
		});

	</script>
	<script type="text/javascript">
		
		$(document).ready(function() {
		    $('select.existing-select').material_select();
	  	});

	</script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script>
	  $(function() {
	    $( "#slides" ).sortable({
	    	items: ".slide-preview-sortable:not(.solid)",
	    	update: function( event, ui ) {

	    		setSlideOrder();

	    		/*var $rows = $("#sortable").children('.slide-preview-sortable');
	    		var index_list = []
	    		for ( var i=0; i<$rows.length; i++ ){
	    			var row = $( $rows[i] );
	    			//console.log("row", row);
	    			var new_index = row.index();
	    			//console.log("NEW INDEX: ", new_index);
	    			var id = row.data("id");

	    			var old_index = $( "#slide-reorder-"+id ).attr("data-index");

	    			console.log("---------------v-----------------------");
	    			console.log("If old position == new position, do nothing.")
	    			if ( old_index != new_index && old_index != 0 ){
	    				$("#sortable").sortable("disable");
	    				var $slide = $("#edit-slide-"+id).clone();
	    				$slide.find("input[name='slideID']").val(new_index);
	    				console.log("$slide", $slide);
	    				$(".slick-slider").slick("slickAdd", $slide, new_index);
	    				$(".slick-slider").slick("slickRemove", old_index);
	    				//$("#sortable").sortable("disable");
	    			};
	    			console.log("if its not the first slide: clone this slide ( not slide preview ) id: #edit-slide-"+id);
	    			console.log("remove old slide in old position: ", old_index);
	    			console.log("add in new position: ", new_index);
	    			console.log("---------------^-----------------------");

	    			$( "#slide-reorder-"+id ).attr("data-index", new_index);
	    			index_list.push({
	    				"id": id,
	    				"index": new_index
	    			});*/
	    		}
	    		//console.log(index_list);
	    		/*$.ajax({
					url: '/me/slide-order',
					type: 'post',
					data: { 'order': JSON.stringify(index_list) },
					success: function(){ 
						console.log("success...");
						$("#sortable").sortable("enable");
					}
				}).fail(function(){ console.log("AJAx failed, couldn't reorder") });
	    	}*/
	    });

	    //$( "#sortable" ).disableSelection();
	  });

	  $('body').on('click', '.delete-slide', function(e){
		e.preventDefault();
		var $this = $(this);
	  	var slideID = $this.data("slide-id");
	  	console.log("slideID: ", slideID);

	  	$.ajax({
			url: '/me/delete-slide',
			type: 'post',
			data: { 'slideID': slideID },
			success: function(data){
				console.log("delete - success...", data);
				$this.closest(".slide-container").remove();
				setSlideOrder();
			}
		}).fail(function(){ console.log("AJAx failed, couldn't delete slide: "+slideID) });

	  });
	  $('body').on('click', '.remove-slide', function(e){
		e.preventDefault();
		var $this = $(this);
		$this.closest(".slide-container").remove();
		setSlideOrder();
	  });

	  $('body').on('click', '.go-to-slide', function(e){
		e.preventDefault();
		var $this = $(this);
	  	var slideOrder = $this.data("slide-order");
	  	
	  	$(".slick-slider").slick("slickGoTo", slideOrder);

	  });

	  </script>

{% endblock %}














