{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "new_idea" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/

	</style>
{% endblock %}


{% block content %}


<div class="row container">
	<div class="col s12">
		<h2>Edit Exhibition {{exhibition.title}}</h2>
	</div>
</div>

<div class="row container">
	<div class="col s12">
		<form id="exhibitionForm" action="/me/save-slide" method="post" class="row">

			<div class="input-field col s12">
				<input type="text" id="booking_link" name="booking_link" class="validate" placeholder="http://..." value="{{exhibition.booking_link|check_none}}"></input>
				<label for="booking_link" data-error="please include a booking url">Booking URL</label>
			</div>

			<div class="input-field col s12" style="margin-top: 2rem;">
				<button type="button" class="btn-flat set-dates" style="padding-left:0rem;">Exhibition dates</button>
				<p id="invitation_error" class="hidden" style="color:red;margin-top: 0rem;margin-bottom:1rem;">Please Include an Exhibition date</p>
			</div>
			
			<!-- <div class="input-field col s12" style="margin-top:4rem;">
			    <select id="select_artist" name="select_artist">
			    	<option value="" selected disabled>Choose an Artist</option>
			      	<option value="1">Option 1</option>
			      	<option value="2">Option 2</option>
			      	<option value="3">Option 3</option>
			    </select>
		  	</div> -->
			
			<div class="input-field col s12">
				<input type="text" id="artist_first_name" name="artist_first_name" class="validate" value="{{exhibition_artist.name|check_none}}"></input>
				<label for="artist_first_name">Artist's First Name</label>
			</div>
			<div class="input-field col s12">
				<input type="text" id="artist_last_name" name="artist_last_name" class="validate" value="{{exhibition_artist.surname|check_none}}"></input>
				<label for="artist_last_name">Artist's Last Name</label>
			</div>
			<div class="input-field col s12">
				<textarea id="about_artist" class="materialize-textarea" name="about_artist" class="validate">{{exhibition_artist.about|check_none}}</textarea>
				<label for="about_artist">About Artist</label>
			</div>

	        <div class="input-field col s12">
	          <input id="address" type="text" name="address" class="validate"  placeholder="eg. Rome, Italy"  value="{{exhibition_artist.address|check_none}}" required>
	          <label for="address"><sup>*</sup>Address ( we won't reveal this address publicly )</label>
	        </div>

			<div class="input-field col s12">
				<input type="submit" class="btn-flat" value="Save"></input>
			</div>

			<input type="hidden" id="slideShowID" name="slideShowID" class="slideShowID" value="{{exhibition.key.id()}}"></input>
			<input type="hidden" name="slideID" value=""></input>
			<input type="hidden" name="slideType" value="text"></input>
			<input type="hidden" name="slideOrder" value="0"></input>

			<input id="country" name="country" type="hidden" value="{{exhibition_artist.country|check_none}}">
			<input id="locality" name="locality" type="hidden" value="{{exhibition_artist.locality|check_none}}">
			<input id="ideaLocation" name="ideaLocation" type="hidden" value="{{exhibition_artist.location|check_none}}">

			<input type="hidden" id="isGallery" name="isGallery" value="yes"></input>
			<input type="hidden" id="exhibitionEndDate" name="exhibitionEndDate" value="{{userSlideShow.departureDate|picker_date}}"></input>
			<input type="hidden" id="date" name="date"  value="{{userSlideShow.landingDate|picker_date}}"></input>

		</form>
	</div>
</div>
	

{% endblock %}

{% block modal %}
<!-- Modal -->
<div id="dateModal" class="modal bottom-sheet">
    <div class="modal-content">
    	<div class="row" style="margin-top: 2rem;">
    		<div class="col s12 center">
				<h2>Exhibition Start</h2>
    		</div>
    	</div>
	      <div class="row">
	    	<div class="input-field col s12 m4">
		    <select id="start_day">
		      <option class="hidden" value="" disabled selected>Day</option>
		      <option value="01">1</option>
		      <option value="02">2</option>
		      <option value="03">3</option>
		      <option value="04">4</option>
		      <option value="05">5</option>
		      <option value="06">6</option>
		      <option value="07">7</option>
		      <option value="08">8</option>
		      <option value="09">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>
		      <option value="16">16</option>
		      <option value="17">17</option>
		      <option value="18">18</option>
		      <option value="19">19</option>
		      <option value="20">20</option>
		      <option value="21">21</option>
		      <option value="22">22</option>
		      <option value="23">23</option>
		      <option value="24">24</option>
		      <option value="25">25</option>
		      <option value="26">26</option>
		      <option value="27">27</option>
		      <option value="28">28</option>
		      <option value="29">29</option>
		      <option value="30">30</option>
		      <option value="31">31</option>
		    </select>
		    <label id="start_day_error">Day</label>
		  </div>
		  <div class="input-field col s12 m4">
		    <select id="start_month">
		      <option class="hidden" value="" disabled selected>Month</option>
		      <option value="01">January</option>
		      <option value="02">February</option>
		      <option value="03">March</option>
		      <option value="04">April</option>
		      <option value="05">May</option>
		      <option value="06">June</option>
		      <option value="07">July</option>
		      <option value="08">August</option>
		      <option value="09">September</option>
		      <option value="10">October</option>
		      <option value="11">November</option>
		      <option value="12">December</option>
		    </select>
		    <label id="start_month">Month</label>
		  </div>

		  <div class="input-field col s12 m4">
		    <select id="start_year">
		      <option class="hidden" value="" disabled selected>Year</option>
		      {% for year in range(year, year15) %}
		      	<option value="{{year}}">{{year}}</option>
		      {% endfor %}
		    </select>
		    <label id="start_year">Year</label>
		  </div>
  		</div>

  		<div class="row" style="margin-top: 2rem;">
    		<div class="col s12 center">
				<h2>Exhibition End</h2>
    		</div>
    	</div>
	      <div class="row">
	    	<div class="input-field col s12 m4">
		    <select id="end_day">
		      <option class="hidden" value="" disabled selected>Day</option>
		      <option value="01">1</option>
		      <option value="02">2</option>
		      <option value="03">3</option>
		      <option value="04">4</option>
		      <option value="05">5</option>
		      <option value="06">6</option>
		      <option value="07">7</option>
		      <option value="08">8</option>
		      <option value="09">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>
		      <option value="16">16</option>
		      <option value="17">17</option>
		      <option value="18">18</option>
		      <option value="19">19</option>
		      <option value="20">20</option>
		      <option value="21">21</option>
		      <option value="22">22</option>
		      <option value="23">23</option>
		      <option value="24">24</option>
		      <option value="25">25</option>
		      <option value="26">26</option>
		      <option value="27">27</option>
		      <option value="28">28</option>
		      <option value="29">29</option>
		      <option value="30">30</option>
		      <option value="31">31</option>
		    </select>
		    <label id="end_day_error">Day</label>
		  </div>
		  <div class="input-field col s12 m4">
		    <select id="end_month" class="invalid">
		      <option class="hidden" value="" disabled selected>Month</option>
		      <option value="01">January</option>
		      <option value="02">February</option>
		      <option value="03">March</option>
		      <option value="04">April</option>
		      <option value="05">May</option>
		      <option value="06">June</option>
		      <option value="07">July</option>
		      <option value="08">August</option>
		      <option value="09">September</option>
		      <option value="10">October</option>
		      <option value="11">November</option>
		      <option value="12">December</option>
		    </select>
		    <label id="end_month_error">Month</label>
		  </div>

		  <div class="input-field col s12 m4">
		    <select id="end_year">
		      <option class="hidden" value="" disabled selected>Year</option>
		      {% for year in range(year, year15) %}
		      	<option value="{{year}}">{{year}}</option>
		      {% endfor %}
		    </select>
		    <label id="end_year_error">Year</label>
		  </div>
  		</div>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Set Dates</a>
    </div>
</div>

<div id="alert-modal" class="modal">
    <div class="modal-content">
      <h4></h4>
      
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
</div>

{% endblock %}

{% block script %}
<div id="gmap" class="hidden" style="height:0rem;width:0rem;"></div>
<script type="text/javascript" src="/static/js/gmaps.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtmhhx1-KETxjoJt1imJ86mQZRl1vzhY0&language=en&callback=initMap">
</script>

<script type="text/javascript">
	$(document).ready(function() {
	    $('select').material_select();
  	});
</script>

<!-- Validate the form -->

<script type="text/javascript">

		var start_day = null;
		var start_month = null;
		var start_year = null;
		var end_day = null;
		var end_month = null;
		var end_year = null;
			
		var datePicker = $('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15 // Creates a dropdown of 15 years to control year
	  	});

	  	$("body").on("change", "#start_day", function(){
	  		console.log("start day: ", $(this).val());
	  		start_day = $(this).val();
	  	});
	  	$("body").on("change", "#start_month", function(){
	  		console.log("start month: ", $(this).val());
	  		start_month = $(this).val();
	  	});
	  	$("body").on("change", "#start_year", function(){
	  		console.log("start year: ", $(this).val());
	  		start_year = $(this).val();
	  	});
	  	$("body").on("change", "#end_day", function(){
	  		console.log("end day: ", $(this).val());
	  		end_day = $(this).val();
	  	});
	  	$("body").on("change", "#end_month", function(){
	  		console.log("end month: ", $(this).val());
	  		end_month = $(this).val();
	  	});
	  	$("body").on("change", "#end_year", function(){
	  		console.log("end year: ", $(this).val());
	  		end_year = $(this).val();
	  	});

	  	$('body').on('click', '.set-dates', function(){

			var $this = $(this);
			var slideShowID = $this.data("id");

			function toggle_invitation(slideShowID, invited, date, exhibitionEndDate){
				console.log("un / inviting");
				$.ajax({
					url: "/toggle_invitation",
					type: "post",
					data: { slideShowID: slideShowID, invited: invited, date: date, exhibitionEndDate: exhibitionEndDate },
					success: function(data){
						console.log("successfully toggled invitation");
						console.log(data);
						if ( !data["success"] ){
							$(".modal-content").append(data["message"]);
							$("#alert-modal").openModal();
						}
					}
				})
			};


			function get_dates_and_invite(){

				if ( start_day && start_month && start_year && end_day && end_month && end_year ){
					var start_date = start_year+"/"+start_month+"/"+start_day;
					var end_date = end_year+"/"+end_month+"/"+end_day;
					console.log("start_date: ", start_date);
					console.log("end_date: ", end_date);
					$("#date").val(start_date);
					$("#exhibitionEndDate").val(end_date);
					//toggle_invitation(slideShowID, true, start_date, end_date);
				}else{

					// open the modal again if they haven't completed the dates
					$('#dateModal').openModal({
						complete : get_dates_and_invite
					});

					if ( !start_day ){
						$("#start_day_error").addClass("error");
					};
					if ( !start_month ){
						$("#start_month_error").addClass("error");
					};
					if ( !start_year ){
						$("#start_year_error").addClass("error");
					};

					if ( !end_day ){
						$("#end_day_error").addClass("error");
					};
					if ( !end_month ){
						$("#end_month_error").addClass("error");
					};
					if ( !end_year ){
						$("#end_year_error").addClass("error");
					};
				};

			};

			//if ($this.is(':checked')){

				$('#dateModal').openModal({
					complete : get_dates_and_invite
				});
				$('select').material_select();

		});

	</script>

{% endblock %}


















