<!--{% raw %}
{% extends "slideshow/slideshow-index.html" %}
{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% endraw %}-->

{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "new_idea" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/

	</style>
{% endblock %}

{% block content %}

	{% if userObj.userType == "gallery" and belongs_to_gallery %}
	  <div id="edit_gallery_details_container">
	  	<ul>
	  		<li><a href="/me/exhibition/edit/{{slideShow.key.id()}}">Edit date, description, artist details</a></li>
	  	</ul>
	  </div>
  	{% endif %}

	<div id="nextSlide" onclick="next_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-right"></i>
	</div>
	<div id="prevSlide" onclick="prev_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-left"></i>
	</div>


	<div class="slick-slider editable-slick-slider" data-slideshow-id="{{slideShow.key.id()}}" data-slide-order="{{slides|length}}">
	{% for slide in slides %}

		{% if slide.slideType == "text" %}
			{% if slide.title %}
			<div id="edit-slide-{{slide.key.id()}}" class="">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<form id="slideShowTitle" class="slide-form" action="/me/save-slide" method="post">
	  						<div class="row">
						        <div class="input-field col s12 center">
					          		<input id="title" name="slideTitle" type="text" class="validate" value="{{slide.title}}" maxlength="500">
						          	<label for="title" class="center" data-error="please include a title">Heading</label>
						       	</div>
					      	</div>
					      	<div class="row">
						        <div class="input-field col s12">
						        	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
					  				<input type="hidden" name="slideID" value="{{slide.key.id()}}"></input>
					  				<input type="hidden" name="slideType" value="text"></input>
					  				<input type="hidden" name="slideOrder" value="{{slide.slideOrder}}"></input>
						          	<button type="submit" class="btn-flat">Save</button>
						        </div>
					      	</div>
					      	<!-- <div id="addSlideBtns-{{slide.slideOrder}}" class="addSlideBtns hidden">
				      			<span class="btn-flat add-new-text-slide">New Text</span>
				      			<span class="btn-flat add-new-image-slide">New Image</span>
				      			<span class="btn-flat add-new-video-slide">New Video</span>
					      	</div> -->
		  				</form>
			  		</div>
			  	</div>
	  		</div>
			{% else %}
			<div id="edit-slide-{{slide.key.id()}}" class="">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<form id="slideShowTitle-{{slide.key.id()}}" class="slide-form" action="/me/save-slide" method="post">
					      	<div class="row">
						        <div class="col s12 center">
						          	<textarea id="description-{{slide.key.id()}}" name="slideDescription" class="materialize-textarea">{{slide.description}}</textarea>
			          				<label for="description-{{slide.key.id()}}">Text</label>
						        </div>
					      	</div>
					      	<div class="row">
						        <div class="input-field col s12">
						        	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
					  				<input type="hidden" name="slideID" value="{{slide.key.id()}}"></input>
					  				<input type="hidden" name="slideType" value="text"></input>
					  				<input type="hidden" name="slideOrder" value="{{slide.slideOrder}}"></input>
						          	<button type="submit" class="btn-flat">Save</button>
						        </div>
					      	</div>
					      	<!-- <div id="addSlideBtns-{{slide.slideOrder}}" class="addSlideBtns hidden">
				      			<span class="btn-flat add-new-text-slide">New Text</span>
				      			<span class="btn-flat add-new-image-slide">New Image</span>
				      			<span class="btn-flat add-new-video-slide">New Video</span>
					      	</div> -->
		  				</form>
			  		</div>
			  	</div>
	  		</div>
	  		{% endif %}
  		{% elif slide.slideType == "image" %}

  			<div id="edit-slide-{{slide.key.id()}}" class="flex-container-center">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center slide-edit">
		  				<form id="image-slide-{{slide.key.id()}}" method="post" action="/me/save-slide" class="dropzone slide-dropzone slide-input-container"
		  					style="background-image: url({{slide.image_url}})"
		  				>
			  				<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
			  				<input type="hidden" name="slideID" value="{{slide.key.id()}}"></input>
			  				<input type="hidden" name="slideType" value="image"></input>
			  				<input type="hidden" name="slideOrder" value="{{slide.slideOrder}}"></input>
				  		</form>
				  		<!-- <div id="addSlideBtns-{{slide.slideOrder}}" class="addSlideBtns hidden">
			      			<span class="btn-flat add-new-text-slide">New Text</span>
			      			<span class="btn-flat add-new-image-slide">New Image</span>
			      			<span class="btn-flat add-new-video-slide">New Video</span>
			      		</div> -->
			  		</div>
			  	</div>
		  	</div>

  		{% elif slide.slideType == "video" %}

  			<div id="edit-slide-{{slide.key.id()}}" class="">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
		  			{% if videos %}
	  				<form id="slideShowTitle-{{slide.key.id()}}" class="slide-form" action="/me/save-slide" method="post">
				      	<div class="input-field col s12">
						    <select id="slideVideoUrlSelect" name="" class="video-select" data-id="{{slide.key.id()}}">
						      	<option value="" disabled selected>Choose a video</option>
						      	{% for video in videos %}
						      		{% if slide.video_url == video.download_url %}
						      			<option value="{{video.download_url}}" class="video-url-option" selected>{{video.filename}}</option>
						      		{% else %}
						      			<option value="{{video.download_url}}" class="video-url-option">{{video.filename}}</option>
						      		{% endif %}
						      	}
						      	{% endfor %}
						    </select>
						    <label for="slideVideoUrlSelect">Videos</label>
					  	</div>
				      	<div class="row">
					        <div class="input-field col s12">
					        	<input type="hidden" name="slideShowID" class="slideShowID" value="{{slideShow.key.id()}}"></input>
				  				<input type="hidden" name="slideID" value="{{slide.key.id()}}"></input>
				  				<input type="hidden" name="slideType" value="video"></input>
				  				<input type="hidden" name="slideOrder" value="{{slide.slideOrder}}"></input>
				  				<input type="hidden" id="slideVideoUrl-{{slide.key.id()}}" class="slideVideoUrl" name="slideVideoUrl" value=""></input>
					          	<button type="submit" class="btn-flat">Save</button>
					        </div>
				      	</div>
				      	<!-- <div id="addSlideBtns-'+slideOrder+'" class="addSlideBtns hidden">
			      			<span class="btn-flat add-new-text-slide">New Text</span>
			      			<span class="btn-flat add-new-image-slide">New Image</span>
			      			<span class="btn-flat add-new-video-slide">New Video</span>
				      	</div> -->
	  				</form>
	  				{% else %}
	  					<a href="/me/my-videos">UPLOAD</a> a video.
	  				{% endif %}
		  		</div>
		  	</div>
	  	</div>

		{% endif %}
	
	{% endfor %}

	</div>





	<!-- SLIDE REORDERING -->
	<div id="sortable-container">
		<div id="sortable" class="slide-reorder">
			
			{% for slide in slides %}

			{% if slide.slideType == "text" %}
				{% if slide.title %}
				<div id="slide-reorder-{{slide.key.id()}}" class="slide-preview slide-preview-sortable solid" data-index="{{slide.slideOrder}}" data-id="{{slide.key.id()}}">
					<p>{{slide.title}}</p>
		  		</div>
				{% else %}
				<div id="slide-reorder-{{slide.key.id()}}" class="slide-preview slide-preview-sortable" data-index="{{slide.slideOrder}}" data-id="{{slide.key.id()}}">
					<p>{{slide.description}}</p>
					<button type="button" class="btn-flat delete-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}"><i class="ion-trash-a"></i></button>
					<!-- <button type="button" class="btn-flat slide-thumb-btn" data-slide-id="{{slide.key.id()}}">REORDER</button> -->
					<button type="button" class="btn-flat go-to-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}" data-slide-order="{{loop.index0}}"><i class="ion-forward"></i></button>
		  		</div>
		  		{% endif %}
	  		{% elif slide.slideType == "image" %}

	  			<div id="slide-reorder-{{slide.key.id()}}" class="slide-preview slide-preview-sortable" style="background-image: url({{slide.image_url}})" data-index="{{slide.slideOrder}}" data-id="{{slide.key.id()}}">
					<p></p>
					<button type="button" class="btn-flat delete-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}"><i class="ion-trash-a"></i></button>
					<!-- <button type="button" class="btn-flat slide-thumb-btn" data-slide-id="{{slide.key.id()}}">REORDER</button> -->
					<button type="button" class="btn-flat go-to-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}" data-slide-order="{{loop.index0}}"><i class="ion-forward"></i></button>
		  		</div>

	  		{% elif slide.slideType == "video" %}

	  			<div id="slide-reorder-{{slide.key.id()}}" class="slide-preview slide-preview-sortable" data-index="{{slide.slideOrder}}" data-id="{{slide.key.id()}}">
					<p><i class="ion-play"></i><!--  {{slide.slideOrder}} --></p>
					<button type="button" class="btn-flat delete-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}"><i class="ion-trash-a"></i></button>
					<!-- <button type="button" class="btn-flat slide-thumb-btn" data-slide-id="{{slide.key.id()}}">REORDER</button> -->
					<button type="button" class="btn-flat go-to-slide slide-thumb-btn" data-slide-id="{{slide.key.id()}}" data-slide-order="{{loop.index0}}"><i class="ion-forward"></i></button>
		  		</div>

			{% endif %}
		
		{% endfor %}

		</div>

	</div>

	<div class="add-slide-buttons">
		<span class="add-new-text-slide">
			<i class="ion-edit"></i>
			<span>ADD TEXT</span>
		</span>
		<span class="add-new-image-slide">
			<i class="ion-image"></i>
			<span>ADD IMAGE</span>
		</span>
		<span class="add-new-video-slide">
			<i class="ion-play"></i>
			<span>ADD VIDEO</span>
		</span>
	</div>

{% endblock %}

{% block contentAreaClass %}
	zero-pad-right
{% endblock %}

{% block sideBarClass %}
	closed
{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}



{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

		// disable dropzone autodiscover on this page...
		//Dropzone.autoDiscover = false;

		$("body").on("change", ".video-select", function(){
			var val = $(this).val();
			console.log("select value: ", val);
			var slide_id = $(this).data("id");
			$("#slideVideoUrl-"+slide_id).val(val);
		})

		$("body").on("submit", ".slide-form", function(e){
			e.preventDefault();
			
			var $form = $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");
			var error = false
			if ( $form.attr("id") == "slideShowTitle" && $("#title").val() <= 0 ){
				error = true;
			};

			//console.log("slideVideoUrl: ", $("#slideVideoUrl").val());

			var success = function(data){
				
				console.log("success:", data);
				next_slideOrder = parseInt(data['slideOrder']) + 1;
				$(".slick-slider").data("slide-order", next_slideOrder);
				if ( parseInt( data['slideOrder']) == 0 ){
					$(".slick-slider").data("slideshow-id", data['slideShowID']);
					$(".slick-slider").slick('slickNext');
				};
				$(".addSlideBtns").addClass("hidden");
				$form.find(".addSlideBtns").removeClass("hidden");
				// in ajax.js
				feedback_overlay("Saved", 1000);
			};
			if ( !error ){
				submit_form_ajax($form, method, action, success);
			}else{
				$("#title").addClass("invalid");
			};
			//submit_form_ajax($form, method, action, success);
		});

	</script>
	<script type="text/javascript">
		
		$(document).ready(function() {
		    $('select').material_select();
	  	});

	</script>
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script>
	  $(function() {
	    $( "#sortable" ).sortable({
	    	items: ".slide-preview-sortable:not(.solid)",
	    	update: function( event, ui ) {
	    		var $rows = $("#sortable").children('.slide-preview-sortable');
	    		var index_list = []
	    		for ( var i=0; i<$rows.length; i++ ){
	    			var row = $( $rows[i] );
	    			//console.log("row", row);
	    			var new_index = row.index();
	    			//console.log("NEW INDEX: ", new_index);
	    			var id = row.data("id");

	    			var old_index = $( "#slide-reorder-"+id ).attr("data-index");

	    			console.log("---------------v-----------------------");
	    			console.log("If old position == new position, do nothing.")
	    			if ( old_index != new_index && old_index != 0 ){
	    				$("#sortable").sortable("disable");
	    				var $slide = $("#edit-slide-"+id).clone();
	    				$slide.find("input[name='slideID']").val(new_index);
	    				console.log("$slide", $slide);
	    				$(".slick-slider").slick("slickAdd", $slide, new_index);
	    				$(".slick-slider").slick("slickRemove", old_index);
	    				//$("#sortable").sortable("disable");
	    			};
	    			console.log("if its not the first slide: clone this slide ( not slide preview ) id: #edit-slide-"+id);
	    			console.log("remove old slide in old position: ", old_index);
	    			console.log("add in new position: ", new_index);
	    			console.log("---------------^-----------------------");

	    			$( "#slide-reorder-"+id ).attr("data-index", new_index);
	    			index_list.push({
	    				"id": id,
	    				"index": new_index
	    			});
	    		}
	    		console.log(index_list);
	    		$.ajax({
					url: '/me/slide-order',
					type: 'post',
					data: { 'order': JSON.stringify(index_list) },
					success: function(){ 
						console.log("success...");
						$("#sortable").sortable("enable");
					}
				}).fail(function(){ console.log("AJAx failed, couldn't reorder") });
	    	}
	    });

	    //$( "#sortable" ).disableSelection();
	  });

	  $('body').on('click', '.delete-slide', function(e){
		e.preventDefault();
		var $this = $(this);
	  	var slideID = $this.data("slide-id");
	  	console.log("slideID: ", slideID);

	  	$.ajax({
			url: '/me/delete-slide',
			type: 'post',
			data: { 'slideID': slideID },
			success: function(data){
				console.log("success...", data);
				var slideID = data["slideID"];
				var slideOrder = data["slideOrder"];
				$("#edit-slide-"+slideID).remove();
				$("#slide-reorder-"+slideID).remove();
				$("#slide-reorder-"+slideOrder).remove();// dynamically added slides may have to get this ID
				$('.slick-slider').slick('reinit');
				var old_slideCount = $(".slick-slider").data("slide-order");
				var new_slideCount = parseInt(old_slideCount) - 1;
				$(".slick-slider").data("slide-order", new_slideCount);
			}
		}).fail(function(){ console.log("AJAx failed, couldn't delete slide: "+slideID) });

	  });

	  $('body').on('click', '.go-to-slide', function(e){
		e.preventDefault();
		var $this = $(this);
	  	var slideOrder = $this.data("slide-order");
	  	
	  	$(".slick-slider").slick("slickGoTo", slideOrder);

	  });

	  </script>

{% endblock %}














