{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "idea_listing" %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
</style>

{% endblock %}

{% block content %}

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container">

			<div class="row">
				<div class="col s12">
					<h2>{{list_title}}</h2>
				</div>
			</div>
			
			<table class="idea-listing-table responsive-table">
		        <thead>
		          <tr>
		          		<th data-field="code">Flight Code</th>
		          		<th data-field="inflight">Artist</th>
		              	<th data-field="title">Title</th>
		              	<th data-field="Destination">Destination</th>
		              	<th data-field="start">Starts</th>
		              	<th data-field="end">Ends</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for exhibition in exhibitions %}
			          	<tr>
				            <td>{{exhibition.flightCode}}{{exhibition.flightNumber}}</td>
				            <td>{{exhibition.surname|capitalize}}, {{exhibition.user.get().name|capitalize}}</td>
				            <td><a href="/idea/{{exhibition.flightCode}}/{{exhibition.slug}}">{{exhibition.title}}</a></td>
				            <td>
				            	{% if exhibition.landingCountry and exhibition.landingLocality %}
				            		{{exhibition.landingLocality}}, {{exhibition.landingCountry|abbrev_country}}
				            	{% elif exhibition.landingCountry and not exhibition.landingLocality %}
				            		{{exhibition.landingCountry|abbrev_country}}
			            		{% else %}
			            			TBA
				            	{% endif %}
				            </td>
				            <td>{{exhibition.landingDate|blog_date}}</td>
				            <td>{{exhibition.departureDate|check_none|blog_date}}</td>
			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

		</div>
	</div>

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block script %}
{% endblock %}

