{% extends "slideshow/slideshow-index-single-column-map.html" %}

{% block style %}
<style>

/* styles moved to nonterritorial.scss */

</style>

{% endblock %}



{% block content %}
  <!-- utc clock -->
  <div class="utc_clock"></div>

  <!-- <a href="#" class="btn-flat btn-outline" style="position:fixed;bottom: 5rem;right:12rem;color: yellow;">REGISTER</a>
  <p style="position:fixed;bottom: 6rem;right:4rem;color: yellow;"> Stay up to date</p> -->

	<!-- d3.js -->
	<div id="map" class="hide-on-small-only"></div>

	<!-- Google maps container -->
	<!-- <div id="fp-map"></div> -->
	<!-- <div class="beam hidden"></div> -->

{% endblock %}

{% block zoomInBtn %}
	<span class="zoom-btn zoom-in">+</span>
  <!-- <button id="zoom_in">+</button> -->
{% endblock %}
{% block zoomOutBtn %}
	<span class="zoom-btn zoom-out">-</span>
<!-- <button id="zoom_out">-</button> -->
{% endblock %}

{% block zoomBtn %}
	<!-- <div class="zoom-container">
		<span class="zoom-btn zoom-in" onclick="zoomIn()">+</span>
		<span class="zoom-btn zoom-out" onclick="zoomOut()">-</span>
	</div> -->
{% endblock %}


{% block modal %}
  
  <div id="explainer" class="animated transition center" style="height:50%;width:90%;">
    <span class="close dismiss-explainer"><i class="ion-close"></i></span>

    <div class="explainer-artist-image hidden">
      <img src="/static/img/babel_cover.png" class="responsive-img">
    </div>
    <div class="explainer-airport-image hidden">
      <img src="/static/img/ordos_cover.png" class="responsive-img">
    </div>

    <a id="explore-button" href="#" class="btn-flat btn-outline dismiss-explainer hidden">EXPLORE</a>

    <div id="explainer-text-container">
      <div class="artist-explainer explainer-text animated invisible">
        <p>An artist is represented by a red circle, you can click on an artist to get more information.</p>
      </div>
      <div class="airport-explainer explainer-text animated invisible">
        <p>An airport is represented by a blue circle, you can also click on an airport.</p>
      </div>
      <div class="line-explainer explainer-text animated invisible">
        <p>When an airport invites an artist to exhibit their idea a new flight is created.</p>
      </div>
      <div class="vector-explainer explainer-text animated invisible">
        <p>A vector represents an idea. When artists are invited their ideas 'fly' to the exhibition space.</p>
      </div>
      <div class="gallery-explainer explainer-text animated invisible">
        <p>You can click on a vector to see more information or view the idea gallery.</p>
      </div>
      <div class="landed-explainer explainer-text animated invisible">
        <p>An idea 'lands' when an exhibition starts.</p>
      </div>

      <div class="freeport-explainer explainer-text animated invisible">
        <p>Freeports are private gallery spaces and can also invite artist's ideas.</p>
      </div>

      <a id="explainer-next" href="#" class="btn-flat btn-outline hidden" data-next="airport">NEXT</a>
    </div>

  </div>

{% endblock %}


{% block script %}
	
	<!-- d3.js -->
	<script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="/static/js/flightAnimation-clean.js"></script>
    <script type="text/javascript">

    // uncomment to enable popup
    $(document).ready(function(){

      //if ( !localStorage.getItem("net.nonterritorial.explainer") ){
        /*setTimeout(function(){
          $("#explainer").removeClass("hidden");
          
          setTimeout(function(){

            $("#explainer").css("opacity", "1");
            setTimeout(function(){
              $("#explainer .line-1").removeClass("transparent");
            }, 100);
            setTimeout(function(){
              $("#explainer .line-2").removeClass("transparent");
            }, 1200);
            setTimeout(function(){
              $("#explainer .line-3").removeClass("transparent");
            }, 4200);
            setTimeout(function(){
              $("#explainer .line-5").removeClass("transparent");
            }, 6200);

          }, 500);
        }, 300);*/
      //};
    });

      $("body").on("click", ".dismiss-explainer", function(){
        $("#explainer").addClass("fadeOutDown");
        localStorage.setItem("net.nonterritorial.explainer", "viewed");
      });
      $("body").on("click", "#explainer .dismiss-explainer", function(){
        $("#explainer").addClass("fadeOutDown");
        localStorage.setItem("net.nonterritorial.explainer", "viewed");
      });

      $("body").on("click", ".vector-img", function(){
        $(".explainer-vector-label").css("max-height", '10rem');
      });

      /*$('body').on('click', '.show-explainer-artist-image', function(){
        $(".explainer-artist-image").toggleClass("hidden");
      });
      $('body').on('click', '.show-explainer-airport-image', function(){
        $(".explainer-airport-image").toggleClass("hidden");
      });*/

      // if not mobile:
      if ( $(window).width() > 601 ){
        $("#explainer").css("opacity", "1");
      }else{
        $("#explainer").addClass("hidden");
      };

    </script>

    <script type="text/javascript">

      $("body").on("click", "#explainer-next", function(){
        var $this = $(this);
        var next = $this.data("next");

        if ( next == "airport" ){
          $this.data("next", "line");
          $(".artist-explainer").removeClass("fadeIn");
          $(".artist-explainer").addClass("fadeOut");
          setTimeout(function(){
            add_airport();
          }, 500);
          //add_airport();
        }else if ( next == "line" ){
          $this.data("next", "vector");
          $(".airport-explainer").removeClass("fadeIn");
          $(".airport-explainer").addClass("fadeOut");
          setTimeout(function(){
            add_line();
          }, 500);
          //add_line();
        }else if ( next == "vector" ){
          $this.data("next", "animate_vector_a");
          $(".line-explainer").removeClass("fadeIn");
          $(".line-explainer").addClass("fadeOut");
          setTimeout(function(){
            add_vector();
          }, 500);
          //add_vector();
        }else if ( next == "animate_vector_a" ){
          $this.data("next", "animate_vector_b");
          $(".vector-explainer").removeClass("fadeIn");
          $(".vector-explainer").addClass("fadeOut");
          setTimeout(function(){
            animate_vector_a();
          }, 500);
          //animate_vector_a();
        }else if ( next == "animate_vector_b" ){
          $this.data("next", "freeport");
          $(".gallery-explainer").removeClass("fadeIn");
          $(".gallery-explainer").addClass("fadeOut");
          animate_vector_b();
        }else if ( next == "freeport" ){
          $(".landed-explainer").removeClass("fadeIn");
          $(".landed-explainer").addClass("fadeOut");
          $this.data("next", "end");
          $this.text("DONE");
          setTimeout(function(){
            add_freeport();
            add_freeport_line();
            add_freeport_vector();
            setTimeout(function(){
              animate_vector_freeport();
            }, 500);
          }, 500);
        }else if(next == "end"){
          $(".freeport-explainer").removeClass("fadeIn");
          $(".freeport-explainer").addClass("fadeOut");
          artist.remove();
          airport.remove();
          line.remove();
          vector.remove();
          $this.addClass ("hidden");

          artist.remove();
          airport.remove();
          line.remove();
          freeport.remove();
          freeport_line.remove();
          vector.remove();

          $("#explore-button").removeClass("hidden");
         // $this.data("next", "airport");
          //$this.text("NEXT");
          //$("#explainer").addClass("fadeOutDown");
        };

      });

      var text_container_height = 100;
      var explainer_h = $("#explainer").outerHeight();
      explainer_h = explainer_h - text_container_height;
      var explainer_w = $("#explainer").outerWidth();
      var lineData = [ { "x": explainer_w*0.1,   "y": explainer_h*0.8},  { "x": explainer_w*0.8,  "y": explainer_h*0.2}];
      var lineData_freeport = [ { "x": explainer_w*0.1,   "y": explainer_h*0.8},  { "x": explainer_w*0.4,  "y": explainer_h*0.3}];
      var explainer_svg = d3.select("#explainer")
        .append("svg")
        .attr("preserveAspectRatio", "xMidYMid")
        .attr("viewBox", "0 0 " + explainer_w + " " + explainer_h)
        .attr("width", explainer_w)
        .attr("height", explainer_h);
      var explainer_g = explainer_svg.append("g");

      var artist = null;
      var airport = null;
      var line = null;
      var freeport = null;
      var freeport_line = null;
      var vector = null;

      // calculate rotation & scale of the vector
      var diff_x = lineData[1].x - lineData[0].x;
      var diff_y = lineData[1].y - lineData[0].y;
      var r = 180 - Math.atan2(-diff_y, diff_x) * 180 / Math.PI;
      var s = 0.5;

      var freeport_diff_x = lineData_freeport[1].x - lineData_freeport[0].x;
      var freeport_diff_y = lineData_freeport[1].y - lineData_freeport[0].y;
      var r_freeport = 180 - Math.atan2(-freeport_diff_y, freeport_diff_x) * 180 / Math.PI;

      /*setTimeout(add_artist(), 1000);
      setTimeout(add_airport(), 2000);
      setTimeout(add_vector(), 3000);
      setTimeout(add_line(), 4000);*/

      // control the order of the animations

      $(document).ready(function(){

        setTimeout(function(){
          add_artist();
        }, 1000);
        /*setTimeout(function(){
          add_airport();
        }, 6000);
        setTimeout(function(){
          add_line();
        }, 11000);
        setTimeout(function(){
          add_vector();
        }, 16000);
        setTimeout(function(){
          animate_vector_a();
        }, 21000);*/

      });

      // text display listeners
      $("body").on("click", ".explainer-artist", function(){
        console.log("toggle hidden text??");
        $(".artist-text").removeClass("hidden");
      });

      function positionText(textType, Top, Left){
        /*if ( Top ){
          $("."+textType+"-explainer").css("top", Top);
        };
        if ( Left ){
          $("."+textType+"-explainer").css("left", Left);
        };*/
      };

      function animateText(textType){
        $("."+textType+"-explainer").removeClass("invisible");
        $("."+textType+"-explainer").addClass("fadeIn");

        /*setTimeout(function(){
          $("."+textType+"-explainer").removeClass("fadeIn");
          $("."+textType+"-explainer").addClass("fadeOut");
        }, 4500);*/
      };



      function add_artist(){

        animateText("artist");
        positionText("artist", lineData[0].y, lineData[0].x - 10);

        setTimeout(function(){
          $("#explainer-next").removeClass("hidden");
        }, 500);

        artist = explainer_g.append("circle")
          .attr("r", 20)
          .attr("class", "artist explainer-artist")
          .attr("id", "test-artist")
          .attr("fill", "rgba(0,0,0,0)")
          .style("cursor", "pointer")
          .style("stroke-width", "3")
          .attr("cx", lineData[0].x )
          .attr("cy", lineData[0].y );

        artist.on("click", function(){
          var text = d3.selectAll(".artist-text");
          var text_class = text.attr("class");
          if ( !text.classed("selected") ){
            text_class += " selected";
            text
              .style("display", "inline-block")
              .attr("class", text_class);
          }else{
            text_class = text_class.replace(" selected", "");
            text
              .style("display", "none")
              .attr("class", text_class);
          };

        });

        artist_text_a = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "artist-text show-explainer-artist-image")
        .style("display", "none")
        .style("color", "#fff")
        .style("stroke", "#fff")
        .style("fill", "#fff")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData[0].x + 20) +", "+ (lineData[0].y + 20) +")")
        .text("Artist");

        artist_text_b = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "artist-text show-explainer-artist-image")
        .style("display", "none")
        //.style("color", "red")
        //.style("stroke", "#fff")
        //.style("fill", "#fff")
        .style("stroke", "#F1F100")
        .style("fill", "#F1F100")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData[0].x + 20) +", "+ (lineData[0].y + 40) +")")
        .text("View");

      };


      function add_airport(){
        animateText("airport");
        positionText("airport", lineData[1].y+20, false);

        airport = explainer_g.append("circle")
          .attr("r", 20)
          .attr("class", "airport")
          .attr("id", "test-airport")
          .attr("fill", "rgba(0,0,0,0)")
          .style("cursor", "pointer")
          .attr("cx", lineData[1].x )
          .attr("cy", lineData[1].y );

        airport.on("click", function(){
          var text = d3.selectAll(".airport-text");
          if ( !text.classed("selected") ){
            text
              .style("display", "inline-block")
              .attr("class", "airport-text show-explainer-airport-image selected");
          }else{
            text
              .style("display", "none")
              .attr("class", "airport-text show-explainer-airport-image");
          };

        });

        airport_text_a = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "airport-text show-explainer-airport-image")
        .style("display", "none")
        .style("color", "#fff")
        .style("stroke", "#fff")
        .style("fill", "#fff")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData[1].x + 20) +", "+ (lineData[1].y + 20) +")")
        .text("Airport");

        airport_text_b = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "airport-text show-explainer-airport-image")
        .style("display", "none")
        //.style("color", "#fff")
        //.style("stroke", "#fff")
        //.style("fill", "#fff")
        .style("stroke", "#F1F100")
        .style("fill", "#F1F100")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData[1].x + 20) +", "+ (lineData[1].y + 40) +")")
        .text("View");


      };

      function add_freeport(){
        animateText("freeport");
        positionText("freeport", lineData_freeport[1].y+20, false);

        freeport = explainer_g.append("circle")
          .attr("r", 20)
          .attr("class", "freeport")
          .attr("id", "test-freeport")
          .attr("fill", "rgba(0,0,0,0)")
          .style("cursor", "pointer")
          .attr("cx", lineData_freeport[1].x )
          .attr("cy", lineData_freeport[1].y );

        freeport.on("click", function(){
          var text = d3.selectAll(".freeport-text");
          if ( !text.classed("selected") ){
            text
              .style("display", "inline-block")
              .attr("class", "freeport-text show-explainer-freeport-image selected");
          }else{
            text
              .style("display", "none")
              .attr("class", "freeport-text show-explainer-freeport-image");
          };

        });

        var freeport_text_a = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "freeport-text show-explainer-freeport-image")
        .style("display", "none")
        .style("color", "#fff")
        .style("stroke", "#fff")
        .style("fill", "#fff")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData_freeport[1].x + 20) +", "+ (lineData_freeport[1].y + 20) +")")
        .text("Freeport");

        var freeport_text_b = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "freeport-text show-explainer-freeport-image")
        .style("display", "none")
        //.style("color", "#fff")
        //.style("stroke", "#fff")
        //.style("fill", "#fff")
        .style("stroke", "#F1F100")
        .style("fill", "#F1F100")
        .style("stroke-width", "0.5")
        .style("cursor", "pointer")
        .attr("transform", "translate("+ (lineData_freeport[1].x + 20) +", "+ (lineData_freeport[1].y + 40) +")")
        .text("View");


      };
      
      function add_line(){
        animateText("line");
        positionText("line", (explainer_h/2), false);

         //This is the accessor function we talked about above
         var lineFunction = d3.svg.line()
                                  .x(function(d) { return d.x; })
                                 .y(function(d) { return d.y; })
                                 .interpolate("linear");
        //The line SVG Path we draw
        line = explainer_g.append("path")
                                    .attr("d", lineFunction(lineData))
                                    .attr("stroke", "blue")
                                    .attr("stroke-width", 2)
                                    .attr("fill", "none")
                                    //.tension(0) // Catmull–Rom;
                                    //.interpolate("cardinal-closed");
      };

      function add_freeport_line(){
        animateText("line");
        positionText("line", (explainer_h/2), false);

         //This is the accessor function we talked about above
         var lineFunction = d3.svg.line()
                                  .x(function(d) { return d.x; })
                                 .y(function(d) { return d.y; })
                                 .interpolate("linear");
        //The line SVG Path we draw
        freeport_line = explainer_g.append("path")
                                    .attr("d", lineFunction(lineData_freeport))
                                    .attr("stroke", "blue")
                                    .attr("stroke-width", 2)
                                    .attr("fill", "none")
                                    //.tension(0) // Catmull–Rom;
                                    //.interpolate("cardinal-closed");
      };


      // global specific to vector
      var vector_y_translate = 23;

      function add_vector(){

        animateText("vector");
        positionText("vector", lineData[0].y, lineData[0].x - 10)

        vector = explainer_g.append("path")
        .attr("class", "vector-arrow vector-destination-test")
        .attr("id", "vector-arrow-test")
        .style("cursor", "pointer")
        .attr("stroke", "#F1F100")
        .attr("stroke-width", "3px")
        .attr("fill", "rgba(0,0,0,0)")
        .attr("d", "M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z")
        .attr("transform", "translate("+( lineData[0].x )+","+( lineData[0].y + vector_y_translate )+") scale("+s+") rotate(" + r + ")");

        vector.on("click", function(){
          var text = d3.selectAll(".airport-text");
          if ( !text.classed("selected") ){
            text
              .style("display", "inline-block")
              .attr("class", "airport-text selected");
          }else{
            text
              .style("display", "none")
              .attr("class", "airport-text");
          };

        });

        //var vector_transform = vector.attr("transform");
        function get_vector_translate(){
          return vector.attr("transform");
        }

        vector_text_a = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "vector-text vector-text-a")
        .style("display", "none")
        .style("color", "#fff")
        .style("stroke", "#fff")
        .style("fill", "#fff")
        .style("stroke-width", "0.5")
        .attr("transform", function(){ get_vector_translate() })
        .text("Flight info.");

        vector_text_b = explainer_g.append("text")
        .style("font", "15px 'isocpeur'")
        .attr("class", "vector-text vector-text-b")
        .style("display", "none")
        .style("color", "#fff")
        .style("stroke", "#fff")
        .style("fill", "#fff")
        .style("stroke-width", "0.5")
        .attr("transform", function(){ get_vector_translate() })
        .text("View");

      };

      function add_freeport_vector(){

        vector = explainer_g.append("path")
        .attr("class", "vector-arrow vector-destination-test")
        .attr("id", "vector-arrow-test")
        .style("cursor", "pointer")
        .attr("stroke", "#F1F100")
        .attr("stroke-width", "3px")
        .attr("fill", "rgba(0,0,0,0)")
        .attr("d", "M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z")
        .attr("transform", "translate("+( lineData_freeport[0].x )+","+( lineData_freeport[0].y + vector_y_translate )+") scale("+s+") rotate(" + r_freeport + ")");

      };


      function animate_vector_a(){
        function deltaTest(plane, path) {
          var l = path.getTotalLength() / 2;
          var plane = plane;
          var vector_arrow = plane
          return function(i) {
            return function(t) {
              var p = path.getPointAtLength(t * l);
              return "translate(" + p.x + "," + ( p.y + vector_y_translate ) + ") scale(" + s + ") rotate(" + r + ")";
            }
          }
        };

        var l = line.node().getTotalLength();
        var duration = 8000;
        var duration_adjust = 0.0005;
        duration = duration*duration_adjust;

        var halfway_point = line.node().getPointAtLength(0.5 * l);

        vector.transition()
        .delay(500)
        .duration(l * duration)
        .ease("linear")
        .attrTween("transform", deltaTest(vector, line.node()))
        .each("end", function() { 
          console.log("tween 1 ended, yo'"); 
          animateText("gallery");
          positionText("gallery", halfway_point.y, halfway_point.x);
          //var vector_translate = d3.transform(d3.select(".vector-arrow").attr(""))
          d3.selectAll(".vector-text-a")
          .style("display", "inline-block")
          .attr("transform", "translate("+halfway_point.x+","+halfway_point.y+")");
          d3.selectAll(".vector-text-b")
          .style("display", "inline-block")
          .attr("transform", "translate("+( halfway_point.x )+","+( halfway_point.y + 20 )+")");

        })
        //.remove();

      };
      function animate_vector_b(){
        function deltaTest(plane, path) {
          var l = path.getTotalLength();
          var halfway_point = path.getPointAtLength(0.5 * l);
          var plane = plane;
          var vector_arrow = plane
          return function(i) {
            return function(t) {

              var p = path.getPointAtLength(t * l);
              if ( p.x >= halfway_point.x ){
                return "translate(" + p.x + "," + ( p.y + vector_y_translate ) + ") scale(" + s + ") rotate(" + r + ")";
              }else{
                return "translate(" + halfway_point.x + "," + ( halfway_point.y + vector_y_translate ) + ") scale(" + s + ") rotate(" + r + ")";
              };

            }
          }
        };

        var l = line.node().getTotalLength();
        var duration = 5000;
        var duration_adjust = 0.0005;
        duration = duration*duration_adjust

        var halfway_point = line.node().getPointAtLength(0.5 * l);
        animateText("gallery");
        positionText("gallery", halfway_point.y, halfway_point.x);

        d3.selectAll(".vector-text")
          .style("display", "none");

        vector.transition()
        .delay(100)
        .duration(l * duration)
        .ease("linear")
        .attrTween("transform", deltaTest(vector, line.node()))
        .each("end", function() { 
          console.log("tween ended, yo'");
          animateText("landed");
        })
        .remove();

      };

      function animate_vector_freeport(){
        function deltaTest(plane, path) {
          var l = path.getTotalLength();
          var plane = plane;
          var vector_arrow = plane
          return function(i) {
            return function(t) {
              var p = path.getPointAtLength(t * l);
              return "translate(" + p.x + "," + ( p.y + vector_y_translate ) + ") scale(" + s + ") rotate(" + r + ")";
            }
          }
        };

        var l = freeport_line.node().getTotalLength();
        var duration = 8000;
        var duration_adjust = 0.0005;
        duration = duration*duration_adjust;

        var halfway_point = freeport_line.node().getPointAtLength(0.5 * l);

        vector.transition()
        .delay(500)
        .duration(l * duration)
        .ease("linear")
        .attrTween("transform", deltaTest(vector, freeport_line.node()))
        .each("end", function() { 
          console.log("tween 1 ended, freeport yo'");
        })
        //.remove();

      };

      /*var path = explainer_g.append("path")
        .data([ {x: explainer_w*0.1, y: explainer_h*0.8},{x: explainer_w*0.9, y:explainer_h*0.2} ])
        .attr("d", d3.svg.line()
        .tension(0) // Catmull–Rom
        .interpolate("cardinal-closed"));*/

      /*var line = g.append("path")
         .datum({type: "LineString", coordinates: [airportMap[origin], airportMap[destination]]})
         .attr("d", function(d){return path(d)})
         .attr("stroke", "transparent")
         .attr("class", "destination-"+detailsObj.destinationID+ " flight-line")
         .attr("id", "line-"+detailsObj.flightID)
         .attr("stroke-width", "1")
         .attr("fill", "none");*/

    </script>

    <!--<script type="text/javascript">
      $("body").on("click","#explainer-next",function(){var a=$(this),b=a.data("next");"airport"==b?(a.data("next","line"),$(".artist-explainer").removeClass("fadeIn"),$(".artist-explainer").addClass("fadeOut"),setTimeout(function(){add_airport()},500)):"line"==b?(a.data("next","vector"),$(".airport-explainer").removeClass("fadeIn"),$(".airport-explainer").addClass("fadeOut"),setTimeout(function(){add_line()},500)):"vector"==b?(a.data("next","animate_vector_a"),$(".line-explainer").removeClass("fadeIn"),
$(".line-explainer").addClass("fadeOut"),setTimeout(function(){add_vector()},500)):"animate_vector_a"==b?(a.data("next","animate_vector_b"),$(".vector-explainer").removeClass("fadeIn"),$(".vector-explainer").addClass("fadeOut"),setTimeout(function(){animate_vector_a()},500)):"animate_vector_b"==b?(a.data("next","freeport"),$(".gallery-explainer").removeClass("fadeIn"),$(".gallery-explainer").addClass("fadeOut"),animate_vector_b()):"freeport"==b?($(".landed-explainer").removeClass("fadeIn"),$(".landed-explainer").addClass("fadeOut"),
a.data("next","end"),a.text("DONE"),setTimeout(function(){add_freeport();add_freeport_line();add_freeport_vector();setTimeout(function(){animate_vector_freeport()},500)},500)):"end"==b&&($(".freeport-explainer").removeClass("fadeIn"),$(".freeport-explainer").addClass("fadeOut"),artist.remove(),airport.remove(),line.remove(),vector.remove(),a.addClass("hidden"),artist.remove(),airport.remove(),line.remove(),freeport.remove(),freeport_line.remove(),vector.remove(),$("#explore-button").removeClass("hidden"))});
var text_container_height=100,explainer_h=$("#explainer").outerHeight(),explainer_h=explainer_h-text_container_height,explainer_w=$("#explainer").outerWidth(),lineData=[{x:.1*explainer_w,y:.8*explainer_h},{x:.8*explainer_w,y:.2*explainer_h}],lineData_freeport=[{x:.1*explainer_w,y:.8*explainer_h},{x:.4*explainer_w,y:.3*explainer_h}],explainer_svg=d3.select("#explainer").append("svg").attr("preserveAspectRatio","xMidYMid").attr("viewBox","0 0 "+explainer_w+" "+explainer_h).attr("width",explainer_w).attr("height",
explainer_h),explainer_g=explainer_svg.append("g"),artist=null,airport=null,line=null,freeport=null,freeport_line=null,vector=null,diff_x=lineData[1].x-lineData[0].x,diff_y=lineData[1].y-lineData[0].y,r=180-180*Math.atan2(-diff_y,diff_x)/Math.PI,s=.5,freeport_diff_x=lineData_freeport[1].x-lineData_freeport[0].x,freeport_diff_y=lineData_freeport[1].y-lineData_freeport[0].y,r_freeport=180-180*Math.atan2(-freeport_diff_y,freeport_diff_x)/Math.PI;
$(document).ready(function(){setTimeout(function(){add_artist()},1E3)});$("body").on("click",".explainer-artist",function(){console.log("toggle hidden text??");$(".artist-text").removeClass("hidden")});function positionText(a,b,d){}function animateText(a){$("."+a+"-explainer").removeClass("invisible");$("."+a+"-explainer").addClass("fadeIn")}
function add_artist(){animateText("artist");positionText("artist",lineData[0].y,lineData[0].x-10);setTimeout(function(){$("#explainer-next").removeClass("hidden")},500);artist=explainer_g.append("circle").attr("r",20).attr("class","artist explainer-artist").attr("id","test-artist").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").style("stroke-width","3").attr("cx",lineData[0].x).attr("cy",lineData[0].y);artist.on("click",function(){var a=d3.selectAll(".artist-text"),b=a.attr("class");a.classed("selected")?
(b=b.replace(" selected",""),a.style("display","none").attr("class",b)):(b+=" selected",a.style("display","inline-block").attr("class",b))});artist_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","artist-text show-explainer-artist-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[0].x+20)+", "+(lineData[0].y+20)+")").text("Artist");
artist_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","artist-text show-explainer-artist-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[0].x+20)+", "+(lineData[0].y+40)+")").text("View")}
function add_airport(){animateText("airport");positionText("airport",lineData[1].y+20,!1);airport=explainer_g.append("circle").attr("r",20).attr("class","airport").attr("id","test-airport").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").attr("cx",lineData[1].x).attr("cy",lineData[1].y);airport.on("click",function(){var a=d3.selectAll(".airport-text");a.classed("selected")?a.style("display","none").attr("class","airport-text show-explainer-airport-image"):a.style("display","inline-block").attr("class",
"airport-text show-explainer-airport-image selected")});airport_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","airport-text show-explainer-airport-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[1].x+20)+", "+(lineData[1].y+20)+")").text("Airport");airport_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class",
"airport-text show-explainer-airport-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[1].x+20)+", "+(lineData[1].y+40)+")").text("View")}
function add_freeport(){animateText("freeport");positionText("freeport",lineData_freeport[1].y+20,!1);freeport=explainer_g.append("circle").attr("r",20).attr("class","freeport").attr("id","test-freeport").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").attr("cx",lineData_freeport[1].x).attr("cy",lineData_freeport[1].y);freeport.on("click",function(){var a=d3.selectAll(".freeport-text");a.classed("selected")?a.style("display","none").attr("class","freeport-text show-explainer-freeport-image"):
a.style("display","inline-block").attr("class","freeport-text show-explainer-freeport-image selected")});explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","freeport-text show-explainer-freeport-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData_freeport[1].x+20)+", "+(lineData_freeport[1].y+20)+")").text("Freeport");explainer_g.append("text").style("font",
"15px 'isocpeur'").attr("class","freeport-text show-explainer-freeport-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData_freeport[1].x+20)+", "+(lineData_freeport[1].y+40)+")").text("View")}
function add_line(){animateText("line");positionText("line",explainer_h/2,!1);var a=d3.svg.line().x(function(a){return a.x}).y(function(a){return a.y}).interpolate("linear");line=explainer_g.append("path").attr("d",a(lineData)).attr("stroke","blue").attr("stroke-width",2).attr("fill","none")}
function add_freeport_line(){animateText("line");positionText("line",explainer_h/2,!1);var a=d3.svg.line().x(function(a){return a.x}).y(function(a){return a.y}).interpolate("linear");freeport_line=explainer_g.append("path").attr("d",a(lineData_freeport)).attr("stroke","blue").attr("stroke-width",2).attr("fill","none")}var vector_y_translate=23;
function add_vector(){animateText("vector");positionText("vector",lineData[0].y,lineData[0].x-10);vector=explainer_g.append("path").attr("class","vector-arrow vector-destination-test").attr("id","vector-arrow-test").style("cursor","pointer").attr("stroke","#F1F100").attr("stroke-width","3px").attr("fill","rgba(0,0,0,0)").attr("d","M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z").attr("transform","translate("+lineData[0].x+","+(lineData[0].y+vector_y_translate)+") scale("+s+") rotate("+
r+")");vector.on("click",function(){var a=d3.selectAll(".airport-text");a.classed("selected")?a.style("display","none").attr("class","airport-text"):a.style("display","inline-block").attr("class","airport-text selected")});vector_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","vector-text vector-text-a").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").attr("transform",function(){vector.attr("transform")}).text("Flight info.");
vector_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","vector-text vector-text-b").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").attr("transform",function(){vector.attr("transform")}).text("View")}
function add_freeport_vector(){vector=explainer_g.append("path").attr("class","vector-arrow vector-destination-test").attr("id","vector-arrow-test").style("cursor","pointer").attr("stroke","#F1F100").attr("stroke-width","3px").attr("fill","rgba(0,0,0,0)").attr("d","M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z").attr("transform","translate("+lineData_freeport[0].x+","+(lineData_freeport[0].y+vector_y_translate)+") scale("+s+") rotate("+r_freeport+")")}
function animate_vector_a(){var a=line.node().getTotalLength(),b=line.node().getPointAtLength(.5*a);vector.transition().delay(500).duration(4*a).ease("linear").attrTween("transform",function(a,b){var c=b.getTotalLength()/2;return function(a){return function(a){a=b.getPointAtLength(a*c);return"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,line.node())).each("end",function(){console.log("tween 1 ended, yo'");animateText("gallery");positionText("gallery",b.y,b.x);
d3.selectAll(".vector-text-a").style("display","inline-block").attr("transform","translate("+b.x+","+b.y+")");d3.selectAll(".vector-text-b").style("display","inline-block").attr("transform","translate("+b.x+","+(b.y+20)+")")})}
function animate_vector_b(){var a=line.node().getTotalLength(),b=line.node().getPointAtLength(.5*a);animateText("gallery");positionText("gallery",b.y,b.x);d3.selectAll(".vector-text").style("display","none");vector.transition().delay(100).duration(2.5*a).ease("linear").attrTween("transform",function(a,b){var c=b.getTotalLength(),e=b.getPointAtLength(.5*c);return function(a){return function(a){a=b.getPointAtLength(a*c);return a.x>=e.x?"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+
r+")":"translate("+e.x+","+(e.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,line.node())).each("end",function(){console.log("tween ended, yo'");animateText("landed")}).remove()}
function animate_vector_freeport(){var a=freeport_line.node().getTotalLength();freeport_line.node().getPointAtLength(.5*a);vector.transition().delay(500).duration(4*a).ease("linear").attrTween("transform",function(a,d){var f=d.getTotalLength();return function(a){return function(a){a=d.getPointAtLength(a*f);return"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,freeport_line.node())).each("end",function(){console.log("tween 1 ended, freeport yo'")})};
    </script>-->




    <!--<script type="text/javascript">
      var prompt_h = $("#prompt-1-d3-container").height();
      var prompt_w = $("#prompt-1-d3-container").width();
      var prompt_1 = d3.select("#prompt-1-d3-container")
          .append("svg")
          .attr("preserveAspectRatio", "xMidYMid")
          .attr("viewBox", "0 0 " + prompt_w + " " + prompt_h)
          .attr("width", prompt_w)
          .attr("height", prompt_h * prompt_h / prompt_w);

      var prompt_g_1 = prompt_1.append("g");

      var sample_flightID = "001";

      var vectorGroup_p = prompt_g_1.append("g")
      .attr("class", "vector-group")
      .attr("id", "vectorGroup-"+sample_flightID)

      var vector_p = vectorGroup_p.append("g")
        .attr("class", "vector")
        .style("padding", "10px;");

       var label_p = vectorGroup_p.append("g")
      //.attr("class", "vector-foreignObject")
      .attr("class", "detail-container")
      .attr("id", "label-"+sample_flightID)
      .style("display", "none")
      .attr("data-link", '/idea/sample/sample')
      
      label_p.append("text")
      .attr("class", "flightName")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "0px")
      .text( "NTR001 NONTERRITORIAL");

      label_p.append("text")
      .attr("class", "title")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "14px")
      .text( "Sample Title" );

      label_p.append("text")
      .attr("class", "lat")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "28px")
      .text("33.4567");

      label_p.append("text")
      .attr("class", "lng")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "42px")
      .text("18.1234");

      label_p.append("text")
      .attr("class", "from")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "56px")
      .text("Here");

      label_p.append("text")
      .attr("class", "to")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "70px")
      .text("There");

      vector_p.append("path")
      .attr("class", "vector-arrow vector-destination-123")
      .attr("id", "vector-arrow-"+sample_flightID)
      .style("cursor", "pointer")
      .style("display", "none")
      .attr("stroke", "#F1F100")
      .attr("stroke-width", "10px")
      .attr("fill", "rgba(0,0,0,0)")
      .attr("d", "M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z")
      .attr("transform", "scale(0.5)")

    </script>
    <script type="text/javascript">
      $(document).ready(function(){

        setTimeout(function(){
          //$("#prompt-1").removeClass("offscreen");
          //$("#prompt-1").addClass("fadeInDown");
        }, 1000);

      });

      $("body").on("click", "#prompt-1-vector", function(){

      });
    </script>-->


{% endblock %}












