
<!--{% raw %}
{% extends "slideshow/slideshow-index.html" %}
{% endraw %}-->

{% extends "slideshow/slideshow-index-single-column-full-width.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		.footerNavItem {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem.inquiry {
			opacity: 1;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem.save {
			opacity: 1;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem:hover {
			opacity: 1;
		}

	</style>
{% endblock %}


{% block content %}

	<div id="nextSlide" onclick="next_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-right"></i>
	</div>
	<div id="prevSlide" onclick="prev_slide()" class="flex-container-center slideshow-arrow hide">
		<i class="ion-ios-arrow-left"></i>
	</div>

	<!-- <div id="inquiryBtn">
		<a href="/inquiry?flightCode={{slideShow.flightCode}}&slug={{slideShow.slug}}">Inquiry</a>
	</div> -->

	<div id="slideCount">
		<span id="current_slide">1</span> / <span id="total_slides">{{slides|length + 1}}</span>
	</div>

	<div class="slick-slider">

		<!-- <div class="slide-user">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<h1>{{slideShow.title}}</h1>
	  				<div  style="max-width: 45rem;">{{artist.name}} {{artist.surname}}</div>
		  		</div>
		  	</div>
	  	</div>
	  	<div class="slide-user">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<div  style="max-width: 45rem;">{{artist.about}}</div>
		  		</div>
		  	</div>
	  	</div> -->

  	{% for slide in slides %}

  		{% if loop.index0 == 0 %}

  			<div class="slide-user">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<h1>{{slide.title}}</h1>
		  				<div class="nitti">{{artist.name}} {{artist.surname}}</div>
			  		</div>
			  	</div>
		  	</div>
		  	<div class="slide-user">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item">
		  				<div class="nitti">{{artist.about}}</div>
			  		</div>
			  	</div>
		  	</div>

  		{% else %}

	  		{% if slide.slideType == 'text' %}
			  	<div class="slide-title flex-container-center">
				  	<div class="flex-container-center">
				  		<div class="slide-content-container flex-item">
			  				<h1 class="">{{slide.title}}</h1>
			  				<div class="nitti">{{slide.description}}</div>
				  		</div>
				  	</div>
			  	</div>
		  	{% endif %}
		  	{% if slide.slideType == 'image' %}
			  	<div class="slide-title flex-container-center">
				  	<div class="flex-container-center">
				  		<div class="slide-content-container slide-image flex-item center image-slide" style="background-image: url({{slide.image_url}}=s1000)">
				  		</div>
				  	</div>
			  	</div>
		  	{% endif %}
		  	{% if slide.slideType == 'video' %}
			  	<div class="slide-title flex-container-center bgVid-embed video-slide">
				  	<!-- <div class="flex-container-center">
				  		<div class="slide-content-container slide-image flex-item center" style="position:relative;"> -->
				  			{% if slide.video_url %}
				  			<video id="video-{{slide.slideOrder}}" controls preload="auto" class="bgvid is_video"><!--  onloadeddata="showPlayButton(event)" -->
						        {% if slide.video_url_mp4 %}
				  					<source src="{{slide.video_url_mp4}}" type="video/mp4">
			  					{% endif %}
				  				{% if slide.video_url_webm %}
				  					<source src="{{slide.video_url_webm}}" type='video/webm'/>
			  					{% endif %}
				  				{% if slide.video_url_ogv %}
				  					<source src="{{slide.video_url_ogv}}" type='video/ogv'/>
			  					{% endif %}
				  				{% if not slide.video_url_mp4 and not slide.video_url_webm %}
				  					<source src="{{slide.video_url}}" type="video/mp4">
				  				{% endif %}
						    </video>

						    <div id="play-icon-{{slide.slideOrder}}" class="video-controls no-opacity">
								<i id="loader-{{slide.slideOrder}}" class="video-loader-icon fa fa-spinner fa-spin"></i>
								<div id="play-pause-control-{{slide.slideOrder}}" class="play-pause-btn-style hidden">
									<i id="reset-btn-{{slide.slideOrder}}" class="reset-btn ion-ios-refresh-empty" data-video-id="video-{{slide.slideOrder}}"></i>
									<i id="play-btn-{{slide.slideOrder}}" class="play-pause-btn play-control ion-ios-play" data-video-id="video-{{slide.slideOrder}}"></i>
									<i id="pause-btn-{{slide.slideOrder}}" class="play-pause-btn play-control hidden ion-ios-pause" data-video-id="video-{{slide.slideOrder}}"></i>
									<i id="no-vol-btn-{{slide.slideOrder}}" class="mute-btn ion-ios-volume-high" data-video-id="video-{{slide.slideOrder}}"></i>
									<i id="vol-btn-{{slide.slideOrder}}" class="mute-btn hidden ion-ios-volume-low" data-video-id="video-{{slide.slideOrder}}"></i>
								</div>
							</div>

						    {% elif slide.video_embed %}
						    	{{slide.video_embed|safe}}
						    {% endif %}
				  		<!-- </div>
				  	</div> -->
			  	</div>
		  	{% endif %}

	  	{% endif %}

  	{% endfor %}

	</div>

{% endblock %}

{% block zoomInBtn %}
	<a href="/inquiry?flightCode={{slideShow.flightCode}}&slug={{slideShow.slug}}">Inquire</a>
{% endblock %}

{% block zoomOutBtn %}
	<a href="#" class="save-slideshow" data-slideshow-id="{{slideShow.key.id()}}">
		Save{% if bookmarked %}d{% endif %}
	</a>
{% endblock %}

{% block contentAreaClass %}
	zero-pad-right
{% endblock %}
{% block sideBarClass %}
	closed
{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}
{% block flightInfo %}
{% endblock %}


{% block script %}

	<script src="/static/buzz/buzz.js"></script>
	<script type="text/javascript">
	    buzz.defaults.formats = [ 'ogg', 'mp3' ];
	    var soundtrack = new buzz.sound( '{{slideShow.audio}}' );
	    setTimeout(function(){
	    	soundtrack.play();
	    }, 2000);
	</script>

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	infinite: false,
		  	arrows: false,
		  	dots: false,
		  	//adaptiveHeight: true
		  });
		});


		$('.slick-slider').on('beforeChange', function(event, slick, currentSlide, nextSlide){
		  console.log("next: ", nextSlide);
		  console.log(nextSlide + 1);
		  /*console.log(event.target.slick);
		  console.log(event.target.slick.slideCount);*/

		  var slideCount = event.target.slick.slideCount;

		  if ( nextSlide == slideCount - 1 ){
		  	$("#nextSlide").addClass("hide");
		  }else{
	  		$("#nextSlide").removeClass("hide");
		  };
		  if ( nextSlide == 0 ){
		  	$("#prevSlide").addClass("hide");
		  }else{
	  		$("#prevSlide").removeClass("hide");
		  };

		  $("#current_slide").text(nextSlide + 1);
		  $("#total_slides").text(slideCount);

		});
		$('.slick-slider').on('afterChange', function(event, slick, currentSlide, nextSlide){

			var videoOrder = currentSlide - 1;
			var nextVideoOrder = currentSlide;
			var prevVideoOrder = currentSlide - 2;

			console.log("videoOrder: ", videoOrder);
			console.log("nextVideoOrder: ", nextVideoOrder);
			console.log("prevVideoOrder: ", prevVideoOrder);

			if ( videoOrder >= 0 ){
				if ( video_players["video-"+videoOrder] ){
					console.log("PLAY VIDEO", videoOrder);
					$("#pause-btn-"+videoOrder).removeClass("hidden");
		      		$("#play-btn-"+videoOrder).addClass("hidden");
					video_players[ "video-"+videoOrder ].play();
				}
			};
			if ( nextVideoOrder >= 0 ){
				if ( video_players["video-"+nextVideoOrder] ){
					console.log("PAUSE VIDEO", nextVideoOrder);
					$("#pause-btn-"+nextVideoOrder).addClass("hidden");
		      		$("#play-btn-"+nextVideoOrder).removeClass("hidden");
					video_players[ "video-"+nextVideoOrder ].pause();
				}
			};
			if ( prevVideoOrder >= 0 ){
				if ( video_players["video-"+prevVideoOrder] ){
					console.log("PAUSE VIDEO", prevVideoOrder);
					$("#pause-btn-"+prevVideoOrder).addClass("hidden");
		      		$("#play-btn-"+prevVideoOrder).removeClass("hidden");
					video_players[ "video-"+prevVideoOrder ].pause();
				}
			};

			//console.log("currentSlide: ", currentSlide);
			//console.log("si there a video player here: ", video_players["video-"+currentSlide]);
			/*if ( video_players["video-"+currentSlide] ){
				console.log(". . . . play the video");
				video_players[ "video-"+currentSlide ].play();
			};*/
			/*if( video_players["video-"+( currentSlide - 1 )] ){
				video_players[ "video-"+currentSlide ].pause();
			};
			if( video_players["video-"+( currentSlide + 1 )] ){
				video_players[ "video-"+currentSlide ].pause();
			};*/

		  /*console.log("nx sl", video_players["video-"+nextSlide]);
		  console.log("cr sl", video_players["video-"+currentSlide]);*/
		});

		//var currentSlide = $('.your-element').slick('slickCurrentSlide');

	</script>

	<!-- Initialise all videos -->
	<script type="text/javascript">

		var video_players = {};
		document.addEventListener("DOMContentLoaded", function() {
		  initialiseMediaPlayers();
		}, false);

		function showPlayButton(event){
		  console.log("SHOW THE PLAY BUTTON.... "+ event.target.id);
		  var containerID = event.target.id.split("-")[1];
		  $("#loader-"+containerID).addClass("hidden");
		  $("#play-pause-control-"+containerID).removeClass("hidden");
		  $(event.target).siblings(".video-controls").removeClass("no-opacity");
		};

		function stop_all_videos(){
		    //console.log("should stop all videos . . / . / ./ . / ./ ");
		    for (var key in video_players) {
		      if (video_players.hasOwnProperty(key)) {
		        video_players[key].pause();
		      }
		    };
		    $(".ion-ios-play").removeClass("hidden");
		    $(".ion-ios-pause").addClass("hidden");
	  	};

		function initialiseMediaPlayers() {

			$("video.bgvid").each(function(idx, val){
				//console.log("val...");
				//console.log( $(val) );
				if ( $(val).attr("id") ){
					var videoID = $(val).attr("id");
			      	video_players[ videoID ] = $("#"+videoID)[0];
			      	//console.log("videoID: ", videoID);
			      	$("#"+videoID)[0].controls = false;
			      	$("#"+videoID)[0].onloadeddata = function() {
					    showPlayButton(event);
					}
				}
			});

		    /*var $videoPlayers = $(".bgvid");
		    console.log("$videoPlayers: ", $videoPlayers);
		    for( var i=0; i<$videoPlayers.length; i++ ){
		    	console.log( $videoPlayers[i] );
		    	console.log( $( $videoPlayers[i] )[0].id );
		    	console.log( $( $videoPlayers[i] ).attr("id") );

		      	var videoID = $( $videoPlayers[i] ).attr("id");
		      	video_players[ videoID ] = $("#"+videoID)[0];
		      	console.log("videoID: ", videoID);
		      	//$("#"+videoID)[0].controls = false;
		    };

		    console.log("video_players: ");
		    console.log(video_players);*/

		};

		$('body').on('click', '.play-pause-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  console.log("VIDEOID: ", videoID);
		  var containerID = videoID.split("-")[1];
		  /*var btn = document.getElementById('play-pause-button');*/
		  if (video_players[ videoID ].paused || video_players[ videoID ].ended) {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#pause-btn-"+containerID).removeClass("hidden");
		      $("#play-btn-"+containerID).addClass("hidden");
		    };
		    video_players[ videoID ].play();
		  }
		  else {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#pause-btn-"+containerID).addClass("hidden");
		      $("#play-btn-"+containerID).removeClass("hidden");
		    };
		    video_players[ videoID ].pause();
		  };
		});

		$('body').on('click', '.mute-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  var containerID = videoID.split("-")[1];
		  console.log("clicked mute button....");
		  if (video_players[ videoID ].muted) {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#no-vol-btn-"+containerID).removeClass("hidden");
		      $("#vol-btn-"+containerID).addClass("hidden");
		      video_players[ videoID ].muted = false;
		    };
		  }
		  else {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#no-vol-btn-"+containerID).addClass("hidden");
		      $("#vol-btn-"+containerID).removeClass("hidden");
		      video_players[ videoID ].muted = true;
		    };
		  };
		});

		$('body').on('click', '.reset-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  var containerID = videoID.split("-")[1];
		  video_players[ videoID ].currentTime = 0;
		  $("#reset-btn-"+containerID).addClass("fa-spin");
		  video_players[ videoID ].addEventListener('playing', function(){
		    setTimeout(function(){
		      $('.reset-btn').removeClass('fa-spin');
		    }, 500);
		  })
		  setTimeout(function(){
		      $('.reset-btn').removeClass('fa-spin');
		    }, 500);
		});

	</script>

{% endblock %}
