
<!--{% raw %}
{% extends "slideshow/slideshow-index.html" %}
{% endraw %}-->

{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% block raw %}
{% set active_page = "login" %}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		    padding-bottom: 0px; !important;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    /*height: 100vh;*/
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}

		.footerNav {
			background-color: transparent !important;
		}

		.footerNav .footerNavItem {
			border: none;
		}

		.footerNavItem {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem.inquiry {
			opacity: 1;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem.save {
			opacity: 1;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		.footerNavItem:hover {
			opacity: 1;
		}

	</style>

	<!-- Plyr -->
  <link rel="stylesheet" href="/static/materialize/stylesheets/plyr.css">
{% endblock %}


{% block content %}

	{% if slideShow.audio %}
		<a class="btn-floating btn-large sound-btn playing"><i class="ion-pause" style="padding-top: 0.2rem;"></i></a>
	{% endif %}

	<div id="nextSlide" onclick="next_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-right"></i>
	</div>
	<div id="prevSlide" onclick="prev_slide()" class="flex-container-center slideshow-arrow hide">
		<i class="ion-ios-arrow-left"></i>
	</div>

	<!-- <div id="inquiryBtn">
		<a href="/inquiry?flightCode={{slideShow.flightCode}}&slug={{slideShow.slug}}">Inquiry</a>
	</div> -->

	<div id="slideCount">
		<span id="current_slide">1</span> / <span id="total_slides">{{slides|length + 1}}</span>
	</div>

	<a href="#" class="home-btn" onclick="goBack()">
		Back
	</a>

	{% if flight %}
	<div id="exhibition_notice">
      	Experience on {{flight.landingDate|dash_date}}<br>
      	{% if flight.landingLocality %}{{flight.landingLocality}},{% endif %} {{flight.landingCountry}}<br>

		<!--
		{% if slideShow.booking_link %}
      		<a href="{{slideShow.booking_link}}" target="_blank">Book here</a>
      	{% endif %}
 		-->
    </div>
	{% endif %}

	<div class="slick-slider">

		<!-- <div class="slide-user">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<h1>{{slideShow.title}}</h1>
	  				<div  style="max-width: 45rem;">{{artist.name}} {{artist.surname}}</div>
		  		</div>
		  	</div>
	  	</div>
	  	<div class="slide-user">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<div  style="max-width: 45rem;">{{artist.about}}</div>
		  		</div>
		  	</div>
	  	</div> -->

  	{% for slide in slides %}

  		{% if loop.index0 == 0 %}

  			<div class="slide-user">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<h2>{{slide.title}}</h2>
		  				<div class="nitti" style="padding-top:0.7rem;">{{artist.name}} {{artist.surname}}</div>
			  		</div>
			  	</div>
		  	</div>
		  	<div class="slide-user">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item">
		  				<div class="nitti {% if artist.about|length < 60 %}center{% endif %}">{{artist.about}}</div>
			  		</div>
			  	</div>
		  	</div>

  		{% else %}

	  		{% if slide.slideType == 'text' %}
			  	<div class="slide-title flex-container-center">
				  	<div class="flex-container-center">
				  		<div class="slide-content-container flex-item">
			  				<!-- <h1 class="">{{slide.title}}</h1> -->
			  				<div class="nitti {% if slide.description|length < 60 %}center{% endif %}">{{slide.description}}</div>
				  		</div>
				  	</div>
			  	</div>
		  	{% endif %}
		  	{% if slide.slideType == 'image' %}
			  	<div class="slide-title flex-container-center">
				  	<div class="flex-container-center">
				  		<div class="slide-content-container slide-image flex-item center image-slide" style="background-image: url({{slide.image_url}}=s1000)">
				  		</div>
				  	</div>
			  	</div>
		  	{% endif %}
		  	{% if slide.slideType == 'video' %}
			  	<div class="slide-title flex-container-center bgVid-embed video-slide">
		  			{% if slide.video_url %}
		  				<div class="plyr">
						    {% if slide.video_url_mp4 %}
			  					<!-- <source src="{{slide.video_url_mp4}}" type="video/mp4"> -->
			  					<video id="video-{{slide.key.id()}}" class="video-tag" preload="auto" src="{{slide.video_url_mp4}}" type="video/mp4"></video>
		  					{% endif %}
			  				{% if slide.video_url_webm %}
			  					<!-- <source src="{{slide.video_url_webm}}" type='video/webm'/> -->
			  					<video id="video-{{slide.key.id()}}" class="video-tag" preload="auto" src="{{slide.video_url_webm}}" type='video/webm'></video>
		  					{% endif %}
			  				{% if slide.video_url_ogv %}
			  					<!-- <source src="{{slide.video_url_ogv}}" type='video/ogv'/> -->
			  					<video id="video-{{slide.key.id()}}" class="video-tag" preload="auto" src="{{slide.video_url_ogv}}" type='video/ogv'></video>
		  					{% endif %}
			  				{% if not slide.video_url_mp4 and not slide.video_url_webm and not slide.video_url_ogv %}
			  					<!-- <source src="{{slide.video_url}}" type="video/mp4"> -->
			  					<video id="video-{{slide.key.id()}}" class="video-tag" preload="auto" src="{{slide.video_url}}" type='video/mp4'></video>
			  				{% endif %}

						    <div id="preloader-video-{{slide.key.id()}}" class="preloader-wrapper big active">
						      <div class="spinner-layer">
						        <div class="circle-clipper left">
						          <div class="circle"></div>
						        </div><div class="gap-patch">
						          <div class="circle"></div>
						        </div><div class="circle-clipper right">
						          <div class="circle"></div>
						        </div>
						      </div>
						    </div>
				  			<!-- <video id="video-{{slide.slideOrder}}" controls preload="auto" class="bgvid is_video">
						        {% if slide.video_url_mp4 %}
				  					<source src="{{slide.video_url_mp4}}" type="video/mp4">
			  					{% endif %}
				  				{% if slide.video_url_webm %}
				  					<source src="{{slide.video_url_webm}}" type='video/webm'/>
			  					{% endif %}
				  				{% if slide.video_url_ogv %}
				  					<source src="{{slide.video_url_ogv}}" type='video/ogv'/>
			  					{% endif %}
				  				{% if not slide.video_url_mp4 and not slide.video_url_webm %}
				  					<source src="{{slide.video_url}}" type="video/mp4">
				  				{% endif %}
						    </video> -->
					    </div>
				    {% elif slide.video_embed %}
				    	{{slide.video_embed|safe}}
				    {% endif %}
			  	</div>
		  	{% endif %}

	  	{% endif %}

  	{% endfor %}

	</div>

{% endblock %}

{% block zoomInBtn %}
	{% if galleryUser %}
		<a href="/gallery/{{galleryUser.flightCode}}/contact">Contact</a>
	{% else %}
		<a href="/inquiry?flightCode={{slideShow.flightCode}}&slug={{slideShow.slug}}">Inquire</a>
	{% endif %}
{% endblock %}

{% block zoomOutBtn %}
	<a href="#" class="save-slideshow" data-slideshow-id="{{slideShow.key.id()}}">
		Save{% if bookmarked %}d{% endif %}
	</a>
{% endblock %}

{% block contentAreaClass %}
	zero-pad-right
{% endblock %}
{% block sideBarClass %}
	closed
{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block modal %}
	{% if flight %}
	<!-- Modal Structure -->
	  <div id="flightModal" class="modal outlined-modal">
	    <div class="modal-content">
	      <h4>Exhibition</h4>
	      <p>'{{flight.title}}' is being exhibited by {{flight.user.get().name}} in {% if flight.landingLocality %}{{flight.landingLocality}},{% endif %} {{flight.landingCountry}} </p>
	      <p>The exhibition takes place on: {{flight.landingDate|dash_date}}</p>
	    </div>
	    <div class="modal-footer">
	      <span class=" modal-action modal-close btn-flat">CLOSE</span>
	    </div>
	  </div>
  {% endif %}

{% endblock %}


{% block script %}

{% if flight %}
	<!--<script type="text/javascript">
		$("#flightModal").openModal();
	</script>-->
{% endif %}

	<script src="/static/buzz/buzz.js"></script>
	<script type="text/javascript">

		var audio_file =  '{{slideShow.audio|check_none}}';
		//console.log("audio_file", audio_file);
		var soundtrack = undefined;
		if ( audio_file ){
		    //buzz.defaults.formats = [ 'ogg', 'mp3' ];
		    soundtrack = new buzz.sound( audio_file );
		    setTimeout(function(){
		    	soundtrack.play();
		    }, 2000);
		};

	    $('body').on('click', '.sound-btn', function(){
	    	var $this = $(this);
	    	if ( $this.hasClass("playing") ){
	    		soundtrack.pause();
	    		$this.toggleClass("playing");
	    		$this.children("i").toggleClass("ion-volume-medium");
	    		$this.children("i").toggleClass("ion-pause");
	    	}else{
	    		soundtrack.play();
	    		$this.toggleClass("playing");
	    		$this.children("i").toggleClass("ion-volume-medium");
	    		$this.children("i").toggleClass("ion-pause");
	    	};
	    });

	    function pause_sound(){
	    	if ( soundtrack ){
		    	soundtrack.pause();
	    		$(".sound-btn").removeClass("playing");
	    		$(".sound-btn").children("i").addClass("ion-volume-medium");
	    		$(".sound-btn").children("i").removeClass("ion-pause");
    		};
	    };
	    function play_sound(){
	    	if ( soundtrack ){
		    	soundtrack.play();
	    		$(".sound-btn").addClass("playing");
	    		$(".sound-btn").children("i").removeClass("ion-volume-medium");
	    		$(".sound-btn").children("i").addClass("ion-pause");
    		};
	    };

	</script>

	<script type="text/javascript">

		function initialiseMediaPlayers() {

			$("video.video-tag").each(function(idx, val){
				//console.log("val...");
				//console.log( $(val) );
				if ( $(val).attr("id") ){
					var videoID = $(val).attr("id");
					video_players = {};
			      	video_players[ videoID ] = $("#"+videoID)[0];
			      	//console.log("videoID: ", videoID);
			      	$("#"+videoID)[0].controls = false;
			      	$("#"+videoID)[0].onloadeddata = function() {
					    //showPlayButton(event);
					    console.log("<<<<< ready to play >>>>>");
					    $("#preloader").addClass("hidden");
					}
				}
			});
		};

		var video_players = undefined;
		document.addEventListener("DOMContentLoaded", function() {
		  initialiseMediaPlayers();
		}, false);

		function stop_all_videos(){
			//console.log("stopping all videos");
			//console.log(video_players.length);
			if ( video_players ){
				//console.log("there are video players");
				$.each(video_players, function(idx, val){
					val.pause();
				});
				/*for ( i=0; i<video_players.length; i++ ){
					console.log("player: ", i);
					console.log(video_players[i]);
					video_players[i].pause();
				};*/
			};
		};

	</script>
	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	infinite: false,
		  	arrows: false,
		  	dots: false,
		  	//adaptiveHeight: true
		  });
		});


		$('.slick-slider').on('beforeChange', function(event, slick, currentSlide, nextSlide){
		  /*console.log("next: ", nextSlide);
		  console.log(nextSlide + 1);*/
		  /*console.log(event.target.slick);
		  console.log(event.target.slick.slideCount);*/

		  var slideCount = event.target.slick.slideCount;

		  if ( nextSlide == slideCount - 1 ){
		  	$("#nextSlide").addClass("hide");
		  }else{
	  		$("#nextSlide").removeClass("hide");
		  };
		  if ( nextSlide == 0 ){
		  	$("#prevSlide").addClass("hide");
		  }else{
	  		$("#prevSlide").removeClass("hide");
		  };

		  $("#current_slide").text(nextSlide + 1);
		  $("#total_slides").text(slideCount);

		});

		$('.slick-slider').on('afterChange', function(event, slick, currentSlide){

			stop_all_videos();
			var $find_video = $(slick.$slides.get(currentSlide)).find("video");
			//console.log("$find_video ", $find_video);
			if ( $find_video.length > 0 ){
				var video_id = $find_video.attr("id");
				video_players[video_id].play();
				pause_sound();
			};

		});

		//var currentSlide = $('.your-element').slick('slickCurrentSlide');

	</script>

	<!-- Initialise all videos -->
	<!--<script type="text/javascript">

		var video_players = {};
		document.addEventListener("DOMContentLoaded", function() {
		  initialiseMediaPlayers();
		}, false);

		function showPlayButton(event){
		  console.log("SHOW THE PLAY BUTTON.... "+ event.target.id);
		  var containerID = event.target.id.split("-")[1];
		  $("#loader-"+containerID).addClass("hidden");
		  $("#play-pause-control-"+containerID).removeClass("hidden");
		  $(event.target).siblings(".video-controls").removeClass("no-opacity");
		};

		function stop_all_videos(){
		    //console.log("should stop all videos . . / . / ./ . / ./ ");
		    for (var key in video_players) {
		      if (video_players.hasOwnProperty(key)) {
		        video_players[key].pause();
		      }
		    };
		    $(".ion-ios-play").removeClass("hidden");
		    $(".ion-ios-pause").addClass("hidden");
	  	};

		function initialiseMediaPlayers() {

			$("video.bgvid").each(function(idx, val){
				//console.log("val...");
				//console.log( $(val) );
				if ( $(val).attr("id") ){
					var videoID = $(val).attr("id");
			      	video_players[ videoID ] = $("#"+videoID)[0];
			      	//console.log("videoID: ", videoID);
			      	$("#"+videoID)[0].controls = false;
			      	$("#"+videoID)[0].onloadeddata = function() {
					    showPlayButton(event);
					}
				}
			});

		    /*var $videoPlayers = $(".bgvid");
		    console.log("$videoPlayers: ", $videoPlayers);
		    for( var i=0; i<$videoPlayers.length; i++ ){
		    	console.log( $videoPlayers[i] );
		    	console.log( $( $videoPlayers[i] )[0].id );
		    	console.log( $( $videoPlayers[i] ).attr("id") );

		      	var videoID = $( $videoPlayers[i] ).attr("id");
		      	video_players[ videoID ] = $("#"+videoID)[0];
		      	console.log("videoID: ", videoID);
		      	//$("#"+videoID)[0].controls = false;
		    };

		    console.log("video_players: ");
		    console.log(video_players);*/

		};

		$('body').on('click', '.play-pause-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  console.log("VIDEOID: ", videoID);
		  var containerID = videoID.split("-")[1];
		  /*var btn = document.getElementById('play-pause-button');*/
		  if (video_players[ videoID ].paused || video_players[ videoID ].ended) {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#pause-btn-"+containerID).removeClass("hidden");
		      $("#play-btn-"+containerID).addClass("hidden");
		    };
		    video_players[ videoID ].play();
		  }
		  else {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#pause-btn-"+containerID).addClass("hidden");
		      $("#play-btn-"+containerID).removeClass("hidden");
		    };
		    video_players[ videoID ].pause();
		  };
		});

		$('body').on('click', '.mute-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  var containerID = videoID.split("-")[1];
		  console.log("clicked mute button....");
		  if (video_players[ videoID ].muted) {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#no-vol-btn-"+containerID).removeClass("hidden");
		      $("#vol-btn-"+containerID).addClass("hidden");
		      video_players[ videoID ].muted = false;
		    };
		  }
		  else {
		    if( $("#loader-"+containerID).hasClass("hidden") ){
		      $("#no-vol-btn-"+containerID).addClass("hidden");
		      $("#vol-btn-"+containerID).removeClass("hidden");
		      video_players[ videoID ].muted = true;
		    };
		  };
		});

		$('body').on('click', '.reset-btn', function(){
		  var $this = $(this);
		  var videoID = $this.data("video-id");
		  var containerID = videoID.split("-")[1];
		  video_players[ videoID ].currentTime = 0;
		  $("#reset-btn-"+containerID).addClass("fa-spin");
		  video_players[ videoID ].addEventListener('playing', function(){
		    setTimeout(function(){
		      $('.reset-btn').removeClass('fa-spin');
		    }, 500);
		  })
		  setTimeout(function(){
		      $('.reset-btn').removeClass('fa-spin');
		    }, 500);
		});

	</script>-->

	<script>
    (function(d, p){
        var a = new XMLHttpRequest(),
            b = d.body;
        a.open('GET', p, true);
        a.send();
        a.onload = function() {
            var c = d.createElement('div');
            c.setAttribute('hidden', '');
            c.innerHTML = a.responseText;
            b.insertBefore(c, b.childNodes[0]);
        };
    })(document, '/static/plyr/sprite.svg');
  </script>
  <script type="text/javascript" src="/static/plyr/plyr.js"></script>
  <script>
    var player = plyr.setup(".plyr", {
      controls: ["restart", "play", "mute"],
      tooltips: { controls: false, seek: true },
      storage: false
    });
    document.querySelector('.plyr').addEventListener('canplay', function() {
        console.log("CAN PLAY>>>>>>>", this.id);
        $(".preloader-wrapper").addClass("hidden");
        //$("#preloader").addClass("hidden");
    });
  </script>

{% endblock %}
