{% extends "slideshow/slideshow-index-single-column-full-width.html" %}

{% block content %}

<div id="search-container" class="row container valign-wrapper"  style="min-height: 100vh;">
  <div class="col s12 valign">
    <form id="forgotPasswordFrom" method="post" action="/forgot-password" autocomplete="off">
      <div class="row">
        <div class="col s12 m6 offset-m3 input-field">
          <input id="email" name="email" type="text" value="{{email|check_none}}"></input>
          <label for="email">Please type in your username / email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <button type="submit" class="btn-flat search-submit btn-outline" style="margin-top: 1rem;">Send me a new password</button>
        </div>
      </div>
    </form>
    <div class="row" style="margin-top: 1rem;">
      <div id="message" class="col s12 m6 offset-m3">
        
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
  {% if gallery %}
      <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
    {% endif %}
  <li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block script %}

  <script type="text/javascript">
      
  $("body").on("submit", "#forgotPasswordFrom", function(e){

    e.preventDefault();

    function success(data){
      console.log("data", data);
      $("#message").html(data["message"]);
    };

    $.ajax({
      url: "/forgot-password",
      type: "post",
      data: { "email": $("#email").val() },
      success: success
    }).fail(function(){
      console.log("something went wrong... try again later")
    });

  });

  </script>

{% endblock %}