{% extends "slideshow/slideshow-index-single-column-map.html" %}
{% set active_page = "map" %}

{% block style %}
<style>

/* styles moved to nonterritorial.scss */

</style>

{% endblock %}



{% block content %}
  <!-- utc clock -->
  <div class="utc_clock"></div>

  <!-- <a href="#" class="btn-flat btn-outline" style="position:fixed;bottom: 5rem;right:12rem;color: yellow;">REGISTER</a>
  <p style="position:fixed;bottom: 6rem;right:4rem;color: yellow;"> Stay up to date</p> -->

	<!-- d3.js -->
	<div id="map" class="hide-on-small-only"></div>

	<!-- Google maps container -->
	<!-- <div id="fp-map"></div> -->
	<!-- <div class="beam hidden"></div> -->

{% endblock %}

{% block zoomInBtn %}
	<span class="zoom-btn zoom-in">+</span>
  <!-- <button id="zoom_in">+</button> -->
{% endblock %}
{% block zoomOutBtn %}
	<span class="zoom-btn zoom-out">-</span>
<!-- <button id="zoom_out">-</button> -->
{% endblock %}

{% block zoomBtn %}
	<!-- <div class="zoom-container">
		<span class="zoom-btn zoom-in" onclick="zoomIn()">+</span>
		<span class="zoom-btn zoom-out" onclick="zoomOut()">-</span>
	</div> -->
{% endblock %}


{% block modal %}

  <!-- <div id="explainer" class="animated transition hidden">
    <span class="close dismiss-explainer"><i class="ion-close"></i></span>
    <p class="transparent line-1 transition">OPEN CALL</p>

    <p class="" style="max-width:80%;margin:auto;">
    <span class="transparent line-2 transition">Nonterritorial invites artists to submit their ideas and projects on an on-going basis.</span><br>
    <span class="transparent line-3 transition">
      Artists may benefit from multiple showings and are offered the opportunity to experiment in a variety of unconventional spaces and contexts.

    </span><br>
    <span class="transparent line-4 transition">

    </span>
    </p>
    <p  class="transparent line-5 transition">Click on a vector to visit.</p>
    <div  class="transparent line-5 transition">
      <img class="vector-img dismiss-explainer" src="/static/img/vector.png">

    </div>
  </div> -->

  <!-- <div id="explainer" class="animated transition center" style="height:50%;width:90%;">
    <span class="close dismiss-explainer"><i class="ion-close"></i></span>

    <div class="explainer-artist-image hidden">
      <img src="/static/img/babel_cover.png" class="responsive-img">
    </div>
    <div class="explainer-airport-image hidden">
      <img src="/static/img/ordos_cover.png" class="responsive-img">
    </div>

    <div id="explore-button" class="hidden">
      <a href="#" class="btn-flat btn-outline dismiss-explainer">EXPLORE</a><br>
      <div class="input-field">
        <input id="dont-show-explainer" type="checkbox"></input>
        <label for="dont-show-explainer" style="font-size: 0.9rem;">Don't show again</label>
      </div>
    </div>



    <div id="explainer-text-container">
      <div class="artist-explainer explainer-text animated invisible">
        <p>An artist is represented by a red circle, you can click on an artist to get more information.</p>
      </div>
      <div class="airport-explainer explainer-text animated invisible">
        <p>An airport is represented by a blue circle, you can also click on an airport.</p>
      </div>
      <div class="line-explainer explainer-text animated invisible">
        <p>When an airport invites an artist to exhibit their idea a new flight is created.</p>
      </div>
      <div class="vector-explainer explainer-text animated invisible">
        <p>A vector represents an idea. When artists are invited their ideas 'fly' to the exhibition space.</p>
      </div>
      <div class="gallery-explainer explainer-text animated invisible">
        <p>You can click on a vector to see more information or view the idea gallery.</p>
      </div>
      <div class="landed-explainer explainer-text animated invisible">
        <p>An idea 'lands' when an exhibition starts.</p>
      </div>

      <div class="freeport-explainer explainer-text animated invisible">
        <p>Freeports are private gallery spaces and can also invite artist's ideas.</p>
      </div>

      <a id="explainer-next" href="#" class="btn-flat btn-outline hidden" data-next="airport">NEXT</a>
    </div>

  </div> -->

{% endblock %}


{% block script %}

	<!-- d3.js -->
	<script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="/static/js/flightAnimation-clean.js"></script>
    <script type="text/javascript">

    // uncomment to enable popup
    /*$(document).ready(function(){
      if ( !localStorage.getItem("net.nonterritorial.explainer") ){
        setTimeout(function(){
          $("#explainer").removeClass("hidden");

          setTimeout(function(){

            $("#explainer").css("opacity", "1");
            setTimeout(function(){
              $("#explainer .line-1").removeClass("transparent");
            }, 100);
            setTimeout(function(){
              $("#explainer .line-2").removeClass("transparent");
            }, 1200);
            setTimeout(function(){
              $("#explainer .line-3").removeClass("transparent");
            }, 4200);
            //setTimeout(function(){
            //  $("#explainer .line-4").removeClass("transparent");
            //}, 6200);
            setTimeout(function(){
              $("#explainer .line-5").removeClass("transparent");
            }, 6200);

          }, 500);
        }, 300);
      };
    });*/

      $("body").on("click", ".dismiss-explainer", function(){
        $("#explainer").addClass("fadeOutDown");
        localStorage.setItem("net.nonterritorial.explainer", "viewed");
      });
      $("body").on("click", "#explainer .dismiss-explainer", function(){
        $("#explainer").addClass("fadeOutDown");
        localStorage.setItem("net.nonterritorial.explainer", "viewed");
      });

      $("body").on("click", ".vector-img", function(){
        $(".explainer-vector-label").css("max-height", '10rem');
      });

      // set localStorage
      $('body').on('click', "#explore-button", function(){
        if ( $("#dont-show-explainer").is(":checked") ){
          localStorage.setItem("net.nonterritorial.explainer2", 'explained');
        }else{
          localStorage.removeItem("net.nonterritorial.explainer2");
        };
      });
      $('body').on('click', "#explore-button a", function(){
        setTimeout(function(){
          $("#explainer").remove();
        }, 500);
      });

      // if not mobile:
      if ( $(window).width() > 601 ){
        if ( !localStorage.getItem("net.nonterritorial.explainer2") ){
          $("#explainer").css("opacity", "1");
        }else{
          $("#explainer").remove();
        };
      }else{
        $("#explainer").remove();
      };

    </script>

    <script type="text/javascript">
      $("body").on("click","#explainer-next",function(){var a=$(this),b=a.data("next");"airport"==b?(a.data("next","line"),$(".artist-explainer").removeClass("fadeIn"),$(".artist-explainer").addClass("fadeOut"),setTimeout(function(){add_airport()},500)):"line"==b?(a.data("next","vector"),$(".airport-explainer").removeClass("fadeIn"),$(".airport-explainer").addClass("fadeOut"),setTimeout(function(){add_line()},500)):"vector"==b?(a.data("next","animate_vector_a"),$(".line-explainer").removeClass("fadeIn"),
$(".line-explainer").addClass("fadeOut"),setTimeout(function(){add_vector()},500)):"animate_vector_a"==b?(a.data("next","animate_vector_b"),$(".vector-explainer").removeClass("fadeIn"),$(".vector-explainer").addClass("fadeOut"),setTimeout(function(){animate_vector_a()},500)):"animate_vector_b"==b?(a.data("next","freeport"),$(".gallery-explainer").removeClass("fadeIn"),$(".gallery-explainer").addClass("fadeOut"),animate_vector_b()):"freeport"==b?($(".landed-explainer").removeClass("fadeIn"),$(".landed-explainer").addClass("fadeOut"),
a.data("next","end"),a.text("DONE"),setTimeout(function(){add_freeport();add_freeport_line();add_freeport_vector();setTimeout(function(){animate_vector_freeport()},500)},500)):"end"==b&&($(".freeport-explainer").removeClass("fadeIn"),$(".freeport-explainer").addClass("fadeOut"),artist.remove(),airport.remove(),line.remove(),vector.remove(),a.addClass("hidden"),artist.remove(),airport.remove(),line.remove(),freeport.remove(),freeport_line.remove(),vector.remove(),$("#explore-button").removeClass("hidden"))});
var text_container_height=100,explainer_h=$("#explainer").outerHeight(),explainer_h=explainer_h-text_container_height,explainer_w=$("#explainer").outerWidth(),lineData=[{x:.1*explainer_w,y:.8*explainer_h},{x:.8*explainer_w,y:.2*explainer_h}],lineData_freeport=[{x:.1*explainer_w,y:.8*explainer_h},{x:.4*explainer_w,y:.3*explainer_h}],explainer_svg=d3.select("#explainer").append("svg").attr("preserveAspectRatio","xMidYMid").attr("viewBox","0 0 "+explainer_w+" "+explainer_h).attr("width",explainer_w).attr("height",
explainer_h),explainer_g=explainer_svg.append("g"),artist=null,airport=null,line=null,freeport=null,freeport_line=null,vector=null,diff_x=lineData[1].x-lineData[0].x,diff_y=lineData[1].y-lineData[0].y,r=180-180*Math.atan2(-diff_y,diff_x)/Math.PI,s=.5,freeport_diff_x=lineData_freeport[1].x-lineData_freeport[0].x,freeport_diff_y=lineData_freeport[1].y-lineData_freeport[0].y,r_freeport=180-180*Math.atan2(-freeport_diff_y,freeport_diff_x)/Math.PI;
$(document).ready(function(){setTimeout(function(){add_artist()},1E3)});$("body").on("click",".explainer-artist",function(){console.log("toggle hidden text??");$(".artist-text").removeClass("hidden")});function positionText(a,b,d){}function animateText(a){$("."+a+"-explainer").removeClass("invisible");$("."+a+"-explainer").addClass("fadeIn")}
function add_artist(){animateText("artist");positionText("artist",lineData[0].y,lineData[0].x-10);setTimeout(function(){$("#explainer-next").removeClass("hidden")},500);artist=explainer_g.append("circle").attr("r",20).attr("class","artist explainer-artist").attr("id","test-artist").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").style("stroke-width","3").attr("cx",lineData[0].x).attr("cy",lineData[0].y);artist.on("click",function(){var a=d3.selectAll(".artist-text"),b=a.attr("class");a.classed("selected")?
(b=b.replace(" selected",""),a.style("display","none").attr("class",b)):(b+=" selected",a.style("display","inline-block").attr("class",b))});artist_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","artist-text show-explainer-artist-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[0].x+20)+", "+(lineData[0].y+20)+")").text("Artist");
artist_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","artist-text show-explainer-artist-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[0].x+20)+", "+(lineData[0].y+40)+")").text("View")}
function add_airport(){animateText("airport");positionText("airport",lineData[1].y+20,!1);airport=explainer_g.append("circle").attr("r",20).attr("class","airport").attr("id","test-airport").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").attr("cx",lineData[1].x).attr("cy",lineData[1].y);airport.on("click",function(){var a=d3.selectAll(".airport-text");a.classed("selected")?a.style("display","none").attr("class","airport-text show-explainer-airport-image"):a.style("display","inline-block").attr("class",
"airport-text show-explainer-airport-image selected")});airport_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","airport-text show-explainer-airport-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[1].x+20)+", "+(lineData[1].y+20)+")").text("Airport");airport_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class",
"airport-text show-explainer-airport-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData[1].x+20)+", "+(lineData[1].y+40)+")").text("View")}
function add_freeport(){animateText("freeport");positionText("freeport",lineData_freeport[1].y+20,!1);freeport=explainer_g.append("circle").attr("r",20).attr("class","freeport").attr("id","test-freeport").attr("fill","rgba(0,0,0,0)").style("cursor","pointer").attr("cx",lineData_freeport[1].x).attr("cy",lineData_freeport[1].y);freeport.on("click",function(){var a=d3.selectAll(".freeport-text");a.classed("selected")?a.style("display","none").attr("class","freeport-text show-explainer-freeport-image"):
a.style("display","inline-block").attr("class","freeport-text show-explainer-freeport-image selected")});explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","freeport-text show-explainer-freeport-image").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData_freeport[1].x+20)+", "+(lineData_freeport[1].y+20)+")").text("Freeport");explainer_g.append("text").style("font",
"15px 'isocpeur'").attr("class","freeport-text show-explainer-freeport-image").style("display","none").style("stroke","#F1F100").style("fill","#F1F100").style("stroke-width","0.5").style("cursor","pointer").attr("transform","translate("+(lineData_freeport[1].x+20)+", "+(lineData_freeport[1].y+40)+")").text("View")}
function add_line(){animateText("line");positionText("line",explainer_h/2,!1);var a=d3.svg.line().x(function(a){return a.x}).y(function(a){return a.y}).interpolate("linear");line=explainer_g.append("path").attr("d",a(lineData)).attr("stroke","blue").attr("stroke-width",2).attr("fill","none")}
function add_freeport_line(){animateText("line");positionText("line",explainer_h/2,!1);var a=d3.svg.line().x(function(a){return a.x}).y(function(a){return a.y}).interpolate("linear");freeport_line=explainer_g.append("path").attr("d",a(lineData_freeport)).attr("stroke","blue").attr("stroke-width",2).attr("fill","none")}var vector_y_translate=23;
function add_vector(){animateText("vector");positionText("vector",lineData[0].y,lineData[0].x-10);vector=explainer_g.append("path").attr("class","vector-arrow vector-destination-test").attr("id","vector-arrow-test").style("cursor","pointer").attr("stroke","#F1F100").attr("stroke-width","3px").attr("fill","rgba(0,0,0,0)").attr("d","M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z").attr("transform","translate("+lineData[0].x+","+(lineData[0].y+vector_y_translate)+") scale("+s+") rotate("+
r+")");vector.on("click",function(){var a=d3.selectAll(".airport-text");a.classed("selected")?a.style("display","none").attr("class","airport-text"):a.style("display","inline-block").attr("class","airport-text selected")});vector_text_a=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","vector-text vector-text-a").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").attr("transform",function(){vector.attr("transform")}).text("Flight info.");
vector_text_b=explainer_g.append("text").style("font","15px 'isocpeur'").attr("class","vector-text vector-text-b").style("display","none").style("color","#fff").style("stroke","#fff").style("fill","#fff").style("stroke-width","0.5").attr("transform",function(){vector.attr("transform")}).text("View")}
function add_freeport_vector(){vector=explainer_g.append("path").attr("class","vector-arrow vector-destination-test").attr("id","vector-arrow-test").style("cursor","pointer").attr("stroke","#F1F100").attr("stroke-width","3px").attr("fill","rgba(0,0,0,0)").attr("d","M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z").attr("transform","translate("+lineData_freeport[0].x+","+(lineData_freeport[0].y+vector_y_translate)+") scale("+s+") rotate("+r_freeport+")")}
function animate_vector_a(){var a=line.node().getTotalLength(),b=line.node().getPointAtLength(.5*a);vector.transition().delay(500).duration(4*a).ease("linear").attrTween("transform",function(a,b){var c=b.getTotalLength()/2;return function(a){return function(a){a=b.getPointAtLength(a*c);return"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,line.node())).each("end",function(){console.log("tween 1 ended, yo'");animateText("gallery");positionText("gallery",b.y,b.x);
d3.selectAll(".vector-text-a").style("display","inline-block").attr("transform","translate("+b.x+","+b.y+")");d3.selectAll(".vector-text-b").style("display","inline-block").attr("transform","translate("+b.x+","+(b.y+20)+")")})}
function animate_vector_b(){var a=line.node().getTotalLength(),b=line.node().getPointAtLength(.5*a);animateText("gallery");positionText("gallery",b.y,b.x);d3.selectAll(".vector-text").style("display","none");vector.transition().delay(100).duration(2.5*a).ease("linear").attrTween("transform",function(a,b){var c=b.getTotalLength(),e=b.getPointAtLength(.5*c);return function(a){return function(a){a=b.getPointAtLength(a*c);return a.x>=e.x?"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+
r+")":"translate("+e.x+","+(e.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,line.node())).each("end",function(){console.log("tween ended, yo'");animateText("landed")}).remove()}
function animate_vector_freeport(){var a=freeport_line.node().getTotalLength();freeport_line.node().getPointAtLength(.5*a);vector.transition().delay(500).duration(4*a).ease("linear").attrTween("transform",function(a,d){var f=d.getTotalLength();return function(a){return function(a){a=d.getPointAtLength(a*f);return"translate("+a.x+","+(a.y+vector_y_translate)+") scale("+s+") rotate("+r+")"}}}(vector,freeport_line.node())).each("end",function(){console.log("tween 1 ended, freeport yo'")})};
    </script>




    <!--<script type="text/javascript">
      var prompt_h = $("#prompt-1-d3-container").height();
      var prompt_w = $("#prompt-1-d3-container").width();
      var prompt_1 = d3.select("#prompt-1-d3-container")
          .append("svg")
          .attr("preserveAspectRatio", "xMidYMid")
          .attr("viewBox", "0 0 " + prompt_w + " " + prompt_h)
          .attr("width", prompt_w)
          .attr("height", prompt_h * prompt_h / prompt_w);

      var prompt_g_1 = prompt_1.append("g");

      var sample_flightID = "001";

      var vectorGroup_p = prompt_g_1.append("g")
      .attr("class", "vector-group")
      .attr("id", "vectorGroup-"+sample_flightID)

      var vector_p = vectorGroup_p.append("g")
        .attr("class", "vector")
        .style("padding", "10px;");

       var label_p = vectorGroup_p.append("g")
      //.attr("class", "vector-foreignObject")
      .attr("class", "detail-container")
      .attr("id", "label-"+sample_flightID)
      .style("display", "none")
      .attr("data-link", '/idea/sample/sample')

      label_p.append("text")
      .attr("class", "flightName")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "0px")
      .text( "NTR001 NONTERRITORIAL");

      label_p.append("text")
      .attr("class", "title")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "14px")
      .text( "Sample Title" );

      label_p.append("text")
      .attr("class", "lat")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "28px")
      .text("33.4567");

      label_p.append("text")
      .attr("class", "lng")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "42px")
      .text("18.1234");

      label_p.append("text")
      .attr("class", "from")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "56px")
      .text("Here");

      label_p.append("text")
      .attr("class", "to")
      .style("font", "14px 'isocpeur'")
      .style("color", "#fff")
      .style("stroke", "#fff")
      .style("fill", "#fff")
      .style("stroke-width", "0.5")
      .attr("x", "0px")
      .attr("y", "70px")
      .text("There");

      vector_p.append("path")
      .attr("class", "vector-arrow vector-destination-123")
      .attr("id", "vector-arrow-"+sample_flightID)
      .style("cursor", "pointer")
      .style("display", "none")
      .attr("stroke", "#F1F100")
      .attr("stroke-width", "10px")
      .attr("fill", "rgba(0,0,0,0)")
      .attr("d", "M15.2,61.3l112,48 c0,0-20-30.7-20-48s20-48,20-48L15.2,61.3z")
      .attr("transform", "scale(0.5)")

    </script>
    <script type="text/javascript">
      $(document).ready(function(){

        setTimeout(function(){
          //$("#prompt-1").removeClass("offscreen");
          //$("#prompt-1").addClass("fadeInDown");
        }, 1000);

      });

      $("body").on("click", "#prompt-1-vector", function(){

      });
    </script>-->


{% endblock %}
