{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "list" %}

{% if artist_listing %}
	{% set active_page_m = "artists" %}
{% else %}
	{% set active_page_m = "galleries" %}
{% endif %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
</style>

{% endblock %}

{% block content %}

	<div class="row container filter-btn-container">
		<div class="col s12 m4">
			<h2 style="margin-top:0rem;margin-bottom:0rem;">Spaces</h2>
		</div>
		<div class="col s12 m8 right-align-medium">
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_country' data-beloworigin="true">Filter By Country</a>
			<ul id='filter_country' class='dropdown-content'>
				<li><a href="/galleries">ALL</a></li>
				{% for country in countries %}
					<li><a href="/galleries?country={{country.country}}">{{country.country}}</a></li>
				{% endfor %}
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_locality' data-beloworigin="true">Filter By City</a>
			<ul id='filter_locality' class='dropdown-content'>
				<li><a href="/galleries">ALL</a></li>
				{% for locality in localities %}
					<li><a href="/galleries?locality={{locality.locality}}">{{locality.locality}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container center">

			<!-- <div>
				<input type="date" class="datepicker">
			</div> -->

			<table class="idea-listing-table responsive-table highlight">
		        <thead>
		          <tr>
		          		<th data-field="gallery_name">Space Name</th>
		              	<th data-field="Origin">Location</th>
		              	<!-- <th data-field="About">About</th> -->
		              	<th data-field="Exhibiting">Upcoming Exhibition</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for gallery in galleries %}
			          	<tr>
			          		<td><a href="/gallery/list/{{gallery.slug}}">{{gallery.username}}</a></td>
				            <td>{{gallery.locality}} {{gallery.country|abbrev_country}}</td>
				            <!-- <td><span class="truncate" style="max-width:400px;">{{gallery.about}}</span></td> -->
				            <td>{% if gallery_exhibiting[loop.index0] %}<a href="/gallery/list/{{gallery.flightCode}}">Yes</a>{% else %}No{% endif %}</td>
			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
      				<a href="/galleries?cursor={{next_curs}}" class="btn-flat btn-outline">MORE</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>


{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}



{% block modal %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block script %}

{% endblock %}
