{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "list" %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}
</style>

{% endblock %}

{% block content %}

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container">

			<div class="row">
				<div class="col s12">
					<h2>{{gallery.username}}</h2>
				</div>
				<div class="col s12 gallery-subnavigation">
					{% if gallery.slideShow %}
						<a href="/idea/{{gallery.flightCode}}/{{gallery.slideShow.get().slug}}">Introduction</a>
					{% endif %}
					<a href="/gallery/map/{{gallery.flightCode}}">Map</a>
					<a href="/gallery/{{gallery.flightCode}}" class="selected">List</a>
				</div>
				<div class="col s12">
					<p>{{gallery.about}}</p>
				</div>
			</div>

			<table class="idea-listing-table responsive-table">
		        <thead>
		          <tr>
		          		<th data-field="inflight">
		          		{% if not gallery.upgraded %}
		          			Artist
	          			{% else %}
	          				Gallery
		          		{% endif %}
		          		</th>
		              	<th data-field="title">Title</th>
		              	<th data-field="Origin">Origin</th>
		              	<th data-field="Destination">Destination</th>
		              	<th data-field="Arriving">
		              		{% if not gallery.upgraded %}
			          			Arriving
		          			{% else %}
		          				Arriving / Arrived
			          		{% endif %}
		              	</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for idea in ideas %}
			          	<tr>
				            <td>
				            	{% if not gallery.upgraded %}
				          			{{idea.surname|capitalize}}, {{idea.user.get().name|capitalize}}
			          			{% else %}
			          				{{idea.user.get().name|capitalize}}
				          		{% endif %}
			            	</td>
				            <td><a href="/exhibition/{{idea.flightCode}}/{{idea.slug}}">{{idea.title}}</a></td>
				            <td>{{idea.locality}}, {{idea.country}}</td>
				            <td>
				            	{% if idea.destinationLocality and idea.destinationCountry %}
				            		{{idea.destinationLocality}}, {{idea.destinationCountry|abbrev_country}}
				            	{% elif idea.destinationCountry and not idea.destinationLocality %}
				            		{{idea.destinationCountry|abbrev_country}}
			            		{% else %}
			            			TBA
				            	{% endif %}
				            </td>
				            <td>
				            	{% if idea.landingDate %}
				            		{{idea.landingDate|dash_date}}
				            	{% else %}
				            		TBA
				            	{% endif %}
				            </td>
			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

		</div>
	</div>

{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block script %}
{% endblock %}
