{% extends "slideshow/base.html" %}

{% block style %}
{% endblock %}


{% block content %}

<div class="row container filter-btn-container">
	<div class="col s12 m4">
		<h2 style="margin-top:0rem;margin-bottom:0rem;">Galleries</h2>
	</div>
	<div class="col s12 m8 right-align">
		<a class='dropdown-button btn-flat' href='#' data-activates='filter_country' data-beloworigin="true">Filter By Country</a>
		<ul id='filter_country' class='dropdown-content'>
			<li><a href="/galleries">ALL</a></li>
			{% for country in countries %}
				<li><a href="/galleries?country={{country.country}}">{{country.country}}</a></li>
			{% endfor %}
		</ul>
		<a class='dropdown-button btn-flat' href='#' data-activates='filter_locality' data-beloworigin="true">Filter By City</a>
		<ul id='filter_locality' class='dropdown-content'>
			<li><a href="/galleries">ALL</a></li>
			{% for locality in localities %}
				<li><a href="/galleries?locality={{locality.locality}}">{{locality.locality}}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>


<div class="row container">
	<div class="col s12 center">
		<h1>{{gallery.username}}</h1>
		<div class="center">
			<a href="/gallery/map/{{gallery.flightCode}}">Map</a>
			 | 
			<a href="/gallery/list/{{gallery.flightCode}}">List</a>

		</div>
		<p>{{gallery.about}}</p>
	</div>
	{% if gallery.slideShow %}
	<div class="col s12 center">
		<a href="/idea/{{gallery.flightCode}}/{{gallery.slideShow.get().slug}}">More about {{gallery.username}}</a>
	</div>
	{% endif %}
</div>


<div class="row container">
	{% for exhibition in exhibitions %}
	<div class="col s12">
		<div class="bordered">
			<h3>{{exhibition.title}}</h3>
			<p>
				<a href="/exhibition/{{gallery.flightCode}}/{{exhibition.slug}}">View</a>
			</p>
			<p>{{exhibition.description}}</p>
			<div>
				Begins: {{exhibition.landingDate|dash_date}}<br>
				Ends: {{exhibition.departureDate|dash_date}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}

{% block script %}
{% endblock %}
