

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
  <link rel="stylesheet" href="/static/font/ionicons/css/ionicons.min.css">
    <!-- Google fonts equivalent of isocpeur -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'> -->

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <!-- Dropzone -->
  <link rel="stylesheet" href="/static/css/dropzone.min.css">

  <link rel="icon" type="image/png" href="/static/img/favicon.png" sizes="196x196">

  <!-- Vex CSS -->
  <!-- <link rel="stylesheet" href="/static/vex/vex.css" />
  <link rel="stylesheet" href="/static/vex/vex-theme-os.css" /> -->

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/nonterritorial.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

	<body>

		<nav class="hide-on-med-and-up" style="background-color: transparent;">
		    <div class="nav-wrapper">
		      	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="ion-navicon"></i></a>
                <ul class="side-nav nonterritorial-sidenav" id="mobile-demo">
                    <li><a href="/" class="{% if active_page == 'map' %}selected{% endif %}">Home</a></li>
                    <!-- <li class="divider"></li> -->
                    <li><a href="/page/Introduction" class="{% if active_page_m == 'introduction' %}selected{% endif %}">About</a></li>

                    {% if userObj %}{% if userObj.approved %}<li><a href="/galleries" class="{% if active_page_m == 'galleries' %}selected{% endif %}">Spaces</a></li>{% endif %}{% endif %}
                    {% if userObj %}{% if userObj.approved and userObj.userType == "artist" %}<li><a href="/artists" class="{% if active_page_m == 'artists' %}selected{% endif %}">Artists</a></li>{% endif %}{% endif %}

                    <li><a href="/list/ideas" class="{% if active_page_m == 'all_ideas' %}selected{% endif %}">Available</a></li>
                    <li><a href="/list/in-flight" class="{% if active_page_m == 'in_flight' %}selected{% endif %}">Upcoming</a></li>
                    <li><a href="/contact" class="{% if active_page_m == 'contact' %}selected{% endif %}">Contact</a></li>
                    <!-- <li class="divider"></li> -->
                    {% if userObj %}
                            <li>
                                <a href="/me/my-videos" class="{% if active_page_m == 'my_videos' %}selected{% endif %}">My Videos</a>
                            </li>
                            <li>
                                <a href="/me" class="{% if active_page_m == 'settings' %}selected{% endif %}">Settings</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                    {% else %}
                        <li><a href="/login" class="{% if active_page_m == 'login' %}selected{% endif %}">Login</a></li>
                        <li><a href="/register" class="{% if active_page_m == 'register' %}selected{% endif %}">Register</a></li>
                    {% endif %}
                </ul>
		    </div>
	  	</nav>

		<main id="main" class="mapSingleColumn">

			<div id="contentArea" class="{% block contentAreaClass %}{% endblock %}">

				<div id="utc_clock"></div>
				<!-- <div id="activity_indicator">Activity: 01/01/16 - 01/04/16 </div> -->

				{% block content %}
				{% endblock %}

				<div id="sidebar-content-map">
					<ul id="in-flight" class="sidebarMenu">
						<!-- <li class="header-item">in flight</li> -->
						<li class="in-flight-color">Available</li>
						{% block InFlight %}
						{% endblock %}
						{% if in_flight %}
							{% for flight in in_flight %}
								<li class="item">
									<a id="flight-listing-{{flight.key.id()}}"
										href="/idea/{{flight.flightCode}}/{{flight.slideShow.get().slug}}"
										class="flight-listing item-flight-code"
										data-idea-id="{{flight.slideShow.id()}}"
										data-flight-id="{{flight.key.id()}}"
										data-lat=""
										data-lng="">
									{{flight.surname}}
									</a>

									<a href="/idea/{{flight.flightCode}}/{{flight.slideShow.get().slug}}" class="flight-listing item-landing-date" class="show-on-small-only">
										{{flight.landingDate|dash_date}}
									</a>
								</li>
							{% endfor %}
							<li class="list-link in-flight-color"><a href="/gallery/list/{{gallery.flightCode}}">More</a></li>
						{% endif %}
						<li class="blank-divider"></li>
					</ul>
				</div>

			</div>





			<div id="footerNav" class="footerNav solid-bg footerNav-map">

                <div class="footerNavItem">
					<span id="search_nav_item"  class="{% if active_page == 'search' %}selected{% endif %}"><a href="/search">Search</a></span>
				</div>

				<div class="footerNavItem">
					<span>
					<a href="#!" class="{% if active_page == 'nonterritorial' %}selected{% endif %}">Nonterritorial</a>
					<ul class="footerNavItemMenu">
						<li><a href="/page/Introduction">About</a></li>
						<!-- <li><a href="/concept">Concept</a></li> -->
						<li><a href="/contact">Contact</a></li>
					</ul>
					</span>
				</div>

				<div class="footerNavItem">
					<span>
					<!-- DEMO -->
					{% if userObj %}
						<a href="#!" class="{% if active_page == 'login' %}selected{% endif %}">{{userObj.username}}</a>
						<ul class="footerNavItemMenu">
							<li>
								<a href="/logout">Logout</a>
							</li>
							{% if userObj.userType == "airport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "freeport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "artist" and userObj.approved %}
								<li>
									<a href="/me/new">New Artwork</a>
								</li>
							{% endif %}
							<li>
								<a href="/me/my-videos">My Videos</a>
							</li>
							<li>
								<a href="/list/ideas">All Artworks</a>
							</li>
							<li>
								<a href="/me">Settings</a>
							</li>
						</ul>

					{% else %}
						<a href="#!" class="{% if active_page == 'login' %}selected{% endif %}">Login</a>
						<ul class="footerNavItemMenu">
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
						</ul>
					{% endif %}
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						<a href="#!"  class="{% if active_page == 'list' %}selected{% endif %}">List</a>
						<ul class="footerNavItemMenu">
							<li><a href="/galleries">Spaces</a></li>
							<li><a href="/artists">Artworks</a></li>
							<li><a href="/list/ideas">Available</a></li>
							<li><a href="/list/in-flight">Upcoming</a></li>
						</ul>
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						<a href="/" class="{% if active_page == 'map' %}selected{% endif %}">Map</a>
						<ul class="footerNavItemMenu">
							<!-- <li class="blank-divider reduce-height"></li> -->
							{% block positionMenuItem %}
							<!-- <li id="showAirspace"><a href="#">Airspace</a></li> -->
							<!-- <li id="showGround"><a href="#">Ground</a></li> -->
							<!-- <li id="showAirport"><a href="#">Airports</a></li>
							<li id="showFreeport"><a href="#">Freeports</a></li>
							<li id="showSonic"><a href="#">Sonic</a></li> -->
							<li id="showArtist"><a href="#">Artists</a></li>
							<li id="showAll"><a href="#">All</a></li>
							{% endblock %}
							<!-- <li class="blank-divider reduce-height"></li> -->
						</ul>
					</span>
				</div>

				<div class="footerNavItem">
					{% block zoomInBtn %}
					<!-- <span class="zoom-btn zoom-in">+</span> -->
					{% endblock %}
				</div>
				<div class="footerNavItem">
					{% block zoomOutBtn %}
					<!-- <span class="zoom-btn zoom-in">-</span> -->
					{% endblock %}
				</div>

			</div>


		</main>

	{% block modal %}
	{% endblock %}


		  <!--  Scripts-->
			<script type="text/javascript" src="/static/js/jquery.js"></script>
			<script src="/static/materialize/js/bin/materialize.min.js"></script>
			<script type="text/javascript" src="/static/materialize/js/init.js"></script>
			<script type="text/javascript" src="/static/js/dropzone.js"></script>

			<script type="text/javascript" src="/static/js/ajax.js"></script>
			<script type="text/javascript" src="/static/js/interactions.js"></script>

		{% block script %}
		{% endblock %}

	</body>
</html>
