{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "list" %}
{% set active_page_m = "all_ideas" %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
</style>

{% endblock %}

{% block content %}
	<!-- <div class="row container table-title">
		<div class="col s12">
			<h2>Ideas</h2>
		</div>
	</div> -->

	<div class="row container filter-btn-container">
		<div class="col s12 m4">
			<h2 style="margin-top:0rem;margin-bottom:0rem;">Artworks</h2>
		</div>
		<div class="col s12 m8 right-align-medium">
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_date' data-beloworigin="true" style="padding-left: 0rem;">Order By Date</a>
			<ul id='filter_date' class='dropdown-content'>
				<li><a href="/list/ideas">ALL</a></li>
				<li><a href="/list/ideas?order=new">Newest to oldest</a></li>
				<li><a href="/list/ideas?order=old">Oldest to newest</a></li>
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_country' data-beloworigin="true">Filter By Country</a>
			<ul id='filter_country' class='dropdown-content'>
				<li><a href="/list/ideas">ALL</a></li>
				{% for country in countries %}
					<li><a href="/list/ideas?country={{country.country}}">{{country.country}}</a></li>
				{% endfor %}
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_locality' data-beloworigin="true">Filter By City</a>
			<ul id='filter_locality' class='dropdown-content'>
				<li><a href="/list/ideas">ALL</a></li>
				{% for locality in localities %}
					<li><a href="/list/ideas?locality={{locality.locality}}">{{locality.locality}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container center">

			<table class="responsive-table highlight idea-listing-table">
		        <thead>
		          <tr>
		          		<th data-field="inflight">Artist</th>
		              	<th data-field="title">Title</th>
		              	<th data-field="Origin">Location</th>
		              	<!-- <th>Upcoming</th> -->
		              	{% if userObj.userType == "airport" or userObj.userType == "freeport" %}
			              <th data-field="invite">Invite</th>
		              	{% endif %}
		          </tr>
		        </thead>

		        <tbody>
		        	{% for idea in ideas %}
			          	<tr>
			          		<td>{{idea.name}} {{idea.surname}}</td>
				            <td><a href="/idea/{{idea.flightCode}}/{{idea.slug}}">{{idea.title}}</a></td>
				            <td>{{idea.locality}} {{idea.country|abbrev_country}}</td>
				            <!-- <td>{{idea.inFlight}}</td> -->
				            {% if userObj.userType == "airport" or userObj.userType == "freeport" %}
				            <td>
				            	{% if idea.key.id()|int in checked_invitations %}
				            		<input type="checkbox" id="invite-{{idea.key.id()}}" class="invite-button" data-id="{{idea.key.id()}}" checked="checked"/>
      								<label for="invite-{{idea.key.id()}}">Invite</label>
				            	{% else %}
				            		<input type="checkbox" id="invite-{{idea.key.id()}}" class="invite-button" data-id="{{idea.key.id()}}" />
      								<label for="invite-{{idea.key.id()}}">Invite</label>
      							{% endif %}
				            </td>
				            {% endif %}
			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
      				<a href="/list/ideas?cursor={{next_curs}}" class="btn-flat btn-outline">MORE</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>


{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}
{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}



{% block modal %}
<!-- Modal -->
<div id="dateModal" class="modal bottom-sheet">
    <div class="modal-content">
    	<div class="row" style="margin-top: 2rem;">
    		<div class="col s12 center">
				<h2>Exhibition Start</h2>
    		</div>
    	</div>
	      <div class="row">
	    	<div class="input-field col s12 m4">
		    <select id="start_day">
		      <option class="hidden" value="" disabled selected>Day</option>
		      <option value="01">1</option>
		      <option value="02">2</option>
		      <option value="03">3</option>
		      <option value="04">4</option>
		      <option value="05">5</option>
		      <option value="06">6</option>
		      <option value="07">7</option>
		      <option value="08">8</option>
		      <option value="09">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>
		      <option value="16">16</option>
		      <option value="17">17</option>
		      <option value="18">18</option>
		      <option value="19">19</option>
		      <option value="20">20</option>
		      <option value="21">21</option>
		      <option value="22">22</option>
		      <option value="23">23</option>
		      <option value="24">24</option>
		      <option value="25">25</option>
		      <option value="26">26</option>
		      <option value="27">27</option>
		      <option value="28">28</option>
		      <option value="29">29</option>
		      <option value="30">30</option>
		      <option value="31">31</option>
		    </select>
		    <label id="start_day_error">Day</label>
		  </div>
		  <div class="input-field col s12 m4">
		    <select id="start_month">
		      <option class="hidden" value="" disabled selected>Month</option>
		      <option value="01">January</option>
		      <option value="02">February</option>
		      <option value="03">March</option>
		      <option value="04">April</option>
		      <option value="05">May</option>
		      <option value="06">June</option>
		      <option value="07">July</option>
		      <option value="08">August</option>
		      <option value="09">September</option>
		      <option value="10">October</option>
		      <option value="11">November</option>
		      <option value="12">December</option>
		    </select>
		    <label id="start_month">Month</label>
		  </div>

		  <div class="input-field col s12 m4">
		    <select id="start_year">
		      <option class="hidden" value="" disabled selected>Year</option>
		      {% for year in range(year, year15) %}
		      	<option value="{{year}}">{{year}}</option>
		      {% endfor %}
		    </select>
		    <label id="start_year">Year</label>
		  </div>
  		</div>

  		<div class="row" style="margin-top: 2rem;">
    		<div class="col s12 center">
				<h2>Exhibition End</h2>
    		</div>
    	</div>
	      <div class="row">
	    	<div class="input-field col s12 m4">
		    <select id="end_day">
		      <option class="hidden" value="" disabled selected>Day</option>
		      <option value="01">1</option>
		      <option value="02">2</option>
		      <option value="03">3</option>
		      <option value="04">4</option>
		      <option value="05">5</option>
		      <option value="06">6</option>
		      <option value="07">7</option>
		      <option value="08">8</option>
		      <option value="09">9</option>
		      <option value="10">10</option>
		      <option value="11">11</option>
		      <option value="12">12</option>
		      <option value="13">13</option>
		      <option value="14">14</option>
		      <option value="15">15</option>
		      <option value="16">16</option>
		      <option value="17">17</option>
		      <option value="18">18</option>
		      <option value="19">19</option>
		      <option value="20">20</option>
		      <option value="21">21</option>
		      <option value="22">22</option>
		      <option value="23">23</option>
		      <option value="24">24</option>
		      <option value="25">25</option>
		      <option value="26">26</option>
		      <option value="27">27</option>
		      <option value="28">28</option>
		      <option value="29">29</option>
		      <option value="30">30</option>
		      <option value="31">31</option>
		    </select>
		    <label id="end_day_error">Day</label>
		  </div>
		  <div class="input-field col s12 m4">
		    <select id="end_month" class="invalid">
		      <option class="hidden" value="" disabled selected>Month</option>
		      <option value="01">January</option>
		      <option value="02">February</option>
		      <option value="03">March</option>
		      <option value="04">April</option>
		      <option value="05">May</option>
		      <option value="06">June</option>
		      <option value="07">July</option>
		      <option value="08">August</option>
		      <option value="09">September</option>
		      <option value="10">October</option>
		      <option value="11">November</option>
		      <option value="12">December</option>
		    </select>
		    <label id="end_month_error">Month</label>
		  </div>

		  <div class="input-field col s12 m4">
		    <select id="end_year">
		      <option class="hidden" value="" disabled selected>Year</option>
		      {% for year in range(year, year15) %}
		      	<option value="{{year}}">{{year}}</option>
		      {% endfor %}
		    </select>
		    <label id="end_year_error">Year</label>
		  </div>
  		</div>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Invite</a>
    </div>
</div>

<div id="alert-modal" class="modal">
    <div class="modal-content">
      <h4></h4>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
</div>

{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block script %}

	<script type="text/javascript">

		var start_day = null;
		var start_month = null;
		var start_year = null;
		var end_day = null;
		var end_month = null;
		var end_year = null;

		var datePicker = $('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15 // Creates a dropdown of 15 years to control year
	  	});

	  	$("body").on("change", "#start_day", function(){
	  		console.log("start day: ", $(this).val());
	  		start_day = $(this).val();
	  	});
	  	$("body").on("change", "#start_month", function(){
	  		console.log("start month: ", $(this).val());
	  		start_month = $(this).val();
	  	});
	  	$("body").on("change", "#start_year", function(){
	  		console.log("start year: ", $(this).val());
	  		start_year = $(this).val();
	  	});
	  	$("body").on("change", "#end_day", function(){
	  		console.log("end day: ", $(this).val());
	  		end_day = $(this).val();
	  	});
	  	$("body").on("change", "#end_month", function(){
	  		console.log("end month: ", $(this).val());
	  		end_month = $(this).val();
	  	});
	  	$("body").on("change", "#end_year", function(){
	  		console.log("end year: ", $(this).val());
	  		end_year = $(this).val();
	  	});

	  	$('body').on('change', '.invite-button', function(){

			var $this = $(this);
			var slideShowID = $this.data("id");

			function toggle_invitation(slideShowID, invited, date, exhibitionEndDate){
				console.log("un / inviting");
				$.ajax({
					url: "/toggle_invitation",
					type: "post",
					data: { slideShowID: slideShowID, invited: invited, date: date, exhibitionEndDate: exhibitionEndDate },
					success: function(data){
						console.log("successfully toggled invitation");
						console.log(data);
						if ( !data["success"] ){
							$(".modal-content").append(data["message"]);
							$("#alert-modal").openModal();
						}
					}
				})
			};

			//var picker = $('.datepicker').pickadate('picker');

			function get_dates_and_invite(){
				/*var start_day = null;
				var start_month = null;
				var start_year = null;
				var end_day = null;
				var end_month = null;
				var end_year = null;*/

				/*console.log("get dates and (un)invite...");

				console.log( "sd", start_day );
				console.log( "sm", start_month );
				console.log( "sy", start_year );

				console.log( "ed", end_day );
				console.log( "em", end_month );
				console.log( "ey", end_year );*/

				if ( start_day && start_month && start_year && end_day && end_month && end_year ){
					var start_date = start_year+"/"+start_month+"/"+start_day;
					var end_date = end_year+"/"+end_month+"/"+end_day;
					toggle_invitation(slideShowID, true, start_date, end_date);
				}else{

					// open the modal again if they haven't completed the dates
					$('#dateModal').openModal({
						complete : get_dates_and_invite
					});

					if ( !start_day ){
						$("#start_day_error").addClass("error");
					};
					if ( !start_month ){
						$("#start_month_error").addClass("error");
					};
					if ( !start_year ){
						$("#start_year_error").addClass("error");
					};

					if ( !end_day ){
						$("#end_day_error").addClass("error");
					};
					if ( !end_month ){
						$("#end_month_error").addClass("error");
					};
					if ( !end_year ){
						$("#end_year_error").addClass("error");
					};
				};

			};

			if ($this.is(':checked')){
				/*picker.open();
				picker.on("close", function(val){
					console.log("triggering un / invite...")
					var date = this.get('select', 'yyyy/mm/dd');
					console.log("sending date: ..... ", date);
					toggle_invitation(slideShowID, true, date);
					picker.clear();
					picker.stop();
					picker.start();
				})*/

				$('#dateModal').openModal({
					complete : get_dates_and_invite
				});
				$('select').material_select();

			}else{
				//console.log(".... uninvited " + slideShowID);
				toggle_invitation(slideShowID, false, '', '');
			};

		});

	</script>

{% endblock %}
