{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "list" %}
{% set active_page_m = "in_flight" %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}
</style>

{% endblock %}

{% block content %}

	<div class="row container filter-btn-container">
		{% if inFlight %}
		<div class="col s12 m4">
			<h2 style="margin-top:0rem;margin-bottom:0rem;">Upcoming</h2>
		</div>
		<div class="col s12 m8 right-align-medium">
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_date' data-beloworigin="true" style="padding-left: 0rem;">Order By Date</a>
			<ul id='filter_date' class='dropdown-content'>
				<li><a href="/list/in-flight">ALL</a></li>
				<li><a href="/list/in-flight?order=new">Newest to oldest</a></li>
				<li><a href="/list/in-flight?order=old">Oldest to newest</a></li>
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_country' data-beloworigin="true">Filter By Country</a>
			<ul id='filter_country' class='dropdown-content'>
				<li><a href="/list/in-flight">ALL</a></li>
				{% for country in countries %}
					<li><a href="/list/in-flight?country={{country.country}}">{{country.country}}</a></li>
				{% endfor %}
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_locality' data-beloworigin="true">Filter By City</a>
			<ul id='filter_locality' class='dropdown-content'>
				<li><a href="/list/in-flight">ALL</a></li>
				{% for locality in localities %}
					<li><a href="/list/in-flight?locality={{locality.locality}}">{{locality.locality}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
		<div class="col s12 m4">
			<h2 style="margin-top:0rem;margin-bottom:0rem;">Upcoming</h2>
		</div>
		<div class="col s12 m8 right-align">
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_date' data-beloworigin="true" style="padding-left: 0rem;">Order By Date</a>
			<ul id='filter_date' class='dropdown-content'>
				<li><a href="/list/waiting-to-takeoff">ALL</a></li>
				<li><a href="/list/waiting-to-takeoff?order=new">Newest to oldest</a></li>
				<li><a href="/list/waiting-to-takeoff?order=old">Oldest to newest</a></li>
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_country' data-beloworigin="true">Filter By Country</a>
			<ul id='filter_country' class='dropdown-content'>
				<li><a href="/list/waiting-to-takeoff">ALL</a></li>
				{% for country in countries %}
					<li><a href="/list/waiting-to-takeoff?country={{country.country}}">{{country.country}}</a></li>
				{% endfor %}
			</ul>
			<a class='dropdown-button btn-flat' href='#' data-activates='filter_locality' data-beloworigin="true">Filter By City</a>
			<ul id='filter_locality' class='dropdown-content'>
				<li><a href="/list/waiting-to-takeoff">ALL</a></li>
				{% for locality in localities %}
					<li><a href="/list/waiting-to-takeoff?locality={{locality.locality}}">{{locality.locality}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container">

			<!-- <div class="row">
				<div class="col s12">
					<h2>{{list_title}}</h2>
				</div>
			</div> -->

			<table class="idea-listing-table responsive-table highlight">
		        <thead>
		          <tr>
		          		<th data-field="inflight">Artist</th>
		              	<th data-field="title">Title</th>
		              	<th data-field="Origin">Location</th>
		              	<th data-field="Destination">Destination</th>
		              	<!-- <th data-field="Landing">Available</th> -->
		          </tr>
		        </thead>

		        <tbody>
		        	{% for idea in ideas %}
			          	<tr>
				            <td>{{idea.surname|capitalize}}, {{idea.user.get().name|capitalize}}</td>
				            <td><a href="/idea/{{idea.flightCode}}/{{idea.slug}}">{{idea.title}}</a></td>
				            <td>{{idea.locality}}, {{idea.country}}</td>
				            <td>
				            	{% if idea.destinationLocality and idea.destinationCountry %}
				            		{{idea.destinationLocality}}, {{idea.destinationCountry|abbrev_country}}
				            	{% elif idea.destinationCountry and not idea.destinationLocality %}
				            		{{idea.destinationCountry|abbrev_country}}
			            		{% else %}
			            			TBA
				            	{% endif %}
				            </td>
				            <!-- <td>
				            	{% if idea.landingDate %}
				            		{{idea.landingDate|dash_date}}
				            	{% else %}
				            		TBA
				            	{% endif %}
				            </td> -->

			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

		</div>
	</div>

	{% if next_curs %}
  	<div class="row">
  		<div class="col s12">
				<a href="/list/waiting-to-takeoff?cursor={{next_curs}}" class="btn-flat btn-outline">MORE</a>
  		</div>
  	</div>
  	{% endif %}

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}
{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block script %}
{% endblock %}
