{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "nonterritorial" %}
{% set active_page_m = "contact" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		
/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/

		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/

		#contentArea {
			position:relative !important;
		}

	</style>
{% endblock %}


{% block content %}

	<!-- <div class="slick-slider" data-slide-order="" data-slideshow-id="">
	  <div class="slide-title"> -->
	  	<!-- <div class="flex-item">
	  		<div class="text-content center">
  				<h1>Inquiry</h1> -->
	<div class="row container valign-wrapper" style="min-height: 100vh;">
		<div class="col s12 m12 valign">

	  			<div class="row">
	  				<div class="col s12 center">
	  					<h2>Inquiry</h2>	
	  				</div>
	  			</div>

				{% if slideShow and artist.userType == "artist" %}
					<div class="row">
						<div class="col s12 center">
							
							<p>You are requesting information about {{artist.name}}’s work titled "{{slideShow.title}}". </p>

						</div>
					</div>
				{% elif slideShow and artist.userType == "gallery" %}
					<div class="row">
						<div class="col s12 center">
							
							<p>You are requesting information about the exhibition "{{slideShow.title}}" from "{{gallery.username}}".</p>

						</div>
					</div>
				{% else %}
					<div class="row">
						<div class="col s12 center">
							
							<p>
				  				Please fill out the following form 
								to contact nonterritorial. The 
								information you supply will only 
								be used by nonterritorial.
							</p>

						</div>
					</div>
				{% endif %}

				<div>
					<form id="inquiryForm" method="post" {% if gallery %}action="/gallery/{{gallery.flightCode}}/contact"{% else %}action="/inquiry"{% endif %}>
							
						<div class="row">
					        <div class="input-field col s12">
					          <input value="" id="name" name="name" type="text">
					          <label for="name">Name</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12">
					          <input value="" id="email" name="email" type="text">
					          <label for="email">Email</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12">
					          <textarea id="message" name="message" class="materialize-textarea"></textarea>
					          <label for="message">Message</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12">
					          <p id="feedback"></p>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12">

					        {% if slideShow %}
					        	<input type="hidden" name="slideShowID" value="{{slideShow.key.id()}}"></input>
				        	{% endif %}
				        	{% if gallery %}
					        	<input type="hidden" name="galleryEmail" value="{{gallery.email}}"></input>
				        	{% endif %}

					         <button type="submit" class="btn-flat btn-outline">Send</button>
					        </div>
				      	</div>


					</form>

					{% if slideShow %}
					<div class="row" style="margin-top: 3rem;">
						<div class="col s12 center">
							
							<a href="/idea/{{slideShow.flightCode}}/{{slideShow.slug}}">Back to "{{slideShow.title}}"</a>

						</div>
					</div>
					{% endif %}

				</div>
	  		</div>
	  	</div>
	  <!-- </div>
	</div> -->

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}
{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>
	<script type="text/javascript">
		
		$("body").on("submit", "#inquiryForm", function(e){
			e.preventDefault();
			var success = function(){
				$("#feedback").text("Thank you for your inquiry, we'll be in touch.")
			};

			submit_form_ajax($(this), false, false, success);

		})

	</script>

{% endblock %}

