{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "login" %}
{% set active_page_m = "login" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
	</style>
{% endblock %}


{% block content %}
<div class="row container valign-wrapper" style="min-height: 100vh;">
	<div class="col s12 m12 valign">
		<form action="/login" method="post" class="" autocomplete="off">
			<div class="row">
		        <div class="input-field col s12 m6 offset-m3">
		          <input id="username" name="username" type="text">
		          <label for="username">Username / email</label>
		        </div>
		  	</div>
		  	<div class="row">
		        <div class="input-field col s12 m6 offset-m3">
		          <input id="password" type="password" name="password" class="validate">
		          <label for="password">Password</label>
		        </div>
		  	</div>
		  	<div class="row" style="margin-top: 1rem;">
		        <div class="input-field col s12 m6 offset-m3">
		          	<button class="btn-flat btn-outline"> Login </button>
		<!--           	<p>
						First time, <a href="/register">Register here</a>
					</p> -->
		        </div>
		  	</div>
		</form>

		{% if error %}
		<div class="row" style="margin-top: 2rem;">
			<div class="col s12 m6 offset-m3">
				{{error}}<br>
				<a href="/forgot-password">Forgot your password?</a>
			</div>
		</div>
		{% endif %}

	</div>
</div>

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}
{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}

