{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "login" %}
{% set active_page_m = "settings" %}

{% block style %}
	<style type="text/css">

	.grid-bar-container {
		display: none;
	}
	#headerGrid {
		display: none;
	}
	.footerNav .footerNavItem {
		border: none;
	}

	/*#footerNav {
		opacity: 0.3;
		-o-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -webkit-transition: all 1s ease;
	    transition: all 1s ease;
	}
	#footerNav:hover {
		opacity: 1;
	}*/

	</style>
{% endblock %}

{% block contentAreaClass %} pos-relative{% endblock %}


{% block content %}

	<div class="container" style="padding-top: 7rem;margin-bottom: 7rem;">

		<div class="row container">
			<div class="col s12">
				<h2>Settings</h2>
			</div>
			{% if not userObj.approved %}
			<div class="col s12">
				<p>
					We're processing your application, you'll receive a notification email on approval.
					<br>To assist us in your application, please provide some of your details below.
				</p>
			</div>
			{% endif %}
		</div>

		<div class="row container" style="margin-bottom: 1rem !important;">
			<div class="col s12">
				<a id="artist-user-prompt" href="/me/new" class="btn-flat btn-outline {% if userObj.userType == 'artist' and userObj.flightCode and userObj.approved %}{% else %}hidden{% endif %}">Add a new Idea</a>
				<a id="curator-user-prompt" href="/list/waiting-to-takeoff" class="btn-flat btn-outline {% if userObj.userType == 'curator' %}{% else %}hidden{% endif %}">Browse Ideas</a>
				<a id="casual-user-prompt" href="/list/waiting-to-takeoff" class="btn-flat btn-outline {% if userObj.userType == 'casual' %}{% else %}hidden{% endif %}">Browse Ideas</a>
				<a id="collector-user-prompt" href="/list/waiting-to-takeoff" class="btn-flat btn-outline {% if userObj.userType == 'collector' %}{% else %}hidden{% endif %}">Browse Ideas</a>

				<div><!-- this div is mostly to get the gallery buttons on one line -->

				{% if userObj.slideShow %}
					<a id="freeport-user-prompt" href="/me/idea/edit/{{userObj.slideShow.id()}}" class="btn-flat btn-outline {% if userObj.userType == 'freeport' %}{% else %}hidden{% endif %}">Introduce your space</a>
					<a id="airport-user-prompt" href="/me/idea/edit/{{userObj.slideShow.id()}}" class="btn-flat btn-outline {% if userObj.userType == 'airport' %}{% else %}hidden{% endif %}">Introduce your space</a>
					<a id="gallery-user-prompt" href="/me/idea/edit/{{userObj.slideShow.id()}}" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' and userObj.approved %}{% else %}hidden{% endif %}">
						{% if userObj.upgraded %}
							Your introduction
						{% else %}
							Introduce your gallery
						{% endif %}
					</a>
				{% else %}

					<a id="freeport-user-prompt" href="/me/new" class="btn-flat btn-outline {% if userObj.userType == 'freeport' %}{% else %}hidden{% endif %}">Introduce your space</a>
					<a id="airport-user-prompt" href="/me/new" class="btn-flat btn-outline {% if userObj.userType == 'airport' %}{% else %}hidden{% endif %}">Introduce your space</a>
					<a id="gallery-user-prompt" href="/me/new" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' and userObj.approved %}{% else %}hidden{% endif %}">
						{% if userObj.upgraded %}
							Introduce yourself
						{% else %}
							Gallery Intro
						{% endif %}
					</a>

				{% endif %}

				<!-- <a id="gallery-user-prompt" href="/gallery/{{userObj.flightCode}}" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' %}{% else %}hidden{% endif %}">My Page</a> -->
				<a id="exhibition-prompt" href="/me/exhibition/new" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' and userObj.approved %}{% else %}hidden{% endif %}">Add Exhibition</a>
				<a id="exhibition-prompt" href="/gallery/list/{{userObj.slug}}" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' and userObj.approved %}{% else %}hidden{% endif %}">List</a>
				<a id="exhibition-prompt" href="/gallery/map/{{userObj.slug}}" class="btn-flat btn-outline gallery-option {% if userObj.userType == 'gallery' and userObj.approved %}{% else %}hidden{% endif %}">Map</a>

				</div>

			</div>
		</div>

		<ul class="collapsible" data-collapsible="accordion">

		    <li>
		    	<div class="collapsible-header">My Information</div>
	    		<div class="collapsible-body">
					<form id="userProfileEdit" action="/me/save-user" method="post" autocomplete="off">

						{% if userObj.userType == "gallery" %}
						<div class="row" style="margin-top: 2rem; margin-bottom:2rem !important;">
							<div class="col s12">
								Share this link: <strong><u>http://nonterritorial.net/gallery/{{userObj.flightCode}}</u></strong>
							</div>
						</div>
						{% endif %}

						<div class="row">
					        <div class="input-field col s12">
					        	{% if not userObj.name %}
					        		<input id="name" name="name" type="text" value="{{userObj.username|check_none}}" required>
					        	{% else %}
					          		<input id="name" name="name" type="text" value="{{userObj.name|check_none}}" required>
					          	{% endif %}
					          <label for="name"><sup>*</sup>Your Name</label>
					        </div>
				      	</div>
				      	{% if userObj.userType == "artist" or userObj.userType == "casual" or userObj.userType == "collector" or userObj.userType == "curator" %}
				      	<div class="row">
					        <div class="input-field col s12">
					          <input id="surname" type="text" name="surname" class=""  value="{{userObj.surname|check_none}}" required>
					          <label for="surname"><sup>*</sup>Surname</label>
					        </div>
				      	</div>
				      	{% else %}
				      		{% if userObj.userType == "freeport" %}
				      			<input id="surname" type="hidden" name="surname" value="Freeport"></input>
			      			{% elif userObj.userType == "airport" %}
				      			<input id="surname" type="hidden" name="surname" value="Airport"></input>
			      			{% elif userObj.userType == "gallery" %}
				      			<input id="surname" type="hidden" name="surname" value="Gallery"></input>
			      			{% endif %}
				      	{% endif %}
				      	<div class="row">
					        <div class="input-field col s12">
					          <input id="address" type="text" name="address" class=""  value="{{userObj.address|check_none}}" placeholder="eg. Rome, Italy" required>
					          <label for="address"><sup>*</sup>Address {% if userObj.usertype == 'casual' or userObj.userType == 'artist' %}( we won't reveal your address publicly ){% endif %}</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12">
					          <textarea id="about" name="about" class="materialize-textarea">{{userObj.about|check_none}}</textarea>
					          <label for="about">{% if userObj.userType == "artist" %}Bio{% else %}About{% endif %}</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="input-field col s12 zero-pad-right">
					          	<input type="radio" name="newsletter" id="weekly-newsletter" value="weekly-newsletter" {% if userObj.newsletter == "weekly-newsletter" %}checked="checked"{% endif %}/>
								<label for="weekly-newsletter">Receive invitations.</label>
					        </div>
					        <!-- <div class="input-field col s12 zero-pad-right">
					          	<input type="radio" name="newsletter" value="monthly-newsletter" id="monthly-newsletter" {% if userObj.newsletter == "monthly-newsletter" %}checked="checked"{% endif %}/>
								<label for="monthly-newsletter">Receive Monthly Newsletter.</label>
					        </div> -->
					        <div class="input-field col s12 zero-pad-right">
					          	<input type="radio" name="newsletter" value="no-newsletter" id="no-newsletter" {% if userObj.newsletter == "no-newsletter" %}checked="checked"{% endif %}/>
								<label for="no-newsletter">Don’t send invitations.</label>
					        </div>
				      	</div>
				      	<!-- <div class="row">
					        <div class="input-field col s12">
					        		Please indicate the type of correspondence you would like to receive
					         	<p class="zero-pad-left">
					         		<input type="checkbox" id="typology" checked="checked"/>
									<label for="typology">Relevant to my saved Ideas</label>
					         		<input type="checkbox" id="countries" checked="checked"/>
									<label for="countries">Relevant to my location</label>
					         	</p>
					        </div>
				      	</div> -->
				      	<div class="row" style="margin-top:1rem;">
					        <div class="input-field col s12">

					        	<input id="country" name="country" type="hidden" value="{{userObj.country}}">
					        	<input id="userType" type="hidden" value="{{userObj.userType}}">
								<input id="locality" name="locality" type="hidden" value="{{userObj.locality}}">
								<input id="ideaLocation" name="ideaLocation" type="hidden" value="{{userObj.location|check_none}}">

					          	<button type="submit" class="btn-flat btn-outline"> Save </button>
					        </div>
				      	</div>

				      	<div id="gmap" class="hidden" style="height:15rem;min-width:35rem;"></div>

				      	{% if errors %}
						<div class="row">
							<div class="col s12">
								{% for error in errors %}
									{{error}}<br>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					</form>
				</div>
			</li>

			{% if slideshows %}
		    <li>
		      <div class="collapsible-header">My Artworks</div>
		      <div class="collapsible-body">

				<div class="row">
					<div class="col s12">

						<table class="idea-listing-table responsive-table">
					        <thead>
					          <tr>

					              	<th data-field="title">View</th>
					            	<th data-field="Edit">Edit</th>
					              	<th data-field="Delete">Delete</th>
					              	<th data-field="Soundtrack">Audio track</th>
					          </tr>
					        </thead>

					        <tbody>
					        	{% for slideShow in slideshows %}
						          	<tr id="slideshow-row-{{slideShow.key.id()}}">

							            <td><a href="/idea/{{slideShow.flightCode}}/{{slideShow.slug}}">{{slideShow.title}}</a></td>
						            	<td><a href="/me/idea/edit/{{slideShow.key.id()}}" target="_blank">EDIT</a></td>
							            <td>
								            <form method="post" class="delete-slideshow" action="/me/slideShow/delete/{{slideShow.key.id()}}" style="display:inline">
											 	<button type="submit" class="btn-flat">DELETE</button>
											 </form>
									 	</td>
									 	<td>
									 		{% if slideShow.audio %}
									 			<a href="/me/idea/audio/{{slideShow.key.id()}}" target="_blank">Replace - {{slideShow.audio_name}}</a>
									 		{% else %}
									 			<a href="/me/idea/audio/{{slideShow.key.id()}}" target="_blank">Add</a>
									 		{% endif %}
								 		</td>
						          	</tr>
					          	{% endfor %}
					        </tbody>
			      		</table>



						<!-- <ul>
							{% for slideshow in slideshows %}
								<li id="slide-show-listing-{{slideshow.key.id()}}">{{slideshow.title}} -
									<a href="/idea/{{slideshow.flightCode}}/{{slideshow.slug}}" target="_blank">PREVIEW</a>
									/

									<a href="/me/idea/edit/{{slideshow.key.id()}}" target="_blank">EDIT</a>
									 /
									 <form method="post" class="delete-slideshow" action="/me/slideShow/delete/{{slideshow.key.id()}}" style="display:inline">
									 	<button type="submit" class="btn-flat">DELETE</button>
									 </form>
								</li>
							{% endfor %}
						</ul> -->

					</div>
				</div>

			  </div>

		    </li>
		    {% else %}
		    {% if userObj.userType == "casual" %}
		    {% else %}
			    <li>
			      <div class="collapsible-header">My Artworks</div>
			      <div class="collapsible-body">
			      <div class="row">
						<div class="col s12">
							No Artowrks submitted.
						</div>
					</div>
				  </div>
		      	</li>
	      	{% endif %}
		    {% endif %}

		    <li>
		      <div class="collapsible-header">Saved Artworks</div>
		      <div class="collapsible-body">
		      	{% if savedSlideShows %}
		      	<table class="idea-listing-table responsive-table">
			        <thead>
			          <tr>
			          		<th data-field="code">Flight Code</th>
			          		<th data-field="inflight">Artist</th>
			              	<th data-field="title">Title</th>
			              	<th data-field="Origin">Origin</th>
			          </tr>
			        </thead>

			        <tbody>
			        	{% for slideShow in savedSlideShows %}
				          	<tr id="slide-show-listing-{{slideShow.key.id()}}">
					            <td>{{slideShow.flightCode}}{{slideShow.flightNumber}}</td>
					            <td>{{slideShow.surname|capitalize}}, {{slideShow.user.get().name|capitalize}}</td>
					            <td><a href="/idea/{{slideShow.flightCode}}/{{slideShow.slug}}">{{slideShow.title}}</a></td>
					            <td>{{slideShow.locality}}, {{slideShow.country}}</td>
				          	</tr>
			          	{% endfor %}
			        </tbody>
	      		</table>
	      		{% else %}
	      			<div class="row">
	      				<div class="col s12">
	      					<p>No Saved Artworks.</p>
	      				</div>
	      			</div>
	      		{% endif %}
      		  </div>

		    </li>

		    <li>
		      <div class="collapsible-header">Change Email / Password</div>
		      <div class="collapsible-body">
		      	<!-- z0d6g -->
		      	<form id="changeEmailForm" class="changeSettingsForm" method="post" action="/me/change-email" style="margin-bottom:2rem;">
					<div class="col s12 input-field">
						<label for="email">New email</label>
						<input type="text" class="form-control" id="email"  name="email" value="{{userObj.email}}">
					</div>
					<div class="col s12 input-field">
						<div class="hover-label">
							<label for="em_pw">Password</label>
      						<input class="form-control" id="em_pw" type="password" name="password">
      					</div>
  					</div>
					<div class="col s12 input-field">
						<button type="submit" class="btn-flat btn-outline">
							Change email
						</button>
					</div>
					<div class="errorMessage error"></div>
				</form>

				<form id="changePasswordForm" class="changeSettingsForm" method="post" action="/me/change-password">
					<div class="col s12 input-field">
						<label for="new_password">New Password</label>
						<input type="password" class="form-control" id="new_password" name="new_password" value="">
					</div>
					<div class="col s12 input-field">
						<div class="hover-label">
							<label for="old_pw">Old Password</label>
      						<input class="form-control" id="old_pw" type="password" name="password">
      					</div>
  					</div>
					<div class="col s12 input-field">
						<button type="submit" class="btn-flat btn-outline">
							Change password
						</button>
					</div>
					<div class="errorMessage error"></div>
				</form>

      		  </div>

		    </li>

	  	</ul>

		<!-- {% if slideshows %}
		<div class="row">
			<div class="col s12">

				<hr>

				<p>IDEAS</p>

				<ul>
					{% for slideshow in slideshows %}
						<li id="slide-show-listing-{{slideshow.key.id()}}">{{slideshow.title}} -
							<a href="/idea/{{slideshow.flightCode}}/{{slideshow.slug}}" target="_blank">PREVIEW</a>
							/

							<a href="/me/idea/edit/{{slideshow.key.id()}}" target="_blank">EDIT</a>
							 /
							 <form method="post" class="delete-slideshow" action="/me/slideShow/delete/{{slideshow.key.id()}}" style="display:inline">
							 	<button type="submit" class="btn-flat">DELETE</button>
							 </form>
						</li>
					{% endfor %}
				</ul>

			</div>
		</div>

		{% else %}
		<div class="row">
			<div class="col s12">

			</div>
		</div>
		{% endif %} -->

	</div>


{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/js/gmaps.js"></script>
	<!--AIzaSyDtmhhx1-KETxjoJt1imJ86mQZRl1vzhY0--><!-- Nonterritorial.net -->
	<!-- AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug --><!-- nonterritorial dev -->
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxrk_kSzQp9IUuOKtM_8D86-hySaoEnAs&language=en&callback=initMap">
    </script>

	<script type="text/javascript">

		Dropzone.options.profileDropzone = {
		  	init: function() {
		    	this.on("success", function(file, data) {
			    	console.log(data);
			    	console.log("Added file.");
			    	this.removeFile(file);
			    	$("#profile-dropzone").css("background-image", "url(" + data["profile_image"] + ")");
		    	});
		  	}
		};

	</script>
	<script type="text/javascript">
		$('body').on('submit', '.delete-slideshow', function(e){
			e.preventDefault();
			var success = function(data){
				console.log("deleted: ", data);
				$("#slideshow-row-"+data["slideShowID"]).remove();
			};
			submit_form_ajax($(this), null, null, success);
		});

	</script>

{% endblock %}
