{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "login" %}
{% set active_page_m = "my_videos" %}

{% block content %}

	<div class="item-listing flex-item" style="min-width:90%;">
		<div class="row container center">

			<div class="row">
				<div class="col s12 left-align">
					<a href="/me/upload-video" class="btn-flat btn-outline">Upload a Video</a>
				</div>
			</div>
			
			<table>
		        <thead>
		          <tr>
		              <th data-field="title">File name</th>
		              <th data-field="code">Download URL</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for video in videos %}
			          	<tr>
				            <td>{{video.filename}}</td>
				            <td>{{video.download_url}}</td>
			          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

		</div>
	</div>

{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}
{% endblock %}

