{% extends "slideshow/slideshow-index-single-column.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}
	</style>
{% endblock %}


{% block content %}

	<div class="slick-slider" data-slide-order="" data-slideshow-id="">

	  <div class="slide-title flex-container-center">
	  	<div class="flex-container-center">
	  		<div class="slide-content-container flex-item center slide-edit">
  				<h1 class="canEdit edit-title">Title</h1>
  				<div class="canEdit edit-description">Subtitle</div>
  				
  				<form method="post" action="/me/save-slide" class="slide-input-container hidden">
	  				<input type="hidden" name="title" class="title-input"></input>
	  				<input type="hidden" name="description" class="description-input"></input>
	  				<input type="hidden" name="slideShowID" class="slideShowID" value=""></input>
	  				<input type="hidden" name="slideID" value=""></input>
	  				<input type="hidden" name="slideType" value="text"></input>
	  				<input type="hidden" name="slideOrder" value="1"></input>
		  		</form>

	  		</div>
	  		<div class="slide-done-edit content-save-btn btn-flat hidden">done editing</div>
	  	</div>
	  </div>
	</div>

	<div id="addSlide" class="hidden">
		<ul>
			<li>
				<span class="btn-flat add-new-text-slide">New Text</span>
			</li>
			<li>
				<span class="btn-flat add-new-image-slide">New Image</span>
			</li>
			<li>
				<span class="btn-flat add-new-video-slide">New Video</span>
			</li>
		</ul>
	</div>

{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}

