{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "new_idea" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/

	</style>
{% endblock %}


{% block content %}

	<div id="nextSlide" onclick="next_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-right"></i>
	</div>
	<div id="prevSlide" onclick="prev_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-left"></i>
	</div>


	<div class="slick-slider">
	  
		<div class="">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<form id="slideShowTitle" action="/me/save-slide" method="post" class="">

  						<div class="row">
					        <div class="input-field col s12 center">
					        	{% if slideShow %}
					        		<input id="title" name="title" type="text" class="validate" value="{{slideShow.title|check_none}}">
					        	{% else %}
					          		<input id="title" name="title" type="text"  class="validate" value="">
					          	{% endif %}
					          	<label for="title" class="center" data-error="please include a title">Idea title</label>
					        </div>
				      	</div>
				      	<div class="row">
					        <div class="col s12 center">
					          <div  style="max-width: 45rem;">{{userObj.name}} {{userObj.surname}}</div>
					        </div>
				      	</div>

				      	<div class="row">
					        <div class="input-field col s12">
					        	<input type="hidden" name="slideShowID" class="slideShowID" value=""></input>
				  				<input type="hidden" name="slideID" value=""></input>
				  				<input type="hidden" name="slideType" value="text"></input>
				  				<input type="hidden" name="slideOrder" value="0"></input>

					          	<button id="slideShowTitle-submit" type="submit" class="btn-flat">Save</button>
					        </div>
				      	</div>

	  				</form>
		  		</div>
		  	</div>
	  	</div>

  	<!-- {% for slide in slides %}

  		{% if slide.slideType == 'text' %}
		  	<div class="slide-title flex-container-center">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<h1 class="">{{slide.title}}</h1>
		  				<div class="" style="max-width: 45rem;">{{slide.description}}</div>
			  		</div>
			  	</div>
		  	</div>
	  	{% endif %}
	  	{% if slide.slideType == 'image' %}
		  	<div class="slide-title flex-container-center">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container slide-image flex-item center" style="background-image: url({{slide.image_url}}=s1000)">
			  		</div>
			  	</div>
		  	</div>
	  	{% endif %}
	  	{% if slide.slideType == 'video' %}
		  	<div class="slide-title flex-container-center bgVid-embed">
	  			{% if slide.video_url %}
	  			<video id="video-{{slide.slideOrder}}" autoplay loop preload="auto" class="bgvid">
			        <source src="{{slide.video_url}}" type="video/mp4">
			    </video>
			    {% elif slide.video_embed %}
			    	{{slide.video_embed|safe}}
			    {% endif %}
		  	</div>
	  	{% endif %}

  	{% endfor %} -->

	</div>

{% endblock %}

{% block contentAreaClass %}
	zero-pad-right
{% endblock %}

{% block sideBarClass %}
	closed
{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">

		$("body").on("submit", "#slideShowTitle", function(e){
			$("#slideShowTitle-submit").prop("disabled", true);
			var title = $("#title").val();

			if ( title.length <= 0 ){
				e.preventDefault();
				$("#title").addClass("invalid");
				$("#slideShowTitle-submit").prop("disabled", false);
				//alert("please include a title");
			};
		});
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

		// disable dropzone autodiscover on this page...
		//Dropzone.autoDiscover = false;

		// handle title saving
		var submitting = false;
		$("body").on("submit", ".slide-form", function(e){
			//e.preventDefault();

			//$("#slideShowTitle-submit").prop("disabled", true);
			//$("#slideShowTitle-submit").attr("disabled", "disabled");


			var $form = $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			//$form.find('button').prop('disabled', true);

			var error = false

			if ( $form.attr("id") == "slideShowTitle" && $("#title").val() <= 0 ){

				error = true;

			};

			var success = function(data){
				console.log("success:", data);

				next_slideOrder = parseInt(data['slideOrder']) + 1;
				$(".slick-slider").data("slide-order", next_slideOrder);

				if ( parseInt( data['slideOrder']) == 0 ){
					$(".slick-slider").data("slideshow-id", data['slideShowID']);
					$(".slick-slider").slick('slickNext');

				};

				$(".addSlideBtns").addClass("hidden");
				$form.find(".addSlideBtns").removeClass("hidden");

				// in ajax.js
				feedback_overlay("Saved", 1000);

			};
			


			if ( !error && !submitting ){
				submitting = true;
				submit_form_ajax($form, method, action, success);
			}else{
				$("#title").addClass("invalid");
			};
			//submit_form_ajax($form, method, action, success);

			e.preventDefault();
		
		});

	</script>

{% endblock %}

