{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "nonterritorial" %}
{% set active_page_m = "introduction" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
	</style>
{% endblock %}


{% block content %}
	<!-- <div class="flex-container-center">
	  <div class="slide-title flex-item"> -->
  <div class="row container valign-wrapper static-text-container" style="min-height: 100vh;">
		<div class="col s12 m12 valign">
		
	  		<div class="slide-content-container text-content {% if page_name == 'Terminology' %}terminology-text{% endif %}">
  				{% if not content %}
	  				<h2 class="edit-title center">{{page_name}}</h2>
	  				<div class="edit-description center">
	  					{% if page_name == "Terminology" %}
	  						<!-- {{terminology|safe}} -->
	  						{% include "slideshow/terminology.html" %}
						{% elif page_name == "Artists" %}
							{{artists|safe}}
						{% elif page_name == "Curators" %}
							{{curators|safe}}
						{% elif page_name == "Collectors" %}
							{{collectors|safe}}
						{% elif page_name == "Submission" %}
							{{submissions|safe}}
						{% elif page_name == "Spaces" %}
							{{spaces|safe}}
						{% elif page_name == "Introduction" %}
							{{about|safe}}
						{% elif page_name == "Contacts" %}
							{{contacts|safe}}
						{% endif %}
	  				</div>
  				{% else %}

  					{% for page in pages %}
  						{% if page.title %}
	  						<h2 class="">{{page.title}}</h2>
	  					{% endif %}
	  					<div class="static-page-text nitti">{{page.text|safe}}</div>
  					{% endfor %}

  				{% endif %}

	  		</div>
	  </div>
	</div>

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}

