{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "login" %}
{% set active_page_m = "register" %}

{% block style %}

<style type="text/css">
	.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
</style>

{% endblock %}

{% block content %}

	<div class="row valign-wrapper container" style="min-height: 100vh;">
		<div class="col s12 m12 valign">

			<form action="/register" method="post">

			<p>{{userType}}</p>

				<div class="row zero-pad-left">
			        <div class="input-field col s12 m6 offset-m3 zero-pad-left">
						<div class="userType_w">

				          	<input name="userType" type="radio" id="artist" value="artist" class="userType-radio"
				          	data-message="Register as an artist if you would like to submit your ideas and work." {% if userType and userType=="artist" %}checked="checked"{% endif %}/>
	      					<label for="artist">Artist</label>
						</div>
						<div class="userType_w">

	      					<input name="userType" type="radio" id="casual" value="casual" class="userType-radio"
	      					data-message="Register as a Spectator if you are interested in discovering artists, their works and exhibitions." {% if userType and userType=="casual" %}checked="checked"{% elif not userType %}checked="checked"{% endif %}/>
	      					<label for="casual">Visitor</label>
						</div>
						<div class="userType_w">

	      					<input name="userType" type="radio" id="curator" value="curator"  class="userType-radio"
	      					data-message="Register if your are a curator and interested in collaboration." {% if userType and userType=="curator" %}checked="checked"{% endif %}/>
	      					<label for="curator">Curator</label>
						</div>
						<div class="userType_w">

	      					<input name="userType" type="radio" id="collector" value="collector"  class="userType-radio"
	      					data-message="Register as a Collector if you are interested in discovering artists and their works, also acquiring or commissioning." {% if userType and userType=="collector" %}checked="checked"{% endif %}/>
	      					<label for="collector">Collector</label>
						</div>
						<!-- <div class="userType_w">

	      					<input name="userType" type="radio" id="freeport" value="freeport"  class="userType-radio"
	      					data-message="Register as a Freeport if you own or have access to a space for exhibitions and are interested to collaborate with Nonterritorial." {% if userType and userType=="freeport" %}checked="checked"{% endif %}/>
	      					<label for="freeport">Freeport</label>
						</div>
						<div class="userType_w">

	      					<input name="userType" type="radio" id="airport" value="airport"  class="userType-radio"
	      					data-message="Register here if you represent an airport and are interested to collaborate with Nonterritorial." {% if userType and userType=="airport" %}checked="checked"{% endif %}/>
	      					<label for="airport">Airport</label>
						</div> -->

						<div class="userType_w">
	      					<input name="userType" type="radio" id="gallery" value="gallery"  class="userType-radio"
	      					data-message="Register here if you represent a gallery and would like to display your exhibitions on Nonterritorial." {% if userType and userType=="gallery" %}checked="checked"{% endif %}/>
	      					<label for="gallery">Space</label>
						</div>

			        </div>
		      	</div>
<!--
		      	<div class="row">
					<div id="userType-message" class="col s12 m6 offset-m3" style="font-size: 0.9rem;">
						Register as a Spectator if you are interested to discover artists, their works and exhibitions.
					</div>
				</div> -->

				<div class="row" style="margin-top: 15px">
			        <div class="input-field col s12 m6 offset-m3">
			          <input id="username" name="username" type="text" value="{{username}}">
			          <label for="username">Choose a Username</label>
			        </div>

			        <div id="name_input" class="input-field col s12 m6 offset-m3 {% if userType and userType=='artist' %}{% else %}hidden{% endif %}">
			          <input id="name" type="text" name="name" class="validate"  value="{{name}}">
			          <label for="name">First Name</label>
			        </div>

			        <div id="surname_input" class="input-field col s12 m6 offset-m3 {% if userType and userType=='artist' %}{% else %}hidden{% endif %}">
			          <input id="surname" type="text" name="surname" class="validate"  value="{{surname}}">
			          <label for="surname">Surname</label>
			        </div>

			        <div class="input-field col s12 m6 offset-m3">
			          <input id="email" type="email" name="email" class="validate"  value="{{email}}">
			          <label for="email">Email</label>
			        </div>

			        <div id="portfolio_input" class="input-field col s12 m6 offset-m3 {% if userType and userType=='artist' %}{% else %}hidden{% endif %} tooltipped"
			        	data-position="bottom"
			        	data-delay="50"
			        	data-tooltip="Its easier for us to approve your work if we can see an example.">
			          <input id="portfolio" type="text" name="portfolio" class="validate"  value="{{portfolio}}">
			          <label for="portfolio">Online portfolio ( provide a link or contact us )</label>
			        </div>

			        <div class="input-field col s12 m6 offset-m3">
			          <input id="password" type="password" name="password" class="validate">
			          <label for="password">Password</label>
			        </div>

			        <div class="input-field col s12 m6 offset-m3">
			          <input id="verify_password" type="password" name="verify_password" class="validate">
			          <label for="verify_password">Repeat Password</label>
			        </div>
		      	</div>
		      	<div class="row" style="margin-top: 1rem;">
			        <div class="input-field col s12 m6 offset-m3">
			          <button class="btn-flat btn-outline"> Register </button>
			        </div>
		      	</div>
			</form>

			<!-- <div class="row" style="margin-top:3rem;font-size: 0.9rem;">
				<div class="col s12 m6 offset-m3">
					<p><sup>*</sup>Register with Nonterritorial and be included on guest lists for exhibitions in your area</p>
				</div>
			</div> -->

			{% if errors %}
			<div class="row" style="margin-top:1rem;">
				<div class="col s12 m6 offset-m3" style="color: red;font-size: 0.9rem;">
					{% for error in errors %}
						- {{error}}<br>
					{% endfor %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

{% endblock %}

{% block script %}

	<script type="text/javascript">
		$("body").on("click", ".userType-radio", function(){
			var $this = $(this);
			if ( $this.is(":checked") ){
				$("#userType-message").html($this.data("message"));
			};
			if( $this.attr("id") == "artist" ){
				$("#portfolio_input").removeClass("hidden");
				$("#name_input").removeClass("hidden");
				$("#surname_input").removeClass("hidden");
			}else{
				$("#portfolio_input").addClass("hidden");
				$("#name_input").addClass("hidden");
				$("#surname_input").addClass("hidden");
			};
		})
	</script>

{% endblock %}
