{% extends "slideshow/slideshow-index-single-column.html" %}
{% set active_page = "login" %}
{% set active_page_m = "register" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
	</style>
{% endblock %}


{% block content %}

	{% if register_type %}
	<form action="/register" method="post" class="flex-item" autocomplete="off">

		<div class="row" style="margin-top:15px">
	        <div class="input-field col s12">
	          <input id="username" name="username" type="text" value="{{username}}">
	          <label for="username">
	          	Choose a Username
	          	{% if register_type == "artist" %}( we recommend using your surname ){% endif %}
	          	{% if register_type == "airport" %}( Choose one word that best describes your airport, eg 'Heathrow', or 'Bordeux' ){% endif %}
	          	{% if register_type == "freeport" %}( Choose one word that best describes your Exhibition space eg. 'Tacheles' ){% endif %}
	          </label>
	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" name="email" class="validate"  value="{{email}}">
	          <label for="email">Email</label>
	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12">
	          <input id="password" type="password" name="password" class="validate">
	          <label for="password">Password</label>
	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12">
	          <input id="verify_password" type="password" name="verify_password" class="validate">
	          <label for="verify_password">Repeat Password</label>
	        </div>
      	</div>
      	<div class="row hidden">
	        <div class="input-field col s12">
	          		<input name="userType" type="radio" id="artist" value="artist" {% if register_type == "artist" %}checked="checked"{% endif %}/>
					<label for="artist">Artist</label>

					<input name="userType" type="radio" id="collector" value="collector" {% if register_type == "collector" %}checked="checked"{% endif %}/>
					<label for="collector">Collector</label>

					<input name="userType" type="radio" id="curator" value="curator" {% if register_type == "curator" %}checked="checked"{% endif %}/>
					<label for="curator">Curator</label>

					<input name="userType" type="radio" id="airport" value="airport" {% if register_type == "airport" %}checked="checked"{% endif %}/>
					<label for="airport">Airport</label>

					<input name="userType" type="radio" id="freeport" value="freeport" {% if register_type == "freeport" %}checked="checked"{% endif %}/>
					<label for="freeport">Freeport</label>

					<input name="userType" type="radio" id="casual" value="casual" {% if register_type == "casual" %}checked="checked"{% endif %}/>
					<label for="casual">Spectator</label>

	        </div>
      	</div>
      	<div class="row">
	        <div class="input-field col s12 center">
	          <button class="btn-flat"> Register </button>
	        </div>
      	</div>

      	{% if errors %}
			<div class="row">
				<div class="col s12">
					{% for error in errors %}
						{{error}}<br>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</form>
	{% else %}

	<div class="row container">
		<div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I'm an Artist</span>
              <p>Register as an artist if you would like to submit your work and if you meet our strict submission quality standards</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=artist">Register</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I represent an Airport</span>
              <p>Register as an airport if you represent a real airport and would like to exhibit Nonterritorial work in your space.</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=airport">Register</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I'm a Gallery Owner</span>
              <p>Register as a Freeport if own or have access to an exhibition space and would like to invite artists to exhibit work in your space.</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=freeport">Register</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I'm a Curator</span>
              <p>Register as a Curator if you're an art curator and would like to take an active role in curating the types of art that appear on Nonterritorial.</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=curator">Register</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I'm a Collector</span>
              <p>Register as a Collector if you are interested in purchasing artworks and would like Nonterritorial to assist you in your purchasing decisions.</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=collector">Register</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">I'm just Looking</span>
              <p>Register as a Spectator if you're interested in accessing all Nonterritorial content but are not necessarily interested insubmitting, purchasing or exhibiting any work (you can always change this later).</p>
            </div>
            <div class="card-action">
              <a href="/register?register_type=casual">Register</a>
            </div>
          </div>
        </div>
	</div>

	{% endif %}

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}

{% block positionMenuItem %}
	{% if gallery %}
	    <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
  	{% endif %}
	<li><a href="/">Nonterritorial</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">

		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}
