{% extends "slideshow/slideshow-index-single-column-full-width.html" %}
{% set active_page = "search" %}

{% block style %}
<style type="text/css">

		.footerNav .footerNavItem {
			border: none;
		}

</style>
{% endblock %}

{% block content %}

<div class="search_w">

    <div id="search-container" class="row container" style="margin-top: 1rem;">
      <div class="col s12 center">
        <form method="get" action="/search" autocomplete="off">
          <div class="row">
            <div class="col s12 m6 offset-m3 l4 offset-l4 input-field">
              <input id="q" name="q" type="search" value="{{q|check_none}}"></input>
              <!-- <label for="q"><i class="ion-ios-search"></i></label> -->
            </div>
          </div>
          <div class="row">
            <div class="col s12 center">
              <button type="submit" class="btn-flat search-submit btn-outline" style="margin-top: 1rem;">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

</div>

{% if results and not initial %}

  <div class="item-listing flex-item" style="min-width:90%;">
    <div class="row container">

      <div class="row">
        <div class="col s12">
          <h2>{{q}}</h2>
        </div>
      </div>

      <table class="idea-listing-table responsive-table">
            <thead>
              <tr>
                  <th data-field="flightCode">Flight Code</th>
                  <th data-field="artist">Artist</th>
                  <th data-field="title">Title</th>
                  <th data-field="origin">Origin</th>
              </tr>
            </thead>

            <tbody>
              {% for result in results['results'] %}
                  <tr>
                      <td>{{result.flightCode}}</td>
                      <td>{{result.user.get().name|capitalize}} {{result.surname|capitalize}}</td>
                      <td><a href="/idea/{{result.flightCode}}/{{result.slug}}">{{result.title}}</a></td>
                      <td>{{result.country}}, {{result.locality}}</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>

    </div>
  </div>

{% raw %}
<!-- <div id="category-header" class="row">
  <div class="col s12 center">
    {% if results["number_found"] == 1 %}
      <h5>{{results["number_found"]}} Result for: {{q}}</h5>
    {% else %}
      <h5>{{results["number_found"]}} Results for: {{q}}</h5>
    {% endif %}
  </div>
</div>

<div id="category-list" class="row container">
    {% for item in results["results"] %}
      {% if item.username and item.slug and item.cover_image %}
      <div class="card category-detail-card col s12 m6 l4 transition">
          <a href="/story/{{item.username}}/{{item.slug}}" class="cover-link"></a>
          <div class="card-image card-image-bg transition" style="background-image:url({{item.cover_image}})">
            <span class="card-title">
                <a href="/story/{{item.username}}/{{item.slug}}">
                  {{item.name}}
                </a>
            </span>
          </div>
          <div class="card-content transition">
            <p class="truncate">
              {{item.description}}
            </p>
          </div>
      </div>
      {% endif %}
    {% endfor %}
</div> -->
{% endraw %}

{% endif %}

{% endblock %}

{% block GalleryListNavItem %}
  {% if gallery %}
    <li><a href="/gallery/list/{{gallery.flightCode}}">{{gallery.username}} exhibitions</a></li>
  {% endif %}
{% endblock %}
{% block positionMenuItem %}
  {% if gallery %}
      <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
    {% endif %}
  <li><a href="/">Nonterritorial</a></li>
{% endblock %}


{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}
