

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google fonts equivalent of isocpeur -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'> -->

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <!-- Dropzone -->
  <link rel="stylesheet" href="/static/css/dropzone.min.css">

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/nonterritorial.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

	<body>

		<main id="main">

			<div id="contentArea" class="{% block contentAreaClass %}{% endblock %}">

			<div class="grid-bar-container grid-bar-container-left">
				<div class="grid-bar no-border-top"></div>
				<div class="grid-bar"></div>
				<div class="grid-bar"></div>
				<div class="grid-bar"></div><!-- border-bottom -->
			</div>

			{% block content %}

			{% endblock %}

			</div>

			<div id="headerGrid" class="headerGrid">
				<div class="headerGridItem"></div> <!-- border-left -->
				<div class="headerGridItem"></div>
				<div class="headerGridItem"></div>
				<div class="headerGridItem"></div>
				<div class="headerGridItem"></div>
				<div class="headerGridItem no-border-left no-border-right"></div>
			</div>





			<div id="SideBar" class="{% block sideBarClass %}{% endblock %}">
				<div class="grid-bar-container grid-bar-container-right">
					<div class="grid-bar no-border-top"></div>
					<div class="grid-bar"></div>
					<div class="grid-bar"></div>
					<div class="grid-bar"></div><!-- border-bottom -->
				</div>
				<div class="sideBarContent flex-container-center">

					<div id="sidebar-content-center">
					<ul id="waiting-to-take-off" class="sidebarMenu">
						<li class="header-item">Waiting to take off</li>
						{% block WaitingToTakeOff %}

							{% if waiting_to_take_off %}
								{% for flight in waiting_to_take_off %}
									<li class="item">
										<a href="/idea/{{flight.flightCode}}/{{flight.slug}}">#{{flight.flightCode}}{{flight.flightNumber}} {{flight.surname}}</a>
									</li>
								{% endfor %}
								<li class="list-link"><a href="/list/waiting-to-takeoff">List</a></li>
							{% endif %}
							<li class="blank-divider"></li>

						{% endblock %}
					</ul>
					<ul id="in-flight" class="sidebarMenu">
						<li class="header-item">in flight</li>
						{% block InFlight %}
						{% endblock %}
						{% if in_flight %}
							{% for flight in in_flight %}
								<li class="item">
								<a href="/idea/{{flight.flightCode}}/{{flight.slideShow.get().slug}}">#{{flight.flightCode}}{{flight.flightNumber}} {{flight.surname}}</a>
								</li>
							{% endfor %}
							<li class="list-link"><a href="/list/in-flight">List</a></li>
						{% endif %}
						<li class="blank-divider"></li>

					</ul>
					{% block flightInfo %}
					<!-- <ul id="statsContainer" class="sidebarMenu">
						<li class="header-item">SELECTED</li>
						<li id="nothing_selected" class="hidden"> - </li>
						<li class="">
							<a id="ideaLink" href=""><span id="ideaNumber"></span> <span id="ideaSurname"></span></a>
						</li>
						<li id="liTitle" class="">TITLE: <span id="ideaName"></span></li>
						<li id="liStatus" class="">STATUS: <span id="ideaStatus"></span></li>
						<li id="liLat" class="">LAT: <span id="ideaLat"></span></li>
						<li id="liLng" class="">LNG: <span id="ideaLng"></span></li>
						<li id="liFrom" class="">FROM: <span id="ideaFrom"></span></li>
						<li id="liTo" class="">TO: <span id="ideaTo"></span></li>
						<li id="liLanding" class="">LANDING: <span id="ideaLanding"></span></li>
					</ul> -->
					{% endblock %}
					</div>

				</div>

				<div class="" style="position:absolute; bottom: 0px;margin-bottom: 1rem;margin-left: 2rem;">
					Search
				</div>

			</div>

			<div id="footerNav" class="footerNav">
				<div class="footerNavItem"><!-- border-left -->
					{% block zoomInBtn %}
					{% endblock %}
				</div>
				<div class="footerNavItem">
					{% block zoomOutBtn %}
					{% endblock %}
				</div>
				<div class="footerNavItem">
					<span>
					{% if userObj %}
						{{userObj.username}}
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							<li>
								<a href="/logout">Logout</a>
							</li>
							{% if userObj.userType == "airport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "freeport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "artist" and userObj.approved %}
								<li>
									<a href="/me/new">New Idea</a>
								</li>
							{% endif %}
							<li>
								<a href="/me/my-videos">My Videos</a>
							</li>
							<li>
								<a href="/list/ideas">Idea Listing</a>
							</li>
							<li>
								<a href="/me">Settings</a>
							</li>
							<!-- <li>
								<a href="/">Home</a>
							</li> -->
							<li class="blank-divider reduce-height"></li>
						</ul>

					{% else %}
						Login
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
							<!-- <li>
								<a href="/">Home</a>
							</li> -->
							<li class="blank-divider reduce-height"></li>
						</ul>
					{% endif %}
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						<a href="/">Ideas</a>
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						Position
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							{% block positionMenuItem %}
							<li id="showAirspace">Airspace</li>
							<li id="showGround">Ground</li>
							<li id="showAirport">Airports</li>
							<li id="showFreeport">Freeports</li>
							<li id="showAll">All</li>
							{% endblock %}
							<li class="blank-divider reduce-height"></li>
						</ul>
					</span>
				</div>
				<div class="footerNavItem no-border-right">
					<span>
					Nonterritorial
					<ul class="footerNavItemMenu">
						<li class="blank-divider reduce-height"></li>
						<li><a href="/page/Introduction">Introduction</a></li>
						<li><a href="/page/Artists">Artists</a></li>
						<li><a href="/page/Curators">Curators</a></li>
						<li><a href="/page/Collectors">Collectors</a></li>
						<li><a href="/page/Submission">Submission</a></li>
						<!-- <li><a href="/page/Spaces">Spaces</a></li> -->
						<li><a href="/page/Terminology">Terminology</a></li>
						<li><a href="/contact">Contacts</a></li>
						<li class="blank-divider reduce-height"></li>
					</ul>
					</span>
				</div>
			</div>


		</main>

		  <!--  Scripts-->

		  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
		  <script type="text/javascript" src="/static/js/jquery.js"></script>
		  <script src="/static/materialize/js/bin/materialize.min.js"></script>
		  <script type="text/javascript" src="/static/materialize/js/init.js"></script>
		  <script type="text/javascript" src="/static/js/dropzone.js"></script>

		  <script type="text/javascript" src="/static/js/ajax.js"></script>

		  <script type="text/javascript" src="/static/js/interactions.js"></script>

		  <!--<script type="text/javascript" src="/static/js/init.js"></script>
		  <script type="text/javascript" src="/static/js/nonterritorial.js"></script>
		  <script type="text/javascript" src="/static/js/ui.js"></script>-->

		{% block script %}
		{% endblock %}

	</body>
</html>


