{% extends "slideshow/slideshow-index.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}

		/* remove grid on slideshow */
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}

	</style>
{% endblock %}


{% block content %}

	<div id="nextSlide" onclick="next_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-right"></i>
	</div>
	<div id="prevSlide" onclick="prev_slide()" class="flex-container-center slideshow-arrow">
		<i class="ion-ios-arrow-left"></i>
	</div>

	<div id="inquiryBtn">
		<a href="/inquiry?flightCode={{slideShow.flightCode}}&slug={{slideShow.slug}}">Inquiry</a>
	</div>

	<a href="/" class="home-btn">
		Back
	</a>

	<div class="slick-slider">
	  
		<div class="slide-user">
		  	<div class="flex-container-center">
		  		<div class="slide-content-container flex-item center">
	  				<h1>{{slideShow.title}}</h1>
	  				<div  style="max-width: 45rem;">{{slideShow.description}}</div>
		  		</div>
		  	</div>
	  	</div>

  	{% for slide in slides %}

  		{% if slide.slideType == 'text' %}
		  	<div class="slide-title flex-container-center">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container flex-item center">
		  				<h1 class="">{{slide.title}}</h1>
		  				<div class="" style="max-width: 45rem;">{{slide.description}}</div>
			  		</div>
			  	</div>
		  	</div>
	  	{% endif %}
	  	{% if slide.slideType == 'image' %}
		  	<div class="slide-title flex-container-center">
			  	<div class="flex-container-center">
			  		<div class="slide-content-container slide-image flex-item center" style="background-image: url({{slide.image_url}}=s1000)">
			  		</div>
			  	</div>
		  	</div>
	  	{% endif %}
	  	{% if slide.slideType == 'video' %}
		  	<div class="slide-title flex-container-center bgVid-embed">
	  			{% if slide.video_url %}
		  			<video id="video-{{slide.slideOrder}}" autoplay loop preload="auto" class="bgvid">
		  				{% if slide.video_url_mp4 %}
		  					<source src="{{slide.video_url_mp4}}" type="video/mp4">
	  					{% endif %}
		  				{% if slide.video_url_webm %}
		  					<source src="{{slide.video_url_webm}}" type='video/webm'/>
	  					{% endif %}
		  				{% if slide.video_url_ogv %}
		  					<source src="{{slide.video_url_ogv}}" type='video/ogv'/>
	  					{% endif %}
		  				{% if not slide.video_url_mp4 and not slide.video_url_webm %}
		  					<source src="{{slide.video_url}}" type="video/mp4">
		  				{% endif %}
				    </video>
			    {% elif slide.video_embed %}
			    	{{slide.video_embed|safe}}
			    {% endif %}
		  	</div>
	  	{% endif %}

  	{% endfor %}

	</div>

{% endblock %}

{% block contentAreaClass %}
	zero-pad-right
{% endblock %}
{% block sideBarClass %}
	closed
{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}
{% block flightInfo %}
{% endblock %}


{% block script %}

	<script type="text/javascript" src="/static/slick/slick.min.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
		  $('.slick-slider').slick({
		  	arrows: false,
		  	dots: false
		  });
		});

	</script>

{% endblock %}

