

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google fonts equivalent of isocpeur -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'> -->

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <!-- Dropzone -->
  <link rel="stylesheet" href="/static/css/dropzone.min.css">

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/nonterritorial.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

	<body>

		<main id="main" class="singleColumn">

			<div id="contentArea" class="{% block contentAreaClass %}{% endblock %}">

				{% block content %}
				{% endblock %}

			</div>



			<div id="footerNav" class="footerNav solid-bg">
				<div class="footerNavItem">
					{% block zoomInBtn %}
					<span class="zoom-btn zoom-in">+</span>
					{% endblock %}
				</div>
				<div class="footerNavItem">
					{% block zoomOutBtn %}
					<span class="zoom-btn zoom-in">-</span>
					{% endblock %}
				</div>
				<div class="footerNavItem">
					<span>
					{% if userObj %}
						<a href="#!" class="{% if active_page == 'login' %}selected{% endif %}">{{userObj.username}}</a>
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							<li>
								<a href="/logout">Logout</a>
							</li>
							{% if userObj.userType == "airport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "freeport" %}
								<li>
									{% if not userObj.editedSpace %}
										<a href="/me/new">Introduce your Space</a>
									{% else %}
										<a href="/me/idea/edit/{{userObj.slideShow.id()}}">Edit your Space</a>
									{% endif %}
								</li>
							{% elif userObj.userType == "artist" and userObj.approved %}
								<li>
									<a href="/me/new">New Idea</a>
								</li>
							{% endif %}
							<li>
								<a href="/me/my-videos">My Videos</a>
							</li>
							<li>
								<a href="/list/ideas">Idea Listing</a>
							</li>
							<li>
								<a href="/me">Settings</a>
							</li>
							<!-- <li>
								<a href="/">Home</a>
							</li> -->
							<li class="blank-divider reduce-height"></li>
						</ul>

					{% else %}
						<a href="#!" class="{% if active_page == 'login' %}selected{% endif %}">Login</a>
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Register</a></li>
							<!-- <li>
								<a href="/">Home</a>
							</li> -->
							<li class="blank-divider reduce-height"></li>
						</ul>
					{% endif %}
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						<a href="#!"  class="{% if active_page == 'list' %}selected{% endif %}">List</a>
						<ul class="footerNavItemMenu">
                            {% if userObj %}{% if userObj.approved %}<li><a href="/galleries">Spaces</a></li>{% endif %}{% endif %}
							{% if userObj %}{% if userObj.approved and userObj.userType == "artist" %}<li><a href="/artists">Artworks</a></li>{% endif %}{% endif %}
							<li><a href="/list/ideas">Available</a></li>
							<li><a href="/list/in-flight">Upcoming</a></li>
						</ul>
					</span>
				</div>
				<div class="footerNavItem">
					<span>
						<a href="/" class="{% if active_page == 'map' %}selected{% endif %}">Map</a>
						<ul class="footerNavItemMenu">
							<li class="blank-divider reduce-height"></li>
							{% block positionMenuItem %}
							<!-- <li id="showAirspace">Airspace</li> -->
							<!-- <li id="showGround">Ground</li> -->
							<!-- <li id="showAirport">Airports</li>
							<li id="showFreeport">Freeports</li>
							<li id="showSonic">Sonic</li> -->
							<li id="showAll"><a href="#">All</a></li>
							{% endblock %}
							<li class="blank-divider reduce-height"></li>
						</ul>
					</span>
				</div>
				<div class="footerNavItem">
					<span>
					Nonterritorial
					<ul class="footerNavItemMenu">
						<li class="blank-divider reduce-height"></li>
						<li><a href="/page/Introduction">Introduction</a></li>
						<!-- <li><a href="/page/Artists">Artists</a></li>
						<li><a href="/page/Curators">Curators</a></li>
						<li><a href="/page/Collectors">Collectors</a></li> -->
						<!-- <li><a href="/page/Submission">Submission</a></li> -->
						<!-- <li><a href="/page/Spaces">Spaces</a></li> -->
						<!-- <li><a href="/page/Terminology">Terminology</a></li> -->
						<li><a href="/contact">Contacts</a></li>
						<li class="blank-divider reduce-height"></li>
					</ul>
					</span>
				</div>
			</div>


		</main>

		  <!--  Scripts-->
		  <script type="text/javascript" src="/static/js/jquery.js"></script>
		  <script src="/static/materialize/js/bin/materialize.min.js"></script>
		  <script type="text/javascript" src="/static/materialize/js/init.js"></script>
		  <script type="text/javascript" src="/static/js/dropzone.js"></script>
		  <script type="text/javascript" src="/static/js/ajax.js"></script>
		  <script type="text/javascript" src="/static/js/interactions.js"></script>

		{% block script %}
		{% endblock %}

	</body>
</html>
