{% extends 'slideshow/slideshow-index-single-column-full-width.html' %}

{% block content %}
<!-- <div class="flex-item"> -->

    <div class="row container valign-wrapper" style="min-height: 100vh">
        <div class="col s12 valign center">

        <form id="audioUpload" action="/me/idea/audio/{{slideShow.key.id()}}" method="post" class="dropzone slide-dropzone" enctype="multipart/form-data" style="border: 1px solid #fff;">
            <div class="center dz-message">
                Drop your audio file here.<br>
                Your Audio File needs to be under 30MB and preferably in .mp3 format.
            </div>
        </form>

        </div>
    </div>

{% endblock %}

{% block positionMenuItem %}
    {% if gallery %}
        <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
    {% endif %}
    <li><a href="/">Nonterritorial</a></li>
{% endblock %}


{%  block script %}
<script type="text/javascript">
    Dropzone.options.audioUpload = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 30// MB
    };
</script>

{% endblock %}