<!-- <ul class="terminology-ul" style="text-align:center;line-height:200%;">
    <li>
        <span class="terminology-word">"Nonterritorial"</span> is a complex of paths and exhibition zones for ideas to take-off and land.
    </li>
    <li>
        <span class="terminology-word">"idea"</span>a work of art, object, installation, site specific, sonic or performance art.
    </li>
    <li>
        <span class="terminology-word" style="padding-right:3rem;">"an airspace of ideas"</span> a live movement of ideas in an airspace, by which works are exposed 
    in multiple locations and contexts. Realtime coordinates of ideas suggests variety of places and exhibition 
    formats of engagement between artist and spectator.
    </li>
    <li>
        <span class="terminology-word">"waiting to depart"</span> waiting mode, once idea is prepared and ready to take off.
    </li>
    <li>
        <span class="terminology-word">"landing"</span> arrival mode once idea is scheduled to land at specific destination.
    </li>
    <li>
        <span class="terminology-word">"an airport"</span> an aerodrome with facilities for flights to take off and land.
    </li>
    <li>
        <span class="terminology-word">"freeport"</span> a dedicated area, space, zone or territory to expose ideas through the format of exhibition.
    </li>
</ul> -->

<div class="terminology">
    <div class="terminology-word">
        "Nonterritorial" - 
    <!-- </div>
    <div class="terminology-description"> -->
        is a complex of paths and exhibition zones for ideas to take-off and land.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "idea" - 
    <!-- </div>
    <div class="terminology-description"> -->
        a work of art, object, installation, site specific, sonic or performance art.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "an airspace of ideas" - 
    <!-- </div>
    <div class="terminology-description"> -->
        a live movement of ideas in an airspace, by which works are exposed 
        in multiple locations and contexts. Realtime coordinates of ideas suggests variety of places and exhibition 
        formats of engagement between artist and spectator.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "waiting to depart" - 
    <!-- </div>
    <div class="terminology-description"> -->
       waiting mode, once idea is prepared and ready to take off.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "landing" - 
    <!-- </div>
    <div class="terminology-description"> -->
        arrival mode once idea is scheduled to land at specific destination.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "an airport" - 
    <!-- </div>
    <div class="terminology-description"> -->
        an aerodrome with facilities for flights to take off and land.
    </div>
</div>
<div class="terminology">
    <div class="terminology-word">
        "freeport" - 
    <!-- </div>
    <div class="terminology-description"> -->
        a dedicated area, space, zone or territory to expose ideas through the format of exhibition.
    </div>
</div>
