{% extends "slideshow/slideshow-index-single-column-full-width.html" %}

{% block style %}
	<link rel="stylesheet" href="/static/slick/slick.css">
	<!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
	<style type="text/css">
		/*.slick-slider {
		    margin: 0px;
		    height: 100%;
		}
		.slick-list {
		    position: relative;
		    display: block;
		    overflow: hidden;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		}
		.slick-track {
		    position: relative;
		    top: 0;
		    left: 0;
		    display: block;
		    height: 100%;
		}*/
		/*.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#footerNav {
			display: none;
		}*/
		.grid-bar-container {
			display: none;
		}
		#headerGrid {
			display: none;
		}
		.footerNav .footerNavItem {
			border: none;
		}

		#contentArea {
			position:relative !important;
		}

		/*#footerNav {
			opacity: 0.3;
			-o-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		    -moz-transition: all 1s ease;
		    -webkit-transition: all 1s ease;
		    transition: all 1s ease;
		}
		#footerNav:hover {
			opacity: 1;
		}*/
	</style>
{% endblock %}


{% block content %}
<div class="row container valign-wrapper" style="min-height: 100vh;">
		<div class="col s12 m12 valign">
	  		<div class="slide-content-container text-content">
  				<h2 class="center">{{userPage.name}} {{userPage.surname}}</h2>
  				<div class="center">
  					{{userPage.about}}
  				</div>
	  		</div>
	  </div>
</div>

{% endblock %}

{% block positionMenuItem %}
	<li><a href="/">Back to map</a></li>
{% endblock %}

{% block flightInfo %}
{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}


{% block script %}

{% endblock %}

