
{% extends "slideshow/slideshow-index-single-column.html" %}
{% set active_page = "login" %}

{% block style %}
    <link rel="stylesheet" href="/static/slick/slick.css">
    <!--<link rel="stylesheet" href="/static/slick/slick-theme.css">-->
    <style type="text/css">
        .slick-slider {
            margin: 0px;
            height: 100%;
        }
        .slick-list {
            position: relative;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .slick-track {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
        }

        /* remove grid on slideshow */
        .grid-bar-container {
            display: none;
        }
        #headerGrid {
            display: none;
        }
        .footerNav .footerNavItem {
            border: none;
        }

        #footerNav {
            opacity: 0.3;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        #footerNav:hover {
            opacity: 1;
        }

    </style>
{% endblock %}


{% block content %}

<div class="flex-item">

    <div class="row container">
        
        <div class="col s12">
            
            <form id="gcs-form" method="post" action="https://storage.googleapis.com/{{ form_bucket }}" enctype="multipart/form-data">
                
                <div class="file-field input-field center">
                  <div class="btn-flat">
                    <span>Select File</span>
                    <input id="file" type="file"  name="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input id="file_name" name="filename" class="file-path validate" type="text">
                    <input type="hidden" id="file_reference" value="{{file_reference}}">
                  </div>
                </div>

                <div class="center">

                    <input type="hidden" id="key" name="key" value="">
                    <input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
                    <input type="hidden" name="acl" value="public-read">
                    <input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
                    <input type="hidden" name="success_action_status" value="201">
                    <input type="hidden" name="policy" value="{{ form_policy }}">
                    <input type="hidden" name="signature" value="{{ form_signature }}">

                    <input id="folder" type="hidden" value="default"></input>
                    
                    <button type="submit" class="btn-flat">Save Video</button>

                </div>

            </form>

        </div> 

    </div>

</div>





<!-- <div class="panel panel-default">
<div class="container">
    <div class="panel-body col-xs-4">
        <form id="gcs-form" method="post" action="https://storage.googleapis.com/{{ form_bucket }}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" id="key" name="key" value="">
                <input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
                <input type="hidden" name="acl" value="public-read">
                <input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
                <input type="hidden" name="success_action_status" value="201">
                <input type="hidden" name="policy" value="{{ form_policy }}">
                <input type="hidden" name="signature" value="{{ form_signature }}">
                <label>Direct GCS upload</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip;<input type="file" id="file" name="file" class="form-control">
                        </span>
                    </span>
                    <label for="file_name"></label>
                    <input id="file_name" name="filename" type="text" class="form-control" readonly placeholder="Browse for a file">
                    <input type="hidden" id="file_reference" value="{{file_reference}}">
                </div>
            </div>
            {%- if form_folders %}
            <div class="form-group">
                <label for="folder">Bucket / folder</label>
                <select id="folder" class="form-control">
                    <option value="default"{% if form_folder|default('default') == 'default' %} selected{% endif %}>{{ form_bucket }}</option>
                    {%- for each in form_folders %}
                    <option value="{{ each }}"{% if form_folder|default('default') == each %} selected{% endif %}>{{ form_bucket }}/{{ each }}</option>
                    {%- endfor %}
                </select>
            </div>
            {%- endif %}
            <div class="form-group">
                <label for="submit">&nbsp;</label>
                <input id="submit" type="submit" class="btn btn-primary pull-right" value="Upload">
            </div>
        </form>
        <div id="modal-box" class="modal fade in" role="dialog" data-modal-box="{{ modal_box|default('hide') }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header app-info">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ title }} : OK</h4>
                    </div>
                    <div class="modal-body modal-warning">
                        GCS filename : {{ bucket }}/{{ key }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
{% endblock %}



{% block script %}
<script>
// http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});
$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function (event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        if (input.length) {
            input.val(log);
        } else {
            if (log) alert(log);
        }
    });
    // update GCS upload form
    $('form').submit(function(e) {
        e.preventDefault();
    // update key = folder + object name
        var file_reference = $("#file_reference").val();
        var file_name = $('#file_name').val();
        file_name = file_reference + file_name;
        /*var folder = $('#folder').val();
        if (folder != 'default') {
            file_name = folder + '/' + file_name;1
        }*/
        $('#key').val(file_name);
    });
    // upload result
    /*var $modal_box = $('#modal-box');
    $modal_box.modal($modal_box.data('modal-box'));*/
});
</script>

{% endblock %}