<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial - Admin</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <link href="https://nonterritorial.net/" rel="canonical" />

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />


  <!-- CSS  -->
  <link href="/static/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');

  </script>

  {% block style %}
  {% endblock %}

</head>
<body>
<header>
</header>
<main>
{% block main %}

  <div id="placeholder-container" class="valign-wrapper">
    <div id="placeholder-text" class="valign center">
      <a href="#">NT ADMIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="cursor">&nbsp;</span></a>
    </div>
  </div>
    

{% endblock %}
</main>

<footer>
</footer>


  <!--  Scripts-->
  <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script src="/static/js/materialize.min.js"></script>


  {% block script %}

  {% endblock %}

  </body>
</html>
