<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Video.js -->
    <!-- http://videojs.com/getting-started/ -->
  <link href="http://vjs.zencdn.net/5.6.0/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts equivalent of isocpeur -->
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'>

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <!-- Medium Editor -->
  <link rel="stylesheet" href="/static/medium_editor/css/medium-editor.min.css">
  <link rel="stylesheet" href="/static/medium_editor/css/themes/flat.css">

  <!-- Dropzone -->
  <link rel="stylesheet" href="/static/css/dropzone.min.css">

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

<body>

<header>

</header>

<main>
      <div id="main-content-users" class="">
        {% block main %}

          <div id="placeholder-container" class="row valign">
            <div id="placeholder-text" class="col s12 center">
              <h1>NONTERRITORIAL</h1>
              <div>
                {% if userObj %}
                  <a href="/logout">Logout</a>
                {% else %}
                  <a href="/login">Login</a>
                  |
                  <a href="/register">Register</a>
                {% endif %}
              </div>
            </div>
          </div>

        {% endblock %}
      </div>

      <div id="side-menu" class="no-margin">

        <div id="crosshair-tl"></div>
        <div id="crosshair-tr"></div>
        <div id="crosshair-bl"></div>
        <div id="crosshair-br"></div>

        <div class="menu-container valign-wrapper">

            <span class="fixed-logo"><a href="/" class="no-style">Nonterritorial</a></span>

          <div id="avionics-container" class="valign">

            <div id="menuContentBody" class="content-menu-body">
              <div id="">
                <div class="row">
                  <div class="col s12">

                    {% if userObj %}
                      <div class="menu-item uppercase">
                        <span class="sliding-u-l-r">
                          <a href="/me">{{userObj.username}}</a>
                        </span>
                      </div>
                    {% endif %}

                    <!-- <div class="menu-item uppercase">
                      <span class="sliding-u-l-r">
                        <a href="/artists">All Artists</a>
                      </span>
                    </div>
                    <div class="menu-item uppercase">
                      <span class="sliding-u-l-r">
                        <a href="/curators">All Curators</a>
                      </span>
                    </div> -->

                    {% if userObj %}
                      {% if userObj.userType != "casual" %}
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                            <a href="/me/new-idea">New Idea</a>
                          </span>
                        </div>
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                            <a href="/me/ideas">My Ideas</a>
                          </span>
                        </div>
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                            <a href="/me/landing-permissions">Landing Permis.</a>
                          </span>
                        </div>
                      {% endif %}
                      {% if userObj.userType == "curator" %}
                      <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                            <a href="/ideas">Ideas</a>
                          </span>
                        </div>
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                            <a href="/me/landing-permissions/offered">Pending Landing Permis.</a>
                          </span>
                        </div>
                      {% endif %}
                      <div class="menu-item uppercase">
                        <span class="sliding-u-l-r">
                          <a href="/logout">Logout</a>
                        </span>
                      </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    <!-- </div> -->
</main>

<footer>
</footer>

{% block modals %}
{% endblock %}

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/static/js/jquery.js"></script> -->
  <script src="/static/materialize/js/bin/materialize.min.js"></script>
  <script src="/static/medium_editor/js/medium-editor.min.js"></script>
  <script type="text/javascript" src="/static/materialize/js/init.js"></script>
  <script type="text/javascript" src="/static/js/dropzone.js"></script>
  
  <!-- Video.js -->
  <script src="http://vjs.zencdn.net/5.6.0/video.js"></script>

  <!-- Animated Modal -->
  <!-- Thanks: http://joaopereirawd.github.io/animatedModal.js/ -->
  <!--<script src="/static/js/animatedModal.min.js"></script>
  <script>
    $(".animated-image-modal").animatedModal();
  </script>-->

  <script type="text/javascript" src="/static/js/ajax.js"></script>
  <script type="text/javascript" src="/static/js/init.js"></script>
  <script type="text/javascript" src="/static/js/nonterritorial.js"></script>
  <script type="text/javascript" src="/static/js/ui.js"></script>

{% block script %}
{% endblock %}

  </body>
</html>
