<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts equivalent of isocpeur -->
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'>

  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <!-- Medium Editor -->
  <link rel="stylesheet" href="/static/medium_editor/css/medium-editor.min.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

<body>

<header>

</header>

<main>
{% block main %}
      
      <div id="main-content" class="center">
        <div class="">
          <div id="fp-map-container" class="">

            <div id="fp-map"></div>

          </div>
        </div>
      </div>

      <div id="side-menu" class="no-margin">

        <div id="crosshair-tl"></div>
        <div id="crosshair-tr"></div>
        <div id="crosshair-bl"></div>
        <div id="crosshair-br"></div>

        <div class="menu-container valign-wrapper">

            <span class="fixed-logo"><a href="/" class="no-style">Nonterritorial</a></span>

          <div id="avionics-container" class="valign">

            <div id="menuContentBody" class="content-menu-body">
              <div id="">
                <div class="row">
                  <div class="col s12">
                    <div class="menu-item uppercase">
                      <span class="sliding-u-l-r sliding-vertical-menu-trigger">Ideas</span>
                    </div>
                      {% if userObj %}
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                              <a href="/me" class="no-style">{{userObj.username}}</a>
                          </span>
                        </div>
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                              <a href="/logout" class="no-style">Logout</a>
                          </span>
                        </div>
                      {% else %}
                        <div class="menu-item uppercase">
                          <span class="sliding-u-l-r">
                              <a href="/login" class="no-style">Login</a>
                          </span>
                        </div>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <div class="content-menu-footer">
              <div id="statsContainer">
                <div class="row">
                  <div class="col s6">
                    <div>
                      <a id="ideaLink" href="#" target="_blank">
                        <span id="ideaName"></span>
                      </a>
                    </div>
                    <div class="row">
                      <div class="col s12 right-align">
                        <div>
                          STATUS: <span id="ideaStatus" style="text-transform:uppercase;"></span>
                        </div>
                        <div>
                          #<span id="ideaNumber"></span>
                        </div>
                        <div>
                          LAT: <span id="ideaLat"></span>
                        </div>
                        <div>
                          LNG: <span id="ideaLng"></span>
                        </div>
                        <div>
                          HEADING: <span id="ideaHeading" style="font-size: 0.8rem;"></span>
                        </div>
                        <div>
                          ETA: <span id="ideaETA" style="font-size: 0.8rem;"></span>
                        </div>
                      </div>
                      <div class="col s12 right-align">
                        <div id="closeInfo" style="cursor: pointer;">HIDE</div>
                      </div>
                    </div>
                  </div>
                  <div class="col s6">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    <!-- </div> -->

{% endblock %}

</main>

<footer>
</footer>

{% block modals %}
{% endblock %}

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/static/js/jquery.js"></script> -->
  <script src="/static/materialize/js/bin/materialize.min.js"></script>
  <script src="/static/medium_editor/js/medium-editor.min.js"></script>
  <script type="text/javascript" src="/static/materialize/js/init.js"></script>
  <!-- MAterialize js additions & hacks -->
  <script type="text/javascript" src="/static/materialize/js/sideNav.js"></script>
  <script type="text/javascript" src="/static/js/dropzone.js"></script>

  <script type="text/javascript" src="/static/js/ajax.js"></script>
  <script type="text/javascript" src="/static/js/init.js"></script>
  <script type="text/javascript" src="/static/js/ui.js"></script>

{% block script %}
  <script type="text/javascript" src="/static/js/gmaps-homepage.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug&libraries=geometry&callback=initMap">
  </script>
{% endblock %}

  </body>
</html>
