<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Animate.css -->
  <link rel="stylesheet" href="/static/css/animate.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

<body>

<header>

</header>

<main>
{% block main %}
      
      <style>
      .embed-container { 
        /*position: relative; 
        padding-bottom: 56.25%; 
        height: 0; 
        overflow: 
        hidden; 
        max-width: 100%; 
        height: 100vh; */

        position: relative;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: 100vh;
        text-align: center;
        } 
        .embed-container iframe, .embed-container object, .embed-container embed { 
          position: absolute; 
          top: 0; 
          left: 0; 
          width: 100%; 
          height: 100%; 
        }
        #nonterritorial {
          -o-transition: all 10s; /* Safari */
          -ms-transition: all 10s; /* Safari */
          -moz-transition: all 10s; /* Safari */
          -webkit-transition: all 10s; /* Safari */
          transition: all 10s;
          position: absolute;
          top: 0px;
          background-color: rgba(0,0,0,1);
          text-align:center;
          width: 100%;
          height:100vh;
        }
        #nonterritorial #nonterritorial-title {
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto;
          height:2rem;
        }

        #nonterritorial #nonterritorial-notify {
          position: absolute;
          bottom: 20px;
          right: 20px;
          height:2rem;
          color: inherit;
        }
        #nonterritorial #nonterritorial-notify {
          position: absolute;
          bottom: 20px;
          right: 20px;
          height:2rem;
          color: inherit;
        }

    </style>
    <!--<div class='embed-container'>
    <iframe src='https://player.vimeo.com/video/11712103' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div> -->

  <div class='embed-container'>
    <iframe id="vimeo_bg" src="https://player.vimeo.com/video/99483135?title=0&byline=0&portrait=0&background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <div id="nonterritorial">
    <span id="nonterritorial-title">
      nonterritorial
    </span>
    <span class="fixed-logo"><a href="/" class="no-style">Nonterritorial</a></span>
  </div>

  <span class="fixed-logo"><a href="/" class="no-style">Nonterritorial</a></span>

{% endblock %}

</main>

<footer>
</footer>

{% block modals %}
  
  <div id="notify-modal" class="modal">
      <div class="modal-content">
        <p id="">Your email</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
  </div>

{% endblock %}

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/materialize/js/bin/materialize.min.js"></script>
  <script type="text/javascript" src="/static/materialize/js/init.js"></script>

{% block script %}
  
  <script type="text/javascript">
    
    function fadeIn(){
        setTimeout(function(){
          console.log("sun, loaded...");
          $("#nonterritorial").css("background-color", "rgba(0,0,0,0.2)");

        }, 2000);
    };

    $(function(){
      fadeIn();
    });

  </script>

{% endblock %}

  </body>
</html>




