{% extends "index.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">

			<form method="post" action="https://storage.googleapis.com/{{ form_bucket }}" enctype="multipart/form-data">
			    <input type="hidden" id="key" name="key" value="images/test.png">
			    <input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
			    <input type="hidden" name="acl" value="{{ form_acl }}">
			    <input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
			    <input type="hidden" name="success_action_status" value="201">
			    <input type="hidden" name="policy" value="{{ form_policy }}">
			    <input type="hidden" name="signature" value="{{ form_signature }}">
			    <input name="file" type="file">
			    <input type="submit" value="Upload">
			</form>

		</div>
	</div>

	<div class="row">
		<div method="post" action="" class="col s12">

			<form id="gcs-form" enctype="multipart/form-data">
				<input name="file" type="file">
			    <input type="submit" value="Upload">
			</form>

		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col s12">
			<form action="https://storage.googleapis.com/{{ form_bucket }}" method="post" enctype="multipart/form-data">
				<input type="text" name="key" value="test.jpg">
				<input type="hidden" name="bucket" value="{{ form_bucket }}">
				<input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
				<input type="hidden" name="acl" value="{{ form_acl }}">
				<input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
				<input type="hidden" name="success_action_status" value="201">
				<input type="hidden" name="policy" value="{{ form_policy }}">
				<input type="hidden" name="signature" value="{{ form_signature }}">

				<input name="file" type="file">
				<input type="submit" value="Upload">
			</form>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col s12">

			<form method="post" action="https://www.googleapis.com/upload/storage/v1/b/{{ form_bucket }}/o?uploadType=media&name=myObject" enctype="multipart/form-data">

				<input name="file" type="file">
				<input type="submit" value="Upload">

			</form>

		</div>
	</div>


{% endblock %}

{% block script %}

	<script type="text/javascript">
		$("body").on("submit", "#gcs-form", function(e){

			e.preventDefault();

			$.ajax({
				url: "/get_upload_url",
				type:"get",
				success: uploadFile,
			}).fail(function(){
				alert("something went wrong");
			});

			function uploadFile(data){

				if ( data["message"] == "success" ){

					function success_fn(gcsData){
						console.log("gcsData", gcsData);
					};

					var formData = new FormData($("#gcs-form"));

					console.log(data["url"]);

					$.ajax({
					      url: data["url"],
					      type: "post",
					      data: formData,
					      
					      // THIS MUST BE DONE FOR FILE UPLOADING
					      contentType: false,
					      processData: false,
					      
					      success: success_fn
				  	}).fail(function(){
					    console.log("failed to upload")
				  	});

				};

			};

		});
	</script>

{% endblock %}


