{% extends "slideshow/slideshow-index-single-column-full-width.html" %}

{% block style %}
	<style>
    /* a style sheet needs to be present for cursor hiding and custom cursors to work. */
      #canvas {
        width: 100%;
        height: 100%;
      }
      #unity-loader {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        height: 3rem;
        width: 3rem;
      }
    </style>
{% endblock %}


{% block content %}

	<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>

    <div id="unity-loader" class="preloader-wrapper active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
    </div>

    <div id="unity_explainer">AN AIRSPACE OF IDEAS <img src="/static/img/vector.png"></div>

{% endblock %}

{% block zoomInBtn %}
{% endblock %}
{% block zoomOutBtn %}
{% endblock %}

{% block positionMenuItem %}
  {% if gallery %}
      <li><a href="/gallery/map/{{gallery.flightCode}}">{{gallery.username}}</a></li>
    {% endif %}
  <li><a href="/">Nonterritorial</a></li>
{% endblock %}



{% block script %}
	
    <script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: 536870912,
    errorhandler: null,     // arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "/static/unity/Release/FlightRadarWeb.data",
    codeUrl: "/static/unity/Release/FlightRadarWeb.js",
    memUrl: "/static/unity/Release/FlightRadarWeb.mem",
  };
</script>
<script src="/static/unity/Release/UnityLoader.js"></script>
<script type='text/javascript'>

    /*var data = '{"landingPermissionsAccepted": 0, "results": [{"category": "artist", "from": "Paris", "latTO": 48.856614, "takeOffDate": "April 07, 2016", "description": "", "artist": "Parreno", "number": "PPA", "landingDate": "May 02, 2016", "flightNumber": "001", "to": "Ordos", "lngLD": 109.781327, "latLD": 39.608266, "lngTO": 2.3522219, "slug": "hypothesis", "name": "HYPOTHESIS"}, {"category": "airport", "from": "", "latTO": 2.7545552999999998, "takeOffDate": null, "description": "", "artist": "Airport", "number": "Kuala_Lumpur", "landingDate": null, "flightNumber": "001", "to": "-", "lngLD": null, "latLD": null, "lngTO": 101.701464, "slug": "site-specific-zone", "name": "Site specific zone "}, {"category": "artist", "from": "Albarrac\u00edn", "latTO": 40.407558100000003, "takeOffDate": null, "description": "", "artist": "esterhuizen", "number": "EES", "landingDate": null, "flightNumber": "015", "to": "-", "lngLD": null, "latLD": null, "lngTO": -1.4438759999999999, "slug": "testing", "name": "testing"}, {"category": "freeport", "from": "Ordos", "latTO": 39.608266, "takeOffDate": null, "description": "", "artist": "Freeport", "number": "Ordos", "landingDate": null, "flightNumber": "003", "to": "-", "lngLD": null, "latLD": null, "lngTO": 109.781327, "slug": "exhibition-space-in-a-ghost-building", "name": "Exhibition space in a \"ghost\" building"}, {"category": "artist", "from": "Paris", "latTO": 48.856614, "takeOffDate": null, "description": "", "artist": "Parreno", "number": "PPA", "landingDate": null, "flightNumber": "001", "to": "-", "lngLD": null, "latLD": null, "lngTO": 2.3522219, "slug": "hypothesis", "name": "HYPOTHESIS"}, {"category": "artist", "from": "Rio de Janeiro", "latTO": -22.906846699999999, "takeOffDate": null, "description": "", "artist": "Meireles", "number": "CME", "landingDate": null, "flightNumber": "001", "to": "-", "lngLD": null, "latLD": null, "lngTO": -43.1728965, "slug": "babel", "name": "Babel"}], "ideas": 0}';*/

    /*var data = '{"landingPermissionsAccepted": 0, "results": [{"category":"artist","from":"City","latTO":-58.648744,"takeOffDate":"2014-12-15","description":"","artist":"Artist Name","number":"FLT","landingDate":"2015-09-09","flightNumber":1,"to":"DESTINATION CITY","lngLD":159.37507,"latLD":47.435742,"lngTO":16.210598,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":85.064703,"takeOffDate":"2015-09-03","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-09-01","flightNumber":1,"to":"DESTINATION CITY","lngLD":-120.073596,"latLD":74.697057,"lngTO":-117.08223,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":19.856701,"takeOffDate":"2014-04-14","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-05-12","flightNumber":1,"to":"DESTINATION CITY","lngLD":22.660771,"latLD":62.411708,"lngTO":-175.021371,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":57.27083,"takeOffDate":"2014-09-12","description":"","artist":"Artist Name","number":"FLT","landingDate":"2015-12-21","flightNumber":1,"to":"DESTINATION CITY","lngLD":-53.571423,"latLD":-11.173813,"lngTO":-10.939288,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":17.949504,"takeOffDate":"2014-01-05","description":"","artist":"Artist Name","number":"FLT","landingDate":"2015-11-30","flightNumber":1,"to":"DESTINATION CITY","lngLD":-14.373322,"latLD":-6.282776,"lngTO":66.283384,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":20.273067,"takeOffDate":"2014-10-26","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-09-02","flightNumber":1,"to":"DESTINATION CITY","lngLD":64.274431,"latLD":-76.312571,"lngTO":41.912638,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":-84.58881,"takeOffDate":"2014-05-20","description":"","artist":"Artist Name","number":"FLT","landingDate":"2015-12-26","flightNumber":1,"to":"DESTINATION CITY","lngLD":-107.950664,"latLD":-78.784907,"lngTO":94.306366,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":89.880453,"takeOffDate":"2015-05-10","description":"","artist":"Artist Name","number":"FLT","landingDate":"2015-11-16","flightNumber":1,"to":"DESTINATION CITY","lngLD":109.945627,"latLD":-42.012387,"lngTO":-114.59318,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":48.565075,"takeOffDate":"2015-08-23","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-10-01","flightNumber":1,"to":"DESTINATION CITY","lngLD":177.77288,"latLD":51.791908,"lngTO":130.098346,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":-9.848278,"takeOffDate":"2015-02-12","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-02-02","flightNumber":1,"to":"DESTINATION CITY","lngLD":-56.748223,"latLD":-77.746614,"lngTO":-78.056044,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":-61.115955,"takeOffDate":"2014-08-08","description":"","artist":"Artist Name","number":"FLT","landingDate":"2016-03-19","flightNumber":1,"to":"DESTINATION CITY","lngLD":23.318372,"latLD":50.005516,"lngTO":51.843873,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":57.70687,"takeOffDate":"2015-12-19","description":"","artist":"Artist Name","number":"FLT","landingDate":"2016-03-17","flightNumber":1,"to":"DESTINATION CITY","lngLD":101.323405,"latLD":40.944285,"lngTO":-35.888017,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":47.676001,"takeOffDate":"2014-10-19","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-07-29","flightNumber":1,"to":"DESTINATION CITY","lngLD":-49.879493,"latLD":-71.14571,"lngTO":-133.369645,"slug":"idea-title","name":"IDEA TITLE"},{"category":"artist","from":"City","latTO":-21.800128,"takeOffDate":"2014-01-17","description":"","artist":"Artist Name","number":"FLT","landingDate":"2014-01-23","flightNumber":1,"to":"DESTINATION CITY","lngLD":-46.297095,"latLD":51.311485,"lngTO":146.692345,"slug":"idea-title","name":"IDEA TITLE"}], "ideas": 0}';*/

    var data = '{"results": [{"lngLD": 100.5017651, "lngTO": -80.1917902, "latLD": 13.7563309, "to": "Bangkok", "from": "Miami", "slug": "bouncing", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "Bouncing...", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MBE", "landingDate": "May 05, 2016", "flightNumber": "003"}, {"lngLD": 100.5017651, "lngTO": -0.1277583, "latLD": 13.7563309, "to": "Bangkok", "from": "London", "slug": "caught-in-the-middle", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Caught in the Middle", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MCA", "landingDate": "May 07, 2016", "flightNumber": "002"}, {"lngLD": 100.5017651, "lngTO": 139.7319925, "latLD": 13.7563309, "to": "Bangkok", "from": "", "slug": "haiku", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Haiku", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MFI", "landingDate": "June 07, 2016", "flightNumber": "002"}, {"lngLD": 100.5017651, "lngTO": 139.7319925, "latLD": 13.7563309, "to": "Bangkok", "from": "", "slug": "the-buddah-at-kamakura", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "The Buddah at Kamakura", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MFI", "landingDate": "July 07, 2016", "flightNumber": "001"}, {"lngLD": -73.7781391, "lngTO": 23.7293599, "latLD": 40.6413111, "to": "New York", "from": "Athens", "slug": "domino", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "Domino", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MDO", "landingDate": "May 18, 2016", "flightNumber": "003"}, {"lngLD": -73.7781391, "lngTO": 72.8776559, "latLD": 40.6413111, "to": "New York", "from": "Mumbai", "slug": "entymology", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Entymology", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MEM", "landingDate": "May 12, 2016", "flightNumber": "002"}, {"lngLD": -73.7781391, "lngTO": -0.1277583, "latLD": 40.6413111, "to": "New York", "from": "London", "slug": "cauterise", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Cauterise", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MCA", "landingDate": "June 12, 2016", "flightNumber": "003"}, {"lngLD": -73.7781391, "lngTO": -80.1917902, "latLD": 40.6413111, "to": "New York", "from": "Miami", "slug": "best-of-the-best", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "Best of the Best", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MBE", "landingDate": "July 12, 2016", "flightNumber": "002"}, {"lngLD": -21.8174393, "lngTO": 23.7293599, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "Athens", "slug": "donatello", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "Donatello", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MDO", "landingDate": "June 05, 2016", "flightNumber": "002"}, {"lngLD": -21.8174393, "lngTO": -0.1277583, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "London", "slug": "comatose", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Comatose", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MCA", "landingDate": "June 05, 2016", "flightNumber": "001"}, {"lngLD": -21.8174393, "lngTO": -80.1917902, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "Miami", "slug": "b-is-for-ball", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "B is for Ball", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MBE", "landingDate": "June 05, 2016", "flightNumber": "001"}, {"lngLD": -21.8174393, "lngTO": -43.1728965, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "Rio de Janeiro", "slug": "mr-a-idea-2", "artist": "Aardvark", "description": "", "latTO": -22.9068467, "name": "Mr A IDEA 2", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MAA", "landingDate": "May 05, 2016", "flightNumber": "002"}, {"lngLD": -21.8174393, "lngTO": 72.8776559, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "Mumbai", "slug": "enteritis", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Enteritis", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MEM", "landingDate": "May 02, 2016", "flightNumber": "003"}, {"lngLD": -21.8174393, "lngTO": 139.7319925, "latLD": 64.1265206, "to": "Reykjav\u00edk", "from": "", "slug": "neko-coneko", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Neko coNeko", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MFI", "landingDate": "April 02, 2016", "flightNumber": "004"}, {"lngLD": 109.781327, "lngTO": -43.1728965, "latLD": 39.608266, "to": "Ordos", "from": "Rio de Janeiro", "slug": "mr-a-idea-2", "artist": "Aardvark", "description": "", "latTO": -22.9068467, "name": "Mr A IDEA 2", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MAA", "landingDate": "May 01, 2016", "flightNumber": "002"}, {"lngLD": 109.781327, "lngTO": -43.1728965, "latLD": 39.608266, "to": "Ordos", "from": "Rio de Janeiro", "slug": "a-idea-3", "artist": "Aardvark", "description": "", "latTO": -22.9068467, "name": "A IDEA 3", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MAA", "landingDate": "May 05, 2016", "flightNumber": "003"}, {"lngLD": 109.781327, "lngTO": -0.1277583, "latLD": 39.608266, "to": "Ordos", "from": "London", "slug": "cauterise", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Cauterise", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MCA", "landingDate": "May 13, 2016", "flightNumber": "003"}, {"lngLD": 109.781327, "lngTO": 72.8776559, "latLD": 39.608266, "to": "Ordos", "from": "Mumbai", "slug": "ezra", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Ezra", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MEM", "landingDate": "May 13, 2016", "flightNumber": "001"}, {"lngLD": 109.781327, "lngTO": 139.7319925, "latLD": 39.608266, "to": "Ordos", "from": "", "slug": "the-buddah-at-kamakura", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "The Buddah at Kamakura", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MFI", "landingDate": "April 06, 2016", "flightNumber": "001"}, {"lngLD": 109.781327, "lngTO": 139.7319925, "latLD": 39.608266, "to": "Ordos", "from": "", "slug": "neko-coneko", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Neko coNeko", "takeOffDate": "April 15, 2016", "category": "artist", "number": "MFI", "landingDate": "June 06, 2016", "flightNumber": "004"}, {"lngLD": null, "lngTO": 139.7319925, "latLD": null, "to": "-", "from": "", "slug": "neko-coneko", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Neko coNeko", "takeOffDate": null, "category": "artist", "number": "MFI", "landingDate": null, "flightNumber": "004"}, {"lngLD": null, "lngTO": 139.7319925, "latLD": null, "to": "-", "from": "", "slug": "meido-kissaten", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Meido Kissaten", "takeOffDate": null, "category": "artist", "number": "MFI", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": 139.7319925, "latLD": null, "to": "-", "from": "", "slug": "haiku", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "Haiku", "takeOffDate": null, "category": "artist", "number": "MFI", "landingDate": null, "flightNumber": "002"}, {"lngLD": null, "lngTO": 139.7319925, "latLD": null, "to": "-", "from": "", "slug": "the-buddah-at-kamakura", "artist": "Fitzgerald", "description": "", "latTO": 35.7090259, "name": "The Buddah at Kamakura", "takeOffDate": null, "category": "artist", "number": "MFI", "landingDate": null, "flightNumber": "001"}, {"lngLD": null, "lngTO": 72.8776559, "latLD": null, "to": "-", "from": "Mumbai", "slug": "etymology", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Etymology", "takeOffDate": null, "category": "artist", "number": "MEM", "landingDate": null, "flightNumber": "004"}, {"lngLD": null, "lngTO": 72.8776559, "latLD": null, "to": "-", "from": "Mumbai", "slug": "enteritis", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Enteritis", "takeOffDate": null, "category": "artist", "number": "MEM", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": 72.8776559, "latLD": null, "to": "-", "from": "Mumbai", "slug": "entymology", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Entymology", "takeOffDate": null, "category": "artist", "number": "MEM", "landingDate": null, "flightNumber": "002"}, {"lngLD": null, "lngTO": 72.8776559, "latLD": null, "to": "-", "from": "Mumbai", "slug": "ezra", "artist": "Empathetic", "description": "", "latTO": 19.0759837, "name": "Ezra", "takeOffDate": null, "category": "artist", "number": "MEM", "landingDate": null, "flightNumber": "001"}, {"lngLD": null, "lngTO": 23.7293599, "latLD": null, "to": "-", "from": "Athens", "slug": "dough", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "Dough", "takeOffDate": null, "category": "artist", "number": "MDO", "landingDate": null, "flightNumber": "004"}, {"lngLD": null, "lngTO": 23.7293599, "latLD": null, "to": "-", "from": "Athens", "slug": "domino", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "Domino", "takeOffDate": null, "category": "artist", "number": "MDO", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": 23.7293599, "latLD": null, "to": "-", "from": "Athens", "slug": "donatello", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "Donatello", "takeOffDate": null, "category": "artist", "number": "MDO", "landingDate": null, "flightNumber": "002"}, {"lngLD": null, "lngTO": 23.7293599, "latLD": null, "to": "-", "from": "Athens", "slug": "macdonald", "artist": "Donald", "description": "", "latTO": 37.983917, "name": "MacDonald", "takeOffDate": null, "category": "artist", "number": "MDO", "landingDate": null, "flightNumber": "001"}, {"lngLD": null, "lngTO": -0.1277583, "latLD": null, "to": "-", "from": "London", "slug": "cauterise", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Cauterise", "takeOffDate": null, "category": "artist", "number": "MCA", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": -0.1277583, "latLD": null, "to": "-", "from": "London", "slug": "caught-in-the-middle", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Caught in the Middle", "takeOffDate": null, "category": "artist", "number": "MCA", "landingDate": null, "flightNumber": "002"}, {"lngLD": null, "lngTO": -0.1277583, "latLD": null, "to": "-", "from": "London", "slug": "comatose", "artist": "Caterwaul", "description": "", "latTO": 51.5073509, "name": "Comatose", "takeOffDate": null, "category": "artist", "number": "MCA", "landingDate": null, "flightNumber": "001"}, {"lngLD": null, "lngTO": -80.1917902, "latLD": null, "to": "-", "from": "Miami", "slug": "bouncing", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "Bouncing...", "takeOffDate": null, "category": "artist", "number": "MBE", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": -80.1917902, "latLD": null, "to": "-", "from": "Miami", "slug": "best-of-the-best", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "Best of the Best", "takeOffDate": null, "category": "artist", "number": "MBE", "landingDate": null, "flightNumber": "002"}, {"lngLD": null, "lngTO": -80.1917902, "latLD": null, "to": "-", "from": "Miami", "slug": "b-is-for-ball", "artist": "Beatie", "description": "", "latTO": 25.7616798, "name": "B is for Ball", "takeOffDate": null, "category": "artist", "number": "MBE", "landingDate": null, "flightNumber": "001"}, {"lngLD": null, "lngTO": -43.1728965, "latLD": null, "to": "-", "from": "Rio de Janeiro", "slug": "a-idea-3", "artist": "Aardvark", "description": "", "latTO": -22.9068467, "name": "A IDEA 3", "takeOffDate": null, "category": "artist", "number": "MAA", "landingDate": null, "flightNumber": "003"}, {"lngLD": null, "lngTO": -43.1728965, "latLD": null, "to": "-", "from": "Rio de Janeiro", "slug": "mr-a-idea-2", "artist": "Aardvark", "description": "", "latTO": -22.9068467, "name": "Mr A IDEA 2", "takeOffDate": null, "category": "artist", "number": "MAA", "landingDate": null, "flightNumber": "002"}], "ideas": 0, "landingPermissionsAccepted": 0}';


     function FlightRadarLoaded()
    {
        console.log("FlightRadarLoaded called.");
        //SendMessage ('MainControllers', 'HideColouredClouds', '');
        $("#unity-loader").addClass("hidden");
        SendMessage("MainControllers", "UpdateVectorData", data);
    }
    function FlightRadarDefaultDataLoaded()
    {
        console.log("FlightRadarDefaultDataLoaded called.");
    }
    function VectorSelected(vectId)
    {
        //alert("VectorSelected, ID: " + vectId);
        console.log("vectId", vectId);
    }

    /*document.addEventListener("DOMContentLoaded", function(event) {
      SendMessage("MainControllers", "UpdateVectorData", data);
    });*/

    </script>

<!-- 


sing a higher resolution, it looks a lot sharper now. It scales automatically in Firefox, in Safari I have to zoom out, but I guess you can scale it in the layout. If it is a problem, I can build in any resolution.
Using a mercator map. I couldn't find one with country lines, but we have to find a better solution for the map later anyways
Default data is imported from http://nonterritorial-dev.appspot.com/api/getIdeas . That means that when the WebGL player is loaded, it reads the JSON string from this URL
The data is displayed as flying vectors and clouds 
Vectors are correctly projected. It took a lot of math, but now they describe sweet curves and take the projected geodesic path. A lot of flying vectors go to the center, that's because a lot of the latitudes and longitudes in the results have null values. I write 0's, but when the data is correct, all vector will have a correct route
Clouds are also projected correctly, and they correspond to the places where the are landed, flying and waiting to fly vectors. The data does not include this information, and I'm using arbitrary information. But, if you add a field "status" to the results in the JSON string, which can take the values "Landed", "Flying" or "Waiting"; the clouds will show the correct colouring
There are some functions you can call from JS using "SendMessage" which should be included in the build scripts:
SendMessage ('MainControllers', 'UpdateVectorData’, ‘data in json string’);

SendMessage ('MainControllers', 'ShowColouredClouds', '');

SendMessage ('MainControllers', 'HideColouredClouds', '');

SendMessage ('MainControllers', 'ShowVectors', '');

SendMessage ('MainControllers', 'HideVectors', '');



If those with an empty string as third parameter fail, try completely eliminating the parameter (e.g. 

SendMessage ('MainControllers', 'ShowColouredClouds') ).


You can find more info here:

http://docs.unity3d.com/Manual/webgl-interactingwithbrowserscripting.html



As you can see, you can now update the data after loading, just call UpdateVectorData and put the JSON string as the third parameter. Do this after default data was loaded (see next point)
Also, there are functions calling JS from the WebGL view:
function FlightRadarLoaded ();

function FlightRadarDefaultDataLoaded ();


I defined them in index.html, and just put an alert to assert they are working. Of course you should overwrite them

Clouds and vectors shouldn't be displayed simultaneously, it is too much. I display them together at the beginning now, will be fixed afterwards
I tried the URL where you put the old build on mobile and it worked! I added some big init calculations for the clouds now, it might not work that well in mobile anymore

 -->






{% endblock %}