{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>Ideas</h2>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<table class="">
		        <thead>
		          <tr>
		              <th data-field="title">Title</th>
		              <th data-field="artist">Artist</th>
		              <th data-field="in_flight">In Flight</th>
		              <th data-field="approve">Approve</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for idea in ideas %}
		          	<tr>
			            <td><a href="/idea/{{idea.flightCode}}/{{idea.slug}}" target="_blank">{{idea.title}}</a></td>
			            <td><a href="/u/{{idea.username}}">{{idea.surname}}</a></td>
			            <td>{{idea.inFlight}}</td>
			            <td>
			            	{% if idea.approved %}
		            			<input id="approved-{{idea.key.id}}" type="checkbox" checked="checked" class="admin-approve-idea" value="{{idea.key.id()}}"></input>
		            			<label for="approved-{{idea.key.id}}"></label>
			            	{% else %}
		            			<input id="approved-{{idea.key.id}}" type="checkbox" class="admin-approve-idea" value="{{idea.key.id()}}"></input>
		            			<label for="approved-{{idea.key.id}}"></label>
			            	{% endif %}
			            </td>
		          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
	      			<a class="btn" href="admin/ideas?cursor={{next_curs}}">Next Page</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>

{% endblock %}

{% block modals %}

{% endblock %}


{% block script %}

	<script type="text/javascript">

		$("body").on("click", ".admin-approve-idea", function(){
			var $this = $(this);
			var ideaID = $this.val();

			console.log("ideaID", ideaID);

			function success(data){
				console.log(data);
			};

			if ( $this.is(":checked") ){
				$.ajax({
					url: "/admin/approve-idea",
					type: "post",
					data:{ ideaID: ideaID},
					success: success
				}).fail(function(){
					console.log("failed to approve idea");
				});
			}else{
				$.ajax({
					url: "/admin/unapprove-idea",
					type: "post",
					data:{ ideaID: ideaID},
					success: success
				}).fail(function(){
					console.log("failed to un-approve idea");
				})
			};

		});


	</script>

{% endblock %}









