{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>User Applications</h2>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<table class="bordered">
		        <thead>
		          <tr>
		              <th data-field="username">Username</th>
		              <th data-field="accept-reject">Accept / Reject</th>
		              <th data-field="email">Email</th>
		              <th data-field="userType">Current User Type</th>
		              <th data-field="application">Applying for</th>
		              <th data-field="approve">Approve</th>
		              <th data-field="reject">Reject</th>
		              <th data-field="globalCurator">Global Curator</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for application in applications %}
		          	<tr>
			            <td><a href="/user/{{application.username}}" target="_blank">{{application.username}}</a></td>
			            <td>
			            	<span id="accept-reject-{{application.key.id()}}">
			            	{% if application.accept %}
			            		Approved
			            	{% elif application.reject %}
			            		Rejected
		            		{% else %}
		            			Unfinished
			            	{% endif %}
			            	</span>
			            </td>
			            <td>{{application.email}}</td>
			            <td>
			            	<span id="user-type-{{application.key.id()}}">{{application.userType}}</span>
			            </td>
			            <td>{{application.application}}</td>
			            <td> 
			            	<button id="accept-{{application.key.id()}}" class="btn accept-button" data-app-id="{{application.key.id()}}">
			            		Accept
			            	</button> 
			            </td>
			            <td> 
			            	<button id="reject-{{application.key.id()}}" class="btn reject-button" data-app-id="{{application.key.id()}}">
			            		Reject
			            	</button> 
			            </td>
		          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
	      			<a class="btn" href="admin/users?cursor={{next_curs}}">Next Page</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>

{% endblock %}

{% block modals %}

  	<div id="applicationHandled" class="modal">
	    <div class="modal-content">
	      <h4>Application Handled</h4>
	      <p>You can further modify applications in the <a href="/admin/users">User Management</a> section</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}


{% block script %}

	<script type="text/javascript">

		$("body").on("click", ".accept-button", function(){
			var $this = $(this);

			function successAccept(data){
				console.log("accepted");
				if ( data["message"] == "success" ){
					$("#accept-reject-"+$this.data("app-id")).text("Approved");
					$("#user-type-"+$this.data("app-id")).text(data["userType"]);
					$("#accept-"+$this.data("app-id")).addClass('disabled');
					$("#reject-"+$this.data("app-id")).addClass('disabled');
				};
			};

			if ( $this.hasClass("disabled") ){
				$('#applicationHandled').openModal();
			}else{
				$.ajax({
					url: "/admin/applications",
					type: "post",
					data: {"verdict": "accept", "applicationID": $this.data("app-id")},
					success: successAccept
				}).fail(function(){
					alert("something went wrong");
				});
			};
		});

		$("body").on("click", ".reject-button", function(){
			var $this = $(this);

			function successReject(data){
				console.log("rejected");
				if ( data["message"] == "success" ){
					$("#accept-reject-"+$this.data("app-id")).text("Rejected");
					$("#user-type-"+$this.data("app-id")).text(data["userType"]);
					$("#accept-"+$this.data("app-id")).addClass('disabled');
					$("#reject-"+$this.data("app-id")).addClass('disabled');
				};
			};

			if ( $this.hasClass("disabled") ){
				$('#applicationHandled').openModal();
			}else{
				$.ajax({
					url: "/admin/applications",
					type: "post",
					data: {"verdict": "reject", "applicationID": $this.data("app-id")},
					success: successReject
				}).fail(function(){
					alert("something went wrong");
				});
			};

		});

	</script>

{% endblock %}









