{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>Messages</h2>
		</div>
	</div>

	<div class="row">
		{% for message in messages %}
		<div id="message-{{message.key.id()}}" class="col s12 card">
			<div class="card-content">
				<h4 style="margin-bottom: 0rem;">{{message.name}}</h4>
				<div>
					Reply to: <a href="mailto:{{message.email}}">{{message.email}}</a>
				</div>
				<p>{{message.message}}</p>
				<div>{{message.created|dash_date}}</div>
				<div class="right-align">
					<button type="button" class="btn-flat delete-message" data-id="{{message.key.id()}}">
              			DELETE
              		</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	{% if next_curs %}
	<div class="row">
		<div class="col s12">
			<a href="/admin/messages?cursor={{next_curs}}">Older</a>
		</div>
	</div>
	{% endif %}
	
	

{% endblock %}

{% block script %}

	<script type="text/javascript">
		$('body').on('click', '.delete-message', function(){
			var $this = $(this);
			var messageID = $this.data("id");

			function success(){
				$("#message-"+messageID).remove();
				Materialize.toast('Message deleted.', 2000);
			};

			$.ajax({
				url: "/admin/message/delete/"+messageID,
				type: "post",
				success: success
			}).fail(function(){
				Materialize.toast('Something went wrong', 4000);
			});
		});
	</script>

{% endblock %}


