{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>Flights</h2>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<table class="">
		        <thead>
		          <tr>
		              <th data-field="title">Title</th>
		              <th data-field="artist">Artist</th>
		              <th data-field="port">Port</th>
		              <th data-field="origin">Origin</th>
		              <th data-field="destination">Destination</th>
		              <th data-field="approve">Approve</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for flight in flights %}
		          	<tr>
			            <td><a href="/idea/{{flight.flightCode}}/{{flight.slug}}" target="_blank">{{flight.title}}</a></td>
			            <td><a href="/u/{{flight.flightCode}}">{{flight.flightCode}} {{flight.surname}}</a></td>
			            <td><a href="#">{{flight.userFlightCode}}</a></td>
			            <td>{{flight.takeOffLocality}} {{flight.takeOffCountry}}</td>
			            <td>{{flight.landingLocality}} {{flight.landingCountry}}</td>
			            <td>
			            	{% if flight.approved %}
		            			<input id="approved-{{flight.key.id}}" type="checkbox" checked="checked" class="admin-approve-flight" value="{{flight.key.id()}}"></input>
		            			<label for="approved-{{flight.key.id}}"></label>
			            	{% else %}
		            			<input id="approved-{{flight.key.id}}" type="checkbox" class="admin-approve-flight" value="{{flight.key.id()}}"></input>
		            			<label for="approved-{{flight.key.id}}"></label>
			            	{% endif %}
			            </td>
		          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
	      			<a class="btn" href="admin/flights?cursor={{next_curs}}">Next Page</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>

{% endblock %}

{% block modals %}

{% endblock %}


{% block script %}

	<script type="text/javascript">

		$("body").on("click", ".admin-approve-flight", function(){
			var $this = $(this);
			var flightID = $this.val();

			console.log("flightID", flightID);

			function success(data){
				console.log(data);
			};

			if ( $this.is(":checked") ){
				$.ajax({
					url: "/admin/approve-flight",
					type: "post",
					data:{ flightID: flightID},
					success: success
				}).fail(function(){
					console.log("failed to approve flight");
				});
			}else{
				$.ajax({
					url: "/admin/unapprove-flight",
					type: "post",
					data:{ flightID: flightID},
					success: success
				}).fail(function(){
					console.log("failed to un-approve flight");
				})
			};

		});


	</script>

{% endblock %}









