<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Nonterritorial</title>

  {% block seo_description %}

  <!-- SEO stuff -->
  <!-- <link href="http://nonterritorial.net/" rel="canonical" /> -->

  <meta name="description" content="Nonterritorial, the experience">

  <!-- Social -->
  <meta property="og:title" content="Nonterritorial" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://nonterritorial.net/" />

  {% endblock %}

  <!-- Fonts -->
  <link rel="stylesheet" href="/static/font/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google fonts equivalent of isocpeur -->
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,700,300' rel='stylesheet' type='text/css'>


  <!-- favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.png" />

  <!-- CSS  -->
  <link href="/static/materialize/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-73031613-1', 'auto');
    ga('send', 'pageview');
  </script>

  {% block style %}
  {% endblock %}

</head>

<body>

<header>

    <ul id="slide-out" class="side-nav">
      <li><a href="/admin">Admin</a></li>
      <li><a href="/admin/messages">Messages</a></li>
      <li><a href="/admin/users">Manage Users</a></li>
      <li><a href="/admin/applications">Manage Applications</a></li>
      <li><a href="/admin/ideas">Manage Ideas</a></li>
      <li><a href="/admin/flights">Manage Flights</a></li>
      <li><a href="/admin/static-pages">Static Pages</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>

</header>

<main class="container">
{% block main %}

  <div class="row">
  	
  	<div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Users</span>
              <p>{{counter.allUsers}}</p>
            </div>
            <div class="card-action">
              <a class="" href="/admin/users">Manage Users</a>
            </div>
      	</div>
  	</div>

    <!-- <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Applications</span>
              <p>{{counter.applications}}</p>
            </div>
            <div class="card-action">
              <a class="" href="/admin/applications">Manage Applications</a>
            </div>
        </div>
    </div> -->

  	<div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Ideas</span>
              <p>{{counter.ideas}}</p>
            </div>
            <div class="card-action">
              <a class="" href="/admin/ideas">Manage Ideas</a>
            </div>
      	</div>
  	</div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Flights</span>
              <p>{{counter.flights}}</p>
            </div>
            <div class="card-action">
              <a class="" href="/admin/flights">Manage Flights</a>
            </div>
        </div>
    </div>

  	<!-- <div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Landing Requests</span>
              <p>{{counter.landingRequests}}</p>
            </div>
            <div class="card-action">
              <a class="" href="#">Manage Flight Auth Requests</a>
            </div>
      	</div>
  	</div> -->

  	<!-- <div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Landing Permissions Granted</span>
              <p>{{counter.landingPermissions}}</p>
            </div>
            <div class="card-action">
              <a class="" href="#">Manage Landing Permissions</a>
            </div>
      	</div>
  	</div> -->

  	<!-- <div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Expired Flight Permissions</span>
              <p>View a list of expired Flight Permissions</p>
            </div>
            <div class="card-action">
              <a class="" href="#">View Expired Flight Permissions</a>
            </div>
      	</div>
  	</div> -->

  </div>

  <div class="row">
    <div class="col s12">

      <form id="tagForm" method="post" action="/admin/save-tags">

        <div class="row">
          <div class="input-field col s6">
            <input placeholder="eg. sonic, visual, sculpture" id="tags" type="text" name="tags">
            <label for="tags">Add a tag ( comma separated )</label>
          </div>
        </div>

        <button type="submit" class="btn"> Add Tag </button>

      </form>

      <div class="row">
        <div id="tagList" class="col s12">
          {% for tag in tags %}
            <div class="chip">
              {{tag.tag}}
              <i class="material-icons delete-tag" data-tag-id="{{tag.key.id()}}">close</i>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
    

{% endblock %}
</main>

<footer>
</footer>

{% block modals %}
{% endblock %}

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/static/materialize/js/bin/materialize.min.js"></script>
  <script type="text/javascript" src="/static/materialize/js/init.js"></script>
  <script type="text/javascript" src="/static/js/ajax.js"></script>
  <script type="text/javascript" src="/static/js/nonterritorial.js"></script>

{% block script %}
{% endblock %}

  </body>
</html>
