{% extends "users/admin.html" %}

{% block main %}

<div class="row">

	 <div class="col s12 m6 l4">
  		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Introduction</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/introduction">Edit Introduction</a>
            </div>
      	</div>
  	</div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Artists</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/artists">Edit Artists</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Curators</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/curators">Edit Curators</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Collectors</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/collectors">Edit Collectors</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Submission</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/submission">Edit Submission</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Spaces</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/spaces">Edit Spaces</a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Terminology</span>
            </div>
            <div class="card-action">
              <a class="" href="/admin/static-page/terminology">Edit Terminology</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

	<script type="text/javascript">

	</script>

{% endblock %}








