{% extends "users/admin.html" %}

{% block main %}

	<div class="row">
		<div class="col s12">
			<h2>Users</h2>
		</div>
	</div>
	
	<div class="row">
		
		<div class="col s12 m6">
			
			<a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='userFilter'>Filter Users</a>
		  	<!-- Dropdown Structure -->
		  	<ul id='userFilter' class='dropdown-content'>
			    <li><a href="/admin/users">All Users</a></li>
			    <li><a href="/admin/users?filterType=artist">Artists</a></li>
			    <li><a href="/admin/users?filterType=freeport">Freeport</a></li>
			    <li><a href="/admin/users?filterType=airport">Airport</a></li>
			    <li><a href="/admin/users?filterType=collector">Collector</a></li>
			    <li><a href="/admin/users?filterType=curator">Curator</a></li>
			    <li><a href="/admin/users?filterType=casual">Spectator</a></li>
		  	</ul>

		</div>

		<div class="col s12 m6">
			
			<form method="get" action="/admin/users">
				<div class="row">
					<div class="col s12">
						<input class="inline-input-70" type="text" name="filterSearch" placeholder="Search for a user by Name, username or email">
						<button class="btn">Search</button>
					</div>
				</div>
			</form>

		</div>

	</div>

	<div class="row">
		<div class="col s12">
			<table class="">
		        <thead>
		          <tr>
		              <th data-field="username">Username</th>
		              <th data-field="name">Name</th>
		              <th data-field="surname">Surname</th>
		              <th data-field="userType">User Type</th>
		              <th data-field="sonic">Sonic User</th>
		              <th data-field="flightCode">Flight Code</th>
		              <th data-field="email">Email</th>
		              <th data-field="approve">Approve</th>
		              <th data-field="upgrade">Upgrade</th>
		              <th data-field="location">Location</th>
		              <th data-field="del_user">Delete User</th>
		          </tr>
		        </thead>

		        <tbody>
		        	{% for user in users %}
		          	<tr id="user-row-{{user.key.id()}}">
			            <td>{{user.username}}</td>
			            <td>{{user.name}}</td>
			            <td>{{user.surname}}</td>
			            <td>
			            	{{user.userType}}
			            	{% if user.userType == "artist" %}
			            		{% if user.portfolio %}
			            			<a href="{{user.portfolio}}" target="_blank">link</a>
			            		{% else %}
			            			no link
			            		{% endif %}
			            	{% endif %}
		            	</td>
		            	<td>
		            		{% if user.isSonic %}
		            			<input id="sonic-{{user.key.id}}" type="checkbox" checked="checked" class="admin-make-sonic" value="{{user.key.id()}}"></input>
		            			<label for="sonic-{{user.key.id}}"></label>
			            	{% else %}
		            			<input id="sonic-{{user.key.id}}" type="checkbox" class="admin-make-sonic" value="{{user.key.id()}}"></input>
		            			<label for="sonic-{{user.key.id}}"></label>
			            	{% endif %}
		            	</td>
			            <td>{{user.flightCode}}</td>
			            <td>{{user.email}}</td>
			            <td>
			            	{% if user.approved %}
			            		<!-- <div class="input-field"> -->
			            			<input id="approved-{{user.key.id}}" type="checkbox" checked="checked" class="admin-approve-user" value="{{user.key.id()}}"></input>
			            			<label for="approved-{{user.key.id}}"></label>
			            		<!-- </div> -->
			            	{% else %}
			            		<!-- <div class="input-field"> -->
			            			<input id="approved-{{user.key.id}}" type="checkbox" class="admin-approve-user" value="{{user.key.id()}}"></input>
			            			<label for="approved-{{user.key.id}}"></label>
			            		<!-- </div> -->
			            	{% endif %}
			            </td>
			            <td>
			            	{% if user.userType == 'artist' or user.userType == "gallery" and not user.isGallery %}
				            	{% if user.upgraded %}
			            			<input id="upgraded-{{user.key.id}}" type="checkbox" checked="checked" class="admin-upgrade-user" value="{{user.key.id()}}"></input>
			            			<label for="upgraded-{{user.key.id}}"></label>
				            	{% else %}
			            			<input id="upgraded-{{user.key.id}}" type="checkbox" class="admin-upgrade-user" value="{{user.key.id()}}"></input>
			            			<label for="upgraded-{{user.key.id}}"></label>
				            	{% endif %}
			            	{% else %}
			            		- 
			            	{% endif %}
			            </td>
			            <td>{{user.locality}}, {{user.country}}</td>
			            <td>
			            	<button type="button" class="btn delete-user" data-userid="{{user.key.id()}}">Delete</button>
			            </td>
		          	</tr>
		          	{% endfor %}
		        </tbody>
	      	</table>

	      	{% if next_curs %}
	      	<div class="row">
	      		<div class="col s12">
	      			<a class="btn" href="/admin/users?cursor={{next_curs}}&filterType={{filterType}}&filterSearch={{filterSearch}}">Next Page</a>
	      		</div>
	      	</div>
	      	{% endif %}

		</div>
	</div>

{% endblock %}

{% block script %}

	<script type="text/javascript">

		$("body").on("click", ".delete-user", function(){
			userID = $(this).data("userid");
			function success(){
				$("#user-row-"+userID).remove();
			};
			$.ajax({
				type: "post",
				"url": "/admin/delete-user/"+userID,
				success: success
			}).fail(function(){
				console.log("something went wrong deleting a user")
			});
		})

		$("body").on("click", ".admin-approve-user", function(){
			var $this = $(this);
			var userID = $this.val();

			console.log("userID", userID);

			function success(data){
				console.log(data);
				if( !data["success"] ){
					//alert(data["message"]);
					$this.attr('checked', false);
				};
			};

			if ( $this.is(":checked") ){
				$.ajax({
					url: "/admin/approve-user",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to approve user");
				});
			}else{
				$.ajax({
					url: "/admin/unapprove-user",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to un-approve user");
				})
			};

		});

		$("body").on("click", ".admin-upgrade-user", function(){
			var $this = $(this);
			var userID = $this.val();

			console.log("userID", userID);

			function success(data){
				console.log(data);
				if( !data["success"] ){
					//alert(data["message"]);
					$this.attr('checked', false);
				};
			};

			if ( $this.is(":checked") ){
				$.ajax({
					url: "/admin/upgrade-user",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to upgrade user");
				});
			}else{
				$.ajax({
					url: "/admin/degrade-user",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to degrade user");
				})
			};

		});

		$("body").on("click", ".admin-make-sonic", function(){
			var $this = $(this);
			var userID = $this.val();

			console.log("userID", userID);

			function success(data){
				console.log(data);
				if( !data["success"] ){
					//alert(data["message"]);
					$this.attr('checked', false);
				};
			};

			if ( $this.is(":checked") ){
				$.ajax({
					url: "/admin/make-sonic",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to make sonic");
				});
			}else{
				$.ajax({
					url: "/admin/unmake-sonic",
					type: "post",
					data:{ userID: userID},
					success: success
				}).fail(function(){
					console.log("failed to un-make sonic");
				})
			};

		});




	</script>

{% endblock %}








