{% extends "users/admin.html" %}

{% block main %}

<div class="row">

	 <div class="col s12">
     
      <form method="post" action="/admin/static-page/{{page_name}}">
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" id="title" name="title" value="{{page.title|check_none}}"></input>
            <label for="title">Page Title</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <label for="title">Page Text</label>
            <textarea class="materialize-textarea" id="text" name="text">{{page.text|check_none}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <button class="btn" type="submit">Save</button>
          </div>
        </div>

      </form>

   </div>

</div>

{% endblock %}

{% block script %}

	<script type="text/javascript">

	</script>

{% endblock %}








