{% extends "index.html" %}

{% block main %}

	<div class="row container">
		<div class="col s12">



			<div class="row">
				<div class="col s12">
					<h3>Artists</h3>
				</div>
			</div>

			<div class="row">
				<div class="col s12">

					<ul class="collection">
						{% for artist in artists %}
					    <li class="collection-item avatar">
					      <img src="/static/img/profile.svg" alt="" class="circle">
					      <span class="title">
					      	{{artist.username}} - {{artist.name}}
					      	{% if artist.userType == 'curator' %}
					      		<span>( curator )</span>
					      	{% endif %}
					      </span>
					      <p>
					      	{{artist.locationName}}
					      </p>
					      <p>
					      	{{artist.description|safe}}
					      </p>
					    </li>
					    {% endfor %}
				  	</ul>

				</div>
			</div>


		</div>
	</div>

{% endblock %}


