{% extends "index.html" %}

{% block main %}

	<div class="row container">
		<div class="col s12">



			<div class="row">
				<div class="col s12">
					<h3>Curators</h3>
				</div>
			</div>

			<div class="row">
				<div class="col s12">

					<ul class="collection">
						{% for curator in curators %}
					    <li class="collection-item avatar">
					      <img src="/static/img/profile.svg" alt="" class="circle">
					      <span class="title">
					      	{{curator.username}} - {{curator.name}}
					      	{% if userObj and userObj.userType != 'casual' %}
					      		- <a href="#!">Request Landing Permission</a>
					      	{% endif %}
					      </span>
					      <p>
					      	{{curator.locationName}}
					      </p>
					      <p>
					      	{{curator.description|safe}}
					      </p>
					    </li>
					    {% endfor %}
				  	</ul>

				</div>
			</div>


		</div>
	</div>

{% endblock %}


