{% extends "index-users.html" %}

{% block main %}

	<div class="row container">
		<div class="col s12">



			<div class="row">
				<div class="col s12">
					<h3>Offered Landing Permissions</h3>
				</div>
			</div>

			<div class="row">
				<div class="col s12">

					<ul class="collection">
						{% for landingPermission in landingPermissions %}
					    <li class="collection-item avatar">
					      <span class="title">
					      	Landing permission for:  
					      	'<a href="/idea/{{landingPermission.idea.get().slug}}" target="_blank">{{landingPermission.idea.get().name}}</a>'
					      </span>
					      <p>
					      	Landing Date: {{landingPermission.landingDate|blog_date}}
					      </p>
					      <div class="row">
					      	<div class="col s12 center">
					      		{% if landingPermission.accepted %}
				      				Accepted
			      				{% elif landingPermission.accepted == False  %}
			      					Rejected
		      					{% else %}
		      						Not yet decided
			      				{% endif %}
					      	</div>
					      </div>
					    </li>
					    {% endfor %}
				  	</ul>

				</div>
			</div>


		</div>
	</div>

{% endblock %}

{% block modals %}
	
	<div id="savedModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">Response sent</h4>
	      <p id="">The curator has been notified of your decision.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>
  	<div id="errorModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">There was an error</h4>
	      <p id="errorMessage">Something went wrong, please try again later.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}


{% block script %}
	
	<script type="text/javascript">

		$("body").on("submit", ".landing-permission-response", function(e){

			e.preventDefault();

			var $form =  $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			var success = function(data){
				if ( data["message"] == "success" ){
					$("#savedModal").openModal();
					if ( data["landingPermissionID"] && data["accepted"] ){
						$("#accept-btn-"+data["landingPermissionID"]).attr("disabled", true);
					}else if( data["landingPermissionID"] && !data["accepted"] ){
						$("#accept-btn-"+data["landingPermissionID"]).attr("disabled", false);
					};
				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};

			submit_form_ajax($form, method, action, success);

		});

	</script>

{% endblock %}



