{% extends "index.html" %}

{% block main %}

	<div class="row container">
		<div class="col s12">



			<div class="row">
				<div class="col s12">
					<h3>Ideas</h3>
				</div>
			</div>

			<div class="row">
				<div class="col s12">

					{% if ideas %}
					<ul class="collection">
						{% for idea in ideas %}
					    <li class="collection-item avatar">
					      <span class="title">
					      	<a href="/idea/{{idea.slug}}">{{idea.name}}</a>
					      </span>
					      <p>
					      	Landing Requests: {{idea.landingRequests}}<br>
					      </p>
					      <p class="truncate">
					      	{{idea.description|safe}}
					      </p>
					    </li>
					    {% endfor %}
				  	</ul>
				  	{% else %}
				  		<p>No ideas</p>
				  	{% endif %}

				</div>
			</div>


		</div>
	</div>

{% endblock %}


