{% extends 'index.html' %}

{% block main %}

	<div class="row valign container">
		<div class="col s12">

			<h3>Nonterritorial Login</h3>

			<form action="/login" method="post">

				<div class="row">
			        <div class="input-field col s12">
			          <input id="username" name="username" type="text">
			          <label for="username">Username / email</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          <input id="password" type="password" name="password" class="validate">
			          <label for="password">Password</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          	<button class="btn"> Login </button>
			          	<p>
							First time, <a href="/register">Register here</a>
						</p>
			        </div>
		      	</div>
			</form>

		</div>
	</div>

{% endblock %}




