{% extends 'index.html' %}

{% block main %}

	<div class="row valign container">
		<div class="col s12">

			<h3>Nonterritorial Registration</h3>

			<form action="/register" method="post">

				<div class="row">
			        <div class="input-field col s12">
			          <input id="username" name="username" type="text" value="{{username}}">
			          <label for="username">Choose a Username</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          <input id="email" type="email" name="email" class="validate"  value="{{email}}">
			          <label for="email">Email</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          <input id="password" type="password" name="password" class="validate">
			          <label for="password">Password</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          <input id="verify_password" type="password" name="verify_password" class="validate">
			          <label for="verify_password">Repeat Password</label>
			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          	<input name="userType" type="radio" id="artist" value="artist"/>
      					<label for="artist">Artist</label>

      					<input name="userType" type="radio" id="collector" value="collector" />
      					<label for="collector">Collector</label>

      					<input name="userType" type="radio" id="curator" value="curator" />
      					<label for="curator">Curator</label>

      					<input name="userType" type="radio" id="airport" value="airport" />
      					<label for="airport">Airport</label>

      					<input name="userType" type="radio" id="freeport" value="freeport" />
      					<label for="freeport">Freeport</label>

      					<input name="userType" type="radio" id="casual" value="casual" checked="checked"/>
      					<label for="casual">Spectator</label>

			        </div>
		      	</div>
		      	<div class="row">
			        <div class="input-field col s12">
			          <button class="btn"> Register </button>
			        </div>
		      	</div>
			</form>

			{% if errors %}
			<div class="row">
				<div class="col s12">
					{% for error in errors %}
						{{error}}<br>
					{% endfor %}
				</div>
			</div>
			{% endif %}

		</div>
	</div>

{% endblock %}




