{% extends 'index-users.html' %}

{% block main %}

	<div class="row container">
		<div class="col s12">

			<div class="card">
	            <div class="card-content white-text">
	              <span class="card-title">New Idea</span>
	              <p>Tell us about your idea.</p>
	            </div>
            </div>

            <div class="row">
	            <div class="col s12">
	              
	            	<form id="ideaPost" method="post" action="/me/new-idea" enctype="multipart/form-data">

	            		<div class="row">
	            			<div class="col s12  input-field">
	            				<input id="name" class="" type="text" name="name">
	            				<label for="name">Idea's name</label>
	            			</div>
	            		</div>
	            		<div class="row">
	            			<div class="col s12">
	            				<div class="editable-label">Idea description</div>
	            				<textarea id="description" name="description" class="editable"></textarea>
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div class="col s12">
	            				<div class="editable-label">Setup Notes</div>
	            				<textarea id="notes" name="notes" class="editable"></textarea>
	            			</div>
	            		</div>

	            		{% if tags %}

	            		<div class="row">
	            			<div class="col s12">
	            					<div class="editable-label">Tag your idea and be discovered by a curator more easily.</div>
	            				{% for tag in tags %}
	            					<div class="chip selectable-tag-input" data-tag-id="{{tag.key.id()}}">
									    {{tag.tag}}
								  	</div>
	            				{% endfor %}
	            				<input type="hidden" id="tags" name="tags">
	            			</div>
	            		</div>

	            		{% endif %}

	            		<div class="row">
	            			<div id="gmap-container" class="col s12">
	            				<div class="editable-label">Choose a Location ( where your moment takes place )</div>
	            				<div id="gmap" class=""></div>
	            				<div class="loading-container hidden">
	            					<i class="fa fa-cog fa-spin"></i> Loading Map
	            				</div>
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div class="col s12  input-field">
	            				<div class="editable-label">or type the Address</div>
	            				<input id="address" name="address" class="" type="text" value="">
	            			</div>
	            			<div class="col s12 right-align">
	            				<div id="geocodeAddress" class="btn">Find Address</div>
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div id="uploadedFiles" class="col s12">
	            				
	            			</div>
	            		</div>

	            		<div class="row">
            			<div id="" class="col s12">
            				<div class="editable-label">Make the idea public ( you can change this later )</div>
        					<div class="switch">
							    <label>
						      		Private
						      		<input id="publicIdeaSwitch" type="checkbox">
						      		<span class="lever"></span>
						      		Public
						    	</label>
						  	</div>
        				</div>
            		</div>

	            		<div class="row">
	            			<div class="col s12">

	            				<input id="country" name="country" type="hidden">
	            				<input id="locality" name="locality" type="hidden">
	            				<input id="ideaLocation" name="ideaLocation" type="hidden">

	            				<input type="hidden" id="ideaID" name="ideaID" value="">

	            				<input type="hidden" id="public" name="public" value="no">

	            				{% if userObj.flightCode %}
					            	<button id="ideaSubmitBtn" class="btn">Submit Idea</button>
								{% else %}
									<button id="ideaSubmitBtn" class="btn disabled" disabled>Submit Idea</button>
								{% endif %}

	            			</div>
	            		</div>

	            	</form>

	            </div>
            </div>

            {% if userObj.flightCode %}
            <div class="row">
				<div class="col s12">
					<a id="uploadVideoFormLink" href="/me/idea/video-upload">Upload a video</a><!-- submit idea form before following the link... see js -->
				</div>
			</div>
            <div class="row">
				<div class="col s12">
					<div class="editable-label">Upload a File(s)</div>
					<form action="/file/upload" class="dropzone" id="dropzone">
						<input type="hidden" name="entityKind" id="entityKind" value="Idea">
						<input type="hidden" name="entityID" id="entityID" value="">
					</form>
				</div>
			</div>
			{% else %}
			<div class="row">
				<div class="col s12">
					<p>You need to set a <a href="/me">3 letter flight code</a>, before you can submit an idea.</p>
				</div>
			</div>
			{% endif %}

            <!-- {% if ideas %}
	            <div class="row">
	            	<div class="col s12">

	            		<ul id="ideaList" class="collapsible" data-collapsible="accordion">
						    {% for idea in ideas %}
						    <li>
						      <div class="collapsible-header idea-name">{{idea.name}}</div>
						      <div class="collapsible-body">
						      	<div class="row">
						      		<div class="col s12 idea-description">
						      			{{idea.description|safe}}
						      		</div>
						      	</div>
						      	<div class="row">
						      		<div class="col s12">
						      			<p>
						      				<a class="idea-link" href="/idea/{{idea.slug}}">View Idea</a>
						      				 | 
						      				<a class="idea-edit-link" href="/me/idea/edit/{{idea.slug}}">Edit Idea</a>
						      			</p>
						      		</div>
						      	</div>
						      </div>
						    </li>
						    {% endfor %}
					  	</ul>

	            	</div>
	            </div>
            {% endif %} -->

	            

		</div>
	</div>

{% endblock %}

{% block modals %}

  	<div id="applicationSubmissionModal" class="modal">
	    <div class="modal-content">
	      <h4>Thanks!</h4>
	      <p>Your Application has been received, we'll let you know if you've been accepted shortly.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="saveCodeModal" class="modal">
	    <div class="modal-content">
	      <h4 id="codeTitle"></h4>
	      <p id="codeMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="savedModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">Saved</h4>
	      <p id="">Your idea has been saved, visit <a href="/me/ideas">this page</a> to see your idea list.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="errorModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">There was an error</h4>
	      <p id="errorMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}

{% block script %}

	<script type="text/javascript" src="/static/js/gmaps.js"></script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug&callback=initMap">
    </script>

	<script type="text/javascript">
		// Some AJAX Form Submissions
		
		$("body").on("submit", "#ideaPost", function(e){

			e.preventDefault();

			var $form =  $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			var success = function(data){
				if ( data["message"] == "success" ){

					$form[0].reset();
					$(".editable").html("");
					$("#uploadedFiles").empty();

					$("#savedModal").openModal();

				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};

			submit_form_ajax($form, method, action, success);

		});

	</script>

	<!-- This script is slightly different to the similar script in user-idea-edit.html, 
	since here we'll save the privacy settign with the rest of the data -->
	<script type="text/javascript"> 
		$("body").on("change", "#publicIdeaSwitch", function(){

			var $this = $(this);
			var isPublic = "";

			if ( $this.is(":checked") ){
				$("#public").val("yes");
			}else{
				$("#public").val("no");
			};

		});

	</script>

	<!-- Before uploading a video need to clone all form fields and save idea -->
	<script type="text/javascript">
		$("body").on("click", "#uploadVideoFormLink", function(e){
				e.preventDefault();
				var $form = $("#ideaPost");
				var ideaName = $("#name").val();

				var success = function(data){
					if ( data["message"] == "success" ){

						var ideaID = data["ideaID"];
						if ( ideaID ){
							$("#ideaID").val(ideaID);
							window.location.href = "/me/idea/video-upload?ideaID="+ideaID;
						}else{
							alert("something went wrong... going to video upload page.");s
						};

					}else{
						$errorModal = $("#errorModal");
						var errors = data["errors"];
						$errorMessage = $errorModal.find("#errorMessage");
						for ( var i=0; i<errors.length; i++ ){
							$errorMessage.html("");
							$errorMessage.append(errors[i]+"<br>");
						};
						$errorModal.openModal();
					};
				};

				if ( !ideaName.length > 0 ){
					
					$errorModal = $("#errorModal");
					var errors = ["Please include a name for your idea, before uploading a video ( you can edit it later. )"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();

				}else{
					var method = $form.attr("method");
					var action = $form.attr("action");
					submit_form_ajax($form, method, action, success);
				};

		});
	</script>

{% endblock %}


