{% extends 'index-users.html' %}

{% block main %}

	<div class="row container">
		<div class="col s12">

			<div class="card">
	            <div class="card-content white-text">
	              <span class="card-title">Upload a Video</span>
	            </div>
            </div>

            <div class="row">
				<div class="col s12">
					<div class="editable-label">Upload a Video</div>
					<form class="" id="videoUploadForm" method="post" action="https://storage.googleapis.com/{{ form_bucket }}" enctype="multipart/form-data">

						<input type="hidden" id="key" name="key" value="">
		                <input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
		                <input type="hidden" name="acl" value="bucket-owner-read">
		                <input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
		                <input type="hidden" name="success_action_status" value="201">
						<!-- <input type="hidden" name="x-goog-meta-user-id" value="{{ form_user_id }}"> -->
		                <input type="hidden" name="policy" value="{{ form_policy }}">
		                <input type="hidden" name="signature" value="{{ form_signature }}">

		                <!-- need to generate this in the policy document before rendering the form -->
						<!-- <input type="hidden" name="userID" id="userID" value="1234567890">
						<input type="hidden" name="ideaID" id="ideaID" value="1234567890"> -->

						<div class="file-field input-field">
					      <div id="fileInputContainer" class="btn">
					        <span>File</span>
					        <input id="videoFileInput" type="file" name="file">
					      </div>
					      <div class="file-path-wrapper">
					        <input class="file-path validate" type="text">
					      </div>
					    </div>

						<button id="videoSubmitButton" type="submit" class="btn">Upload</button>

					</form>

					<div id="videoProgress" class="progress hidden">
				      	<div class="indeterminate"></div>
				      	<br>
				  	</div>
				  	<div id="videoProgressMessage" class="hidden">
				  		<p>Video uploads may take a while depending on your upload speed and internet connection.</p>
				  	</div>

				</div>
			</div>


            <div class="row">
	            <div class="col s12">
	              
	              	<form id="gcs-form" method="post" action="https://storage.googleapis.com/{{ form_bucket }}" enctype="multipart/form-data">
			            <div class="form-group">
			                <input type="hidden" id="key" name="key" value="">
			                <input type="hidden" name="GoogleAccessId" value="{{ form_access_id }}">
			                <input type="hidden" name="acl" value="bucket-owner-read">
			                <input type="hidden" name="success_action_redirect" value="{{ form_succes_redirect }}">
			                <input type="hidden" name="success_action_status" value="201">
			                
			                <!-- <input type="hidden" name="x-goog-meta-user-id" value="{{ form_user_id }}"> -->
			                
			                <input type="hidden" name="policy" value="{{ form_policy }}">
			                <input type="hidden" name="signature" value="{{ form_signature }}">
			                <label>Direct GCS upload</label>
			                <div class="input-group">
			                    <span class="input-group-btn">
			                        <span class="btn btn-primary btn-file">
			                            Browse&hellip;<input type="file" id="file" name="file" class="form-control">
			                        </span>
			                    </span>
			                    <label for="file_name"></label>
			                    <input id="file_name" name="filename" type="text" class="form-control" readonly placeholder="Browse for a file">
			                </div>
			            </div>
			            {%- if form_folders %}
			            <div class="form-group">
			                <label for="folder">Bucket / folder</label>
			                <select id="folder" class="form-control">
			                    <option value="default" selected>{{ form_bucket }}</option>
			                    <!-- {%- for each in form_folders %}
			                    <option value="{{ each }}"{% if form_folder|default('default') == each %} selected{% endif %}>{{ form_bucket }}/{{ each }}</option>
			                    {%- endfor %} -->
			                </select>
			            </div>
			            {%- endif %}
			            <div class="form-group">
			                <label for="submit">&nbsp;</label>
			                <input id="submit" type="submit" class="btn btn-primary pull-right" value="Upload">
			                <!-- <input type="button" value="Reset"  class="btn btn-primary pull-left"
			                       onclick="location.replace('{ uri_for('gcs_upload', _full=True) }');">
			            </div>
			        </form>

	            </div>
            </div> -->

		</div>
	</div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block script %}

	<script type="text/javascript">
		$("body").on("submit", "#videoUploadForm", function(){
			$("#videoSubmitButton").attr("disabled", true);
			$("#videoFileInput").attr("disabled", true);
			$("#fileInputContainer").addClass("disabled");
			$("#videoProgress").removeClass("hidden");
			$("#videoProgressMessage").removeClass("hidden");
		});
	</script>

{% endblock %}


