{% extends 'index-users.html' %}

{% block main %}

	<div class="row valign container">
		<div class="col s12">

			<div class="card blue-grey darken-1">
	            <div class="card-content white-text">
	              <span class="card-title">{{userProfile.username}}</span>
	              <p>...profile description</p>
	            </div>
	            <div class="card-content white-text">
	              {{userProfile.userType}}
	            </div>
	            {% if userProfile.flightCode %}
		            <div class="card-content white-text">
		              {{userProfile.flightCode}}
		            </div>
	            {% endif %}
	            <div class="card-content white-text">
	              <a href="#userMessage" class="modal-trigger btn">Send a Message</a>
	            </div>
          	</div>

		</div>
	</div>

{% endblock %}

{% block modals %}

  	<div id="userMessage" class="modal">
	    <div class="modal-content">
	      <h4>Thanks!</h4>
	      <p>Your message has been sent.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}

{% block script %}

	<script type="text/javascript">
	</script>

{% endblock %}


