{% extends 'index-users.html' %}

{% block main %}

	<div class="row container">
		<div class="col s12">

			<div class="card">
	            <div class="card-content">
	              <span class="card-title">Edit Idea - {{idea.name}}</span>
	              <p>Edit mode</p>
	            </div>
            </div>

            <div class="row">
	            <div class="col s12">

	            	<form id="ideaPost" method="post" action="/me/new-idea" enctype="multipart/form-data">

	            		<div class="row">
	            			<div class="col s12  input-field">
	            				<div class="editable-label">Idea's name</div>
	            				<input id="name" class="" type="text" name="name" value="{{idea.name|check_none}}">
	            				<!-- <label for="name">Idea's name</label> -->
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div class="col s12">
	            				<div class="editable-label">Idea description</div>
	            				<textarea id="description" name="description" class="editable">{{idea.description|check_none|safe}}</textarea>
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div class="col s12">
	            				<div class="editable-label">Setup Notes</div>
	            				<textarea id="notes" name="notes" class="editable">{{idea.notes|check_none|safe}}</textarea>
	            			</div>
	            		</div>

	            		<!-- <div class="row">
	            			<div class="col s12 file-field input field">
	            				<div class="editable-label">Upload another File</div>
	            				<div class="btn">
							        <span>File</span>
							        <input id="file" type="file" name="file">
						      	</div>
						      	<div class="file-path-wrapper">
							        <input class="file-path validate" type="text">
						      	</div>
	            			</div>
	            		</div> -->

	            		<div class="row">
	            			<div id="gmap-container" class="col s12">
	            				<div class="editable-label">Choose a Location ( your takeoff location )</div>
	            				<div id="gmap" class=""></div>
	            				<div class="loading-container hidden">
	            					<i class="fa fa-cog fa-spin"></i> Loading Map
	            				</div>
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div id="uploadedFiles" class="col s12">
	            				{% for file in idea.files %}
	            					<div id="file-container-{{file.id()}}" class="row">
	            						<div class="col s12 m6 idea-edit-image-thumb-container">
		            						{{file|renderFileItem|safe}}
	            						</div>
	            						<div class="col s12 m6">
		            						<p>
										      <input type="checkbox" name="delete-file-{{file.id()}}" id="delete-{{file.id()}}" value="{{file.id()}}" />
										      <label for="delete-{{file.id()}}">Delete</label>
										    </p>
										    <p>
										      <input type="radio" name="ideaCover" id="cover-{{file.id()}}" value="{{file.get().image_url}}" />
										      <label for="cover-{{file.id()}}">Idea Cover</label>
										    </p>
	            						</div>
	            					</div>
	            				{% endfor %}
	            			</div>
	            		</div>

	            		<div class="row">
	            			<div class="col s12">

	            				<input id="ideaLocation" name="ideaLocation" type="hidden" value="{{idea.location|locationLatLng}}">
	            				<input type="hidden" id="ideaID" name="ideaID" value="{{idea.key.id()}}">

	            				<button class="btn">Save Idea</button>
	            				
	            			</div>
	            		</div>

	            	</form>

	            	<div class="row">
            			<div id="" class="col s12">
            				<div class="editable-label">Private</div>
        					<div class="switch">
							    <label>
						      		Private
						      		{% if idea.public %}
					      				<input id="publicIdeaSwitch" type="checkbox" data-idea-id="{{idea.key.id()}}" checked="checked">
						      		{% else %}
						      			<input id="publicIdeaSwitch" type="checkbox" data-idea-id="{{idea.key.id()}}">
						      		{% endif %}
						      		<span class="lever"></span>
						      		Public
						    	</label>
						  	</div>
        				</div>
            		</div>

	            </div>
            </div>

            <div class="row">
				<div class="col s12">
					<a id="uploadVideoFormLink" href="/me/idea/video-upload">Upload a video</a><!-- submit idea form before following the link... see js -->
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="editable-label">Upload a File(s)</div>
					<form action="/file/upload" class="dropzone" id="dropzone">
						<input type="hidden" name="entityKind" id="entityKind" value="Idea">
						<input type="hidden" name="entityID" id="entityID" value="{{idea.key.id()}}">
					</form>
				</div>
			</div>

	            

		</div>
	</div>

{% endblock %}

{% block modals %}
	
	<div id="savedModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">Saved</h4>
	      <p id="">Your changes have been saved.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>
  	<div id="errorModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">There was an error</h4>
	      <p id="errorMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}

{% block script %}
	
	<script type="text/javascript" src="/static/js/gmaps.js"></script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug&callback=initMap">
    </script>

    	<script type="text/javascript">
		// Some AJAX Form Submissions
		
		$("body").on("submit", "#ideaPost", function(e){

			e.preventDefault();

			var $form =  $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			var success = function(data){
				if ( data["message"] == "success" ){
					var $li_html = $( "ul#ideaList" ).children("li").first().clone();

					var ideaName = data["ideaName"];
					var ideaDescription = data["ideaDescription"];
					var ideaSlug = data["ideaSlug"];
					var deleted_file_ids = data["deleted_file_ids"];

					for ( var i=0; i<deleted_file_ids.length; i++ ){
						$("#file-container-"+deleted_file_ids[i]).remove();
					};

					$li_html.find(".idea-name").html(ideaName);
					$li_html.find(".idea-description").html(ideaDescription);
					$li_html.find(".idea-link").attr("src", "/idea/"+ideaSlug);
					$li_html.find(".idea-edit-link").attr("src", "/me/idea/edit/"+ideaSlug);

					$( "ul#ideaList" ).prepend($li_html);

					/*$form[0].reset();
					$(".editable").html("");*/
					$("#savedModal").openModal();

				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};

			submit_form_ajax($form, method, action, success);

		});

	</script>

	<script type="text/javascript">

		$("body").on("change", "#publicIdeaSwitch", function(){

			var $this = $(this);
			var isPublic = "";

			if ( $this.is(":checked") ){
				isPublic = "yes";
			}else{
				isPublic = "no";
			};

			var ideaID = $this.data("idea-id");

			function success(){
				console.log("toggled idea provacy settings");
			};

			$.ajax({
				"url": "/me/make-idea-public",
				"type": "post",
				"data": {"ideaID": ideaID, "public": isPublic},
				"success": success
			}).fail(function(){
				console.log("failed to toggle privacy settings for idea");
			});

		});

	</script>

	<!-- Before uploading a video need to clone all form fields and save idea -->
	<script type="text/javascript">
		$("body").on("click", "#uploadVideoFormLink", function(e){
				e.preventDefault();
				var $form = $("#ideaPost");
				var ideaName = $("#name").val();

				var success = function(data){
					if ( data["message"] == "success" ){

						var ideaID = data["ideaID"];
						if ( ideaID ){
							window.location.href = "/me/idea/video-upload?ideaID="+ideaID;
						}else{
							alert("something went wrong... going to video upload page.");s
						};

					}else{
						$errorModal = $("#errorModal");
						var errors = data["errors"];
						$errorMessage = $errorModal.find("#errorMessage");
						for ( var i=0; i<errors.length; i++ ){
							$errorMessage.html("");
							$errorMessage.append(errors[i]+"<br>");
						};
						$errorModal.openModal();
					};
				};

				if ( !ideaName.length > 0 ){
					
					$errorModal = $("#errorModal");
					var errors = ["Please include a name for your idea, before uploading a video ( you can edit it later. )"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();

				}else{
					var method = $form.attr("method");
					var action = $form.attr("action");
					submit_form_ajax($form, method, action, success);
				};

		});
	</script>

{% endblock %}


