{% extends 'index-users.html' %}

{% block main %}

	<div class="row valign container">
		<div class="col s12">

			<div class="card">
	            <div class="card-content">
	              <span class="card-title">Hello {{userObj.username}}</span>
	            </div>

	            {% if userObj.userType != 'casual' %}
	            <div class="card-content white-text">
	              	Claim an Idea Code ( 3 letters A-Z ) 
	              	<a class="tooltipped" data-position="top" data-delay="50" data-tooltip="This is a code unique to you and will be used to label your ideas">(?)</a>
	              	<div id="dynamically-added-code-container" class="row {{userObj|hasFlightCode}}">
		              	<div class="col s12">
		              		Your Code: <span id="dynamically-added-code">{{userObj.flightCode}}</span>
		              	</div>
	              	</div>
	              	<div class="row">
	              		<div class="col s12">
	              			<form id="ideaCodeForm" method="post" action="/user/saveCode">
	              				<input placeholder="type a 3 letter code eg. DXB" type="text" id="ideaCode" name="ideaCode" pattern="[A-Za-z]{3}" maxlength="3" value="{{userObj.flightCode|check_none}}">
	              				<button class="btn">Claim</button>
	              			</form>
	              		</div>
	              	</div>
	            </div>

	            <div class="card-content white-text center">
	              <a class="btn" href="/me/new-idea">Submit an Idea</a>
	            </div>

	            {% endif %}

	            <div class="card-content white-text">
	              	<h5>Settings</h5>
	              	<div class="row">
	              		<div class="col s12">
	              			<form id="userSettingsForm" method="post" action="/me/saveSettings">

	              				<div class="row">
				        			<div id="" class="col s12">
				        				<input placeholder="Your name" type="text" id="name" name="name" value="{{userObj.name|check_none}}">
				        			</div>
				        		</div>

				        		<div class="row">
				        			<div id="" class="col s12">
				        				<div class="editable-label">About</div>
	            						<textarea id="about" name="about" class="editable">{{userObj.about|check_none}}</textarea>
				        			</div>
				        		</div>

	              				<div class="row">
				        			<div id="gmap-container" class="col s12">
				        				<div class="editable-label">Choose your takeoff Location</div>
				        				<div id="gmap" class=""></div>
				        				<div class="loading-container hidden">
				        					<i class="fa fa-cog fa-spin"></i> Loading Map
				        				</div>
				        			</div>
				        		</div>

				        		<div class="row">
			            			<div class="col s12  input-field">
			            				<div class="editable-label">or type the Address</div>
			            				<input id="address" name="address" class="" type="text" value="{{userObj.address|check_none}}">
			            			</div>
			            			<div class="col s12 right-align">
			            				<div id="geocodeAddress" class="btn">Find Address</div>
			            			</div>
			            		</div>

			            		<input id="country" name="country" type="hidden" value="{{userObj.country|check_none}}">
	            				<input id="locality" name="locality" type="hidden" value="{{userObj.locality|check_none}}">
	              				<input id="ideaLocation" name="ideaLocation" type="hidden" value="{{userObj.location|locationLatLng}}">
	              				<button class="btn">Save Settings</button>
	              			</form>
	              		</div>
	              	</div>
	            </div>


	            <div class="card-content white-text">
	              	Username - {{userObj.username}}
	              	<div class="row">
	              		<div class="col s12">
	              			<form id="changeUsernameForm" class="changeSettingsForm" method="post" action="/me/change-username">
	              				<input placeholder="change username" type="text" id="username" name="username" class="requires-password">
	              				<div class="transition slide-vertical">
	              					<input placeholder="your password" type="password" id="password" name="password">
	              				</div>
	              				<button class="btn">Change</button>
	              			</form>
	              		</div>
	              	</div>
	            </div>

	            <div class="card-content white-text">
	              	Email - {{userObj.email}}
	              	<div class="row">
	              		<div class="col s12">
	              			<form id="changeEmailForm" class="changeSettingsForm" method="post" action="/me/change-email">
	              				<input placeholder="change email" type="text" id="email" name="email" class="requires-password">
	              				<div class="transition slide-vertical">
	              					<input placeholder="your password" type="password" id="password" name="password">
	              				</div>
	              				<button class="btn">Change</button>
	              			</form>
	              		</div>
	              	</div>
	            </div>
	            <div class="card-content white-text">
	              Change my password
	              <div class="row">
	              		<div class="col s12">
	              			<form id="changePasswordForm" class="changeSettingsForm" method="post" action="/me/change-password">
	              				<input placeholder="Your new password" type="password" id="new_password" name="new_password" class="requires-password">
	              				<div class="transition slide-vertical">
	              					<input placeholder="your old password" type="password" id="password" name="password">
	              				</div>
	              				<button class="btn">Change</button>
	              			</form>
	              		</div>
	              	</div>
	            </div>


	            <div class="card-action">
            		<a id="application-progress-container" href="#!" class="{{userObj|hideIfHasProperty('applicationProgress')}}"> 
            			Application in Progress
            		</a>
	              		
              		<div id="application-container" class="{{userObj|hideIfHasNotProperty('applicationProgress')}}">
	              		{% if userObj.userType != 'curator' %}
	              		<a class="application-submission" href="#curatorModal" data-application-type="curator">
		              			Apply to become a curator <i class="fa fa-cog fa-spin hidden"></i>
	              		</a>
	              		{% endif %}
	              		{% if userObj.userType == 'casual' %}
	              		<a class="application-submission" href="#artistModal" data-application-type="artist">
		              			Apply to become an artist <i class="fa fa-cog fa-spin hidden"></i>
	              		</a>
	              		{% endif %}
	              		<a class="application-submission" href="#!" data-application-type="private">
		              			<strike>Apply to become a private user <i class="fa fa-cog fa-spin hidden"></i></strike>
	              		</a>
	              	</div>
	            </div>
          	</div>

		</div>
	</div>

{% endblock %}

{% block modals %}

  	<!-- <div id="curatorModal" class="modal">
	    <div class="modal-content">
	      <h4>Thanks!</h4>
	      <p>Your Application has been received, we'll let you know if you've been accepted shortly.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="artistModal" class="modal">
	    <div class="modal-content">
	      <h4>Thanks!</h4>
	      <p>Your Application has been received, we'll let you know if you've been accepted shortly.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div> -->

  	<div id="applicationSubmissionModal" class="modal">
	    <div class="modal-content">
	      <h4>Thanks!</h4>
	      <p>Your Application has been received, we'll let you know if you've been accepted shortly.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="saveCodeModal" class="modal">
	    <div class="modal-content">
	      <h4 id="codeTitle"></h4>
	      <p id="codeMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="savedModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">Saved</h4>
	      <p id="">Your settings have been saved.</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

  	<div id="errorModal" class="modal">
	    <div class="modal-content">
	      <h4 id="">There was an error</h4>
	      <p id="errorMessage"></p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
	    </div>
  	</div>

{% endblock %}

{% block script %}

	<script type="text/javascript" src="/static/js/gmaps.js"></script>
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxGpUAKWy3DmwRfsqr8IJZENrOw1XTnug&callback=initMap">
    </script>

	<script type="text/javascript">
		// Some AJAX Form Submissions

		$("body").on("click", ".application-submission", function(){
			var $this = $(this);
			$this.find("i").removeClass('hidden');
			var applicationType = $this.data("application-type");

			console.log("applicationType", applicationType);

			function successApplication(applicationData){
				$this.find("i").removeClass('hidden');
				$("#application-container").addClass("hidden");
				$("#application-progress-container").removeClass("hidden");
				$('#applicationSubmissionModal').openModal();
			};

			$.ajax({
				url: "/user/application",
				type: "post",
				data: {"applicationType": applicationType},
				success: successApplication
			}).fail(function(){
				alert("something went wrong - application error");
			});
		});


		$("body").on("submit", "#ideaCodeForm", function(e){
			
			e.preventDefault();

			var $this = $(this);
			$this.find("i").removeClass('hidden');
			var ideaCode = $("#ideaCode").val();

			function successSaveCode(applicationData){
				$this.find("i").removeClass('hidden');
				if ( applicationData["message"] == "success" ){
					var title = "You've claimed your code!";
					var message = applicationData["long_message"];
				}else{
					var title = "There was a problem claiming your code.";
					var message = applicationData["long_message"];
				};
				$( "#codeTitle" ).html( title );
				$( "#codeMessage" ).html( message );

				$("#dynamically-added-code").html(applicationData["code"]);
				$("#dynamically-added-code-container").removeClass("hidden");

				$( '#saveCodeModal' ).openModal();
			};

			$.ajax({
				url: $this.attr("action"),
				type: $this.attr("method"),
				data: {"ideaCode": ideaCode},
				success: successSaveCode
			}).fail(function(){
				alert("something went wrong - saving code error");
			});
		});
		
		$("body").on("submit", "#userSettingsForm", function(e){

			e.preventDefault();

			var $form =  $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");

			var success = function(data){
				if ( data["message"] == "success" ){

					$("#savedModal").openModal();

				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};

			submit_form_ajax($form, method, action, success);

		});

		$("body").on("submit", ".changeSettingsForm", function(e){
			e.preventDefault();
			var $form = $(this);
			var method = $form.attr("method");
			var action = $form.attr("action");
			var success = function(data){
				if ( data["message"] == "success" ){

					$("#savedModal").openModal();

				}else{
					$errorModal = $("#errorModal");
					var errors = data["errors"];
					$errorMessage = $errorModal.find("#errorMessage");
					for ( var i=0; i<errors.length; i++ ){
						$errorMessage.html("");
						$errorMessage.append(errors[i]+"<br>");
					};
					$errorModal.openModal();
				};
			};
			submit_form_ajax($form, method, action, success);
		});

	</script>

{% endblock %}


