{% extends "index-users.html" %}

{% block main %}

	<div class="row container">
		<div class="col s12">



			<div class="row">
				<div class="col s12">
					<h3>My Ideas</h3>
				</div>
			</div>

			<div class="row">
				<div class="col s12">

					{% if ideas %}
			            <div class="row">
			            	<div class="col s12">

			            		<ul id="ideaList" class="collapsible" data-collapsible="accordion">
								    {% for idea in ideas %}
								    <li>
								      <div class="collapsible-header idea-name">{{idea.name}}</div>
								      <div class="collapsible-body">
								      	<div class="row">
								      		<div class="col s12 idea-description">
								      			{{idea.description|safe}}
								      		</div>
								      	</div>
								      	<div class="row">
								      		<div class="col s12">
								      			<p>
								      				<a class="idea-link" href="/idea/{{idea.slug}}">View Idea</a>
								      				 | 
								      				<a class="idea-edit-link" href="/me/idea/edit/{{idea.slug}}">Edit Idea</a>
								      			</p>
								      		</div>
								      	</div>
								      </div>
								    </li>
								    {% endfor %}
							  	</ul>

			            	</div>
			            </div>
		            {% else %}
		            	<p>You don't have any ideas yet, why not <a href="/me/new-idea">add one</a>?</p>
		            {% endif %}

				</div>
			</div>


		</div>
	</div>

{% endblock %}


